<template>
    <div class="bottom-card2">
        <div class="form">
            <form>
                <b-dropdown id="dropdown ARIA" size="sm"  variant="link" toggle-class="text-decoration-none" no-caret>
                        <template v-slot:button-content>
                        <div class="dropdown-sec">
                            <p class="choose">Меня интересует</p>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        </template>
                    <b-dropdown-item class="hey">Продвижение сайтов</b-dropdown-item>
                    <b-dropdown-item class="hey">Продвижение в соц сетях</b-dropdown-item>
                    <b-dropdown-item class="hey">Копирайтинг</b-dropdown-item>
                    <b-dropdown-item class="hey">Контекстная реклама</b-dropdown-item>
                    <b-dropdown-item class="hey">Таргетированная реклама</b-dropdown-item>
                    <b-dropdown-item class="hey">Создание и разработка сайтов</b-dropdown-item>
                </b-dropdown>
                <input type="name" class="name" placeholder="Имя">
                <input type="text" class="mob" placeholder="Ел.почта или моб. телефон">
                <input type="text" class="descr" placeholder="Описание проекта (желательно)">
                <div class="checkbox">
                  <input type="checkbox" id="checkbox_1">
                  <label for="checkbox_1">Принимаю условия пользовательского соглашения и политики конфиденциальности</label>
                </div>
            </form>
        </div>
        <h6> хотите уточнить стоимость услуг?</h6>
        <h1>ДАВАЙТЕ РАСКРОЕМ <br/> ВОЗМОЖНОСТИ <br/> ВАШЕГО БИЗНЕСА!</h1>
        <div class="angle">рассчитать стоимость</div>
    </div>
</template>

<script>
var $ = require('jquery');
window.jQuery = $;


export default {
    name: 'BottomCallCard2',
    mounted: function(){ 
        $(".dropdown-menu li a").click(function(){

            $(".choose").text($(this).text());
            $(".choose").val($(this).text());

            $(".choose").css('opacity', '1');

        });
    },
    components:{
    },
    computed:{
        currentPage(){
        return this.$route.name
        },
    },
    methods: {
        goVacancies() 
        {
            this.$router.push({path:'/vacancies'})
        }
    },
}
</script>

<style scoped>
    .hey
    {
        font-family: 'Roboto';
        text-decoration: none !important;
        transition: 0.3s;
        font-size: 14px;
    }

    .checkbox input[type="checkbox"] {
      opacity: 0;
      width: auto;
      margin: 0;
      /* margin-top: 2%; */
      padding: 0;
      position: absolute;
      width: 100%;
      left: 0;
      z-index: 10;
      height: 40px;
    }

    .checkbox label {
        position: relative;
        display: inline-block;
        padding-left: 30px;
        padding-top: 15px;
        left: 7%;
        font-family: 'Roboto';
        font-size: 12px;
        user-select: none;
        color: white;
    }

    .checkbox label::before,
    .checkbox label::after {
        position: absolute;
        content: "";
        display: inline-block;
        transition: 0.3s;
    }

    .checkbox label::before{
        height: 17px;
        width: 17px;
        
        border: 1px solid #8b8b8b;
        left: 2px;
        top: 15px;
    }

    .checkbox label::after {
        height: 5px;
        width: 9px;
        border-left: 1px solid;
        border-bottom: 1px solid;
        transform: rotate(-45deg);
        left: 6px;
        top: 20px;
        color: #ffcd33;
    }
    .checkbox input[type="checkbox"] + label::after {
        content: none;
    }
    .checkbox input[type="checkbox"]:checked + label::after {
        content: "";
    }
    .checkbox input[type="checkbox"]:focus + label::before {
        /* outline: rgb(59, 153, 252) auto 5px; */
    }

    .checkbox input[type="checkbox"]:hover + label::before {
        border: 1px solid #ffcd33;
    }

    input
    {
        background: transparent;
        border: 0;
        border-bottom: 0.5px solid rgba(255,255,255,0.5);
        margin-left: 7%;
        width: 39.5%;
        padding: 10px 0;
        margin-top: 5%;
        font-size: 0.7vw;
        font-weight: normal;
        color: white;
        font-family: 'Roboto';
    }

    .descr
    {
        width: 86%;
    }

    input::placeholder
    {
        color: white;
        opacity: 0.5;
    }

    .fa-chevron-down
    {
        display: inline-block;
        float: right;
        line-height: 20px;
        color: #ffcd33;
    }

    .dropdown-sec p
    {
        display: inline-block;
        color: white;
        opacity: 0.5;
        /* font-size: 12px; */
    }

    .dropdown-sec
    {
        width: 90%;
        margin-left: 5%;
        color: white;
        font-family: 'Roboto';
        padding: 10px 0;
        border-bottom: 0.5px solid rgba(255,255,255,0.5);
        font-size: 15px;
        text-align: left;
    }
    .dropdown
    {
        width: 100%;
    }

    .btn-secondary
    {
        background-color: transparent !important;
    }

    .form
    {
        width: 50%;
        height: 100%;
    }

    .form form
    {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .bottom-card2
    {
        width: 69.5vw;
        height: 400px;
        background-color: #6654cb;
        margin: 70px auto;
        background-image: url('../../assets/bottom-calling-card2.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }

    .bottom-card2 h6, .bottom-card2 h1
    {
        color: white;
        position: absolute;
        left: 55%;
        font-family: 'Kepler';
        font-weight: 100;
        text-transform: uppercase;
        /* margin-left: 5%; */
    }

    .bottom-card2 h6
    {
        font-size: 14px;
        top: 20%;
    }

    .bottom-card2 h1
    {
        font-size: calc(1vw + 1.2vh + 1vmin) !important;
        top: 30%;
    }

    .angle
    {
        position: absolute;
        width: 14vw;
        left: 55%;
        bottom: 10%;
    }

    @media only screen and (max-width: 778px) 
    {
        .hey
        {
            font-size: 8px;
        }

        input
        {
            font-size: 2.7vw;
        }


        .dropdown-sec
        {
            margin-left: 2%;
            width: 94%;
        }

        .dropdown-sec p
        {
            font-size: 2.7vw;
            margin: 0;
        }

        .checkbox label {
            padding-top: 15px;
            left: 6%;
            font-size: 9px;
            width: 90%;
        }

        .checkbox label::before{
            left: 2px;
            top: 18px;
        }

        .checkbox label::after {
            left: 6px;
            top: 23px;
        }

        .form
        {
            width: 100%;
            height: 100%;
        }

        input
        {
            width: 86%;
        }

        .form form
        {
            position: absolute;
            /* bottom: 0%; */
            top: 25%;
            left: 50%;
            width: 90%;
            transform: translateX(-50%);
        }

        .dropdown-sec
        {
            padding: 10px 0;
        }

        .angle
        {
            position: absolute;
            width: 60vw;
            font-size: 2.3vw;
            top: 80.5%;
            left: 50%;
            transform: translate(-50%, -50%);
            bottom: unset;
        }

            .bottom-card2 h6
            {
                font-size: 16px;
                top: 5%;
                left: 10%;
                width: 90%;
            }

            .bottom-card2 h1
            {
                font-size: calc(1vw + 1vh + 1vmin) !important;
                top: 15%;
                left: 10%;
                width: 90%;
            }

            .bottom-card2
            {
                height: 450px;
            }


    }


</style>
