<template>
    <div class="bottom-card">
        <h6>хотите работать с нами?</h6>
        <h1>Это будет лучшая<br/> работа в вашей <br/> жизни!</h1>
        <div class="angle" @click="goVacancies()">открытые вакансии</div>
    </div>
</template>

<script>
var $ = require('jquery');
window.jQuery = $;



export default {
    name: 'BottomCallCard',
    mounted: function(){ 
    },
    components:{
    },
    computed:{
        currentPage(){
        return this.$route.name
        },
    },
    methods: {
        goVacancies() 
        {
            this.$router.push({path:'/work'})
        }
    },
}
</script>

<style scoped>

    .bottom-card
    {
        width: 69.5vw;
        height: 400px;
        background-color: #6654cb;
        margin: 70px auto;
        background-image: url('../../assets/bottom-calling-card.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .bottom-card h6, .bottom-card h1
    {
        color: white;
        font-family: 'Kepler';
        font-weight: 100;
        text-transform: uppercase;
        margin-left: 5%;
    }

    .bottom-card h6
    {
        padding-top: 60px;
        font-size: 14px;
    }

    .bottom-card h1
    {
        padding-top: 20px;
        width: 50%;
        font-size: calc(1.5vw + 1.3vh + 1vmin)
    }

    .angle
    {
        margin-left: 5%;
        width: 14vw;
        margin-top: 40px;
    }

@media only screen and (max-width: 778px) 
{
    .bottom-card
    {
        width: 69.5vw;
        height: 60vh;
        background-color: #6654cb;
        margin: 70px auto;
        background-image: url('../../assets/bottom-calling-card.png');
        background-position: right -10%;
        background-size: 170%;
        background-repeat: no-repeat;
    }

    .bottom-card h6
    {
        padding-top: 50%;
        font-size: 12px;
        width: 90%;
    }

    .bottom-card h1
    {
        padding-top: 10px;
        width: 90%;
    }

    .angle
    {
        width: 62.5vw;
        font-size: 8px;
    }
}

</style>
