<template>
    <div class="Cards">
        <VueSlickCarousel v-bind="settings" ref="carousel">
            <div class="Card" v-for="item in items" :key="item.name"  @click="goPortfolioOpen()">
                <div class="bg"></div>
                <div class="naming">
                    <h3>{{item.name}}</h3>
                    <h6>{{item.subject}}</h6>
                    <p>{{item.descr}}</p>
                </div>
                <div class="rotate" :style="{'background-image':'url('+ item.img +')'}">
                    <div class="shtora">
                        <p>{{item.people}}</p>
                        <p>посетителей  в сутки </p>
                        <p>{{item.traffic}}</p>
                        <p>рост трафика</p>
                        <p>{{item.top}}</p>
                        <p>запроса в ТОП-10 Google</p>
                        <p >{{item.year}}</p>
                        <p>года  сотрудничества</p>
                    </div>
                </div>
            </div>
        </VueSlickCarousel>
        <div @click="showNext" class="next"></div>
        <div @click="showPrev" class="prev"></div>
    </div>
</template>

<script>
var $ = require('jquery');
window.jQuery = $;


import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
    name: 'Cards',
    mounted: function(){ 
        if ($(window).width() > 767) 
        {
            $('.Card').hover(function(){
                $(this).find(".shtora").css('transform', 'translateY(0%)')
            }, function(){
                $(this).find(".shtora").css('transform', 'translateY(-100%)')
            })
        }
    },
    components:{
        // Slick,
        VueSlickCarousel 
    },
    data: function(){
        return{
            settings: {
                arrows: false,
                dots: false,
                slidesToShow: 4,
                responsive: [
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 1,
                        }
                    }
                ]
            },
            items: [
                { 
                    name: 'Divani.ua',
                    subject: 'SEO',
                    descr: 'Поисковой трафик вырос с 20000 до 122000 посетителей в месяц',
                    img: require('../../assets/artesh.png'),
                    people: '120 000',
                    traffic: '600%',
                    top: '32',
                    year: '3',
                },
                { 
                    name: 'Art-esh.ru',
                    subject: 'SMM',
                    descr: 'Удалось добиться увелечения живой клиентской базы и продаж. ',
                    img: require('../../assets/artesh.png'),
                    people: '120 000',
                    traffic: '600%',
                    top: '32',
                    year: '3',
                },
                { 
                    name: 'Pilkischool.ru',
                    subject: 'PPC',
                    descr: 'Увеличение количества заявок по направлению «курсы маникюра».',
                    img: require('../../assets/artesh.png'),
                    people: '120 000',
                    traffic: '600%',
                    top: '32',
                    year: '3',
                },
                { 
                    name: 'Iwant.travel',
                    subject: 'SMM',
                    descr: 'Продвижение в Instagram для сервиса событийных авторских туров (РФ и СНГ).',
                    img: require('../../assets/artesh.png'),
                    people: '120 000',
                    traffic: '600%',
                    top: '32',
                    year: '3',
                },
                { 
                    name: 'OOF',
                    subject: 'SMM',
                    descr: 'Продвижение в Instagram для сервиса событийных авторских туров (РФ и СНГ).',
                    img: require('../../assets/artesh.png'),
                    people: '120 000',
                    traffic: '600%',
                    top: '32',
                    year: '3',
                }
            ]
        }
  },
    methods: {
      showNext() {
        this.$refs.carousel.next()
      },
      showPrev() {
        this.$refs.carousel.prev()
      },
      goPortfolioOpen() 
        {
            this.$router.push({path:'/portfolio-open'})
        }
    },
}
</script>

<style scoped>

    .next
    {
        position: absolute;
        right: 15.3vw;
        background-image: url("../../assets/prev-arrow.png");
        background-repeat: no-repeat;
        background-position: center 55%;
        background-size: 50%;
        height: 100px;
        width: 100px;
        cursor: pointer;
        transition: 0.3s;
    }

    .next:hover
    {
        transform: scale(1.1);
    }

    .prev
    {
        position: absolute;
        right: 21.6vw;
        background-image: url("../../assets/next-arrow.png");
        background-repeat: no-repeat;
        background-position: center 55%;
        background-size: 50%;
        height: 100px;
        width: 100px;
        cursor: pointer;
        opacity: 0.2;
        transition: 0.3s;
    }

    .prev:hover
    {
        opacity: 1;
        transform: scale(1.1);
    }

    .bg
    {
        position: absolute;
        top: 0;
        right: 0;
        width: 86.1%;
        height: 35%;
        background-color: white;
    }

    .slick-prev
    {
        position: absolute;
        top: 0;
        left: 0;
        background: red !important;
    }

    .slick-slider
    {
        width: 70.7vw
    }

    .slick-initialized .slick-slide, .slick-slide div
    {
        margin: 0 7%;
    }

    .shtora
    {
        position: relative;
        left: -7%;
        height: 100%;
        width: 100%;
        background-color: white;
        transform: translateY(-100%);
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-top: 0.3px solid rgba(0,0,0,0.2);
        transition: 0.5s;
    }

    .shtora p:nth-child(2n+2)
    {
        font-size: 0.6vw;
        position: relative;
        top: 70%;
        transform: translateY(-50%);
        color: #8b8b8b;
        font-family: 'Roboto';
    }

    .shtora p:nth-child(2n+1)
    {
        font-size: 1.4vw;
        position: relative;
        top: 60%;
        transform: translateY(-50%);
        color: #ffcd33;
        text-align: right;
        padding-right: 15px;
        font-family: 'Roboto';
        font-weight: 100;
    }

    .naming
    {
        position: relative;
        width: 90%;
        height: 35%;
        /* background-color: red;
        background-size: 10%; */
    }

    .rotate{
        height: 65%;
        overflow: hidden;
        background-size: 150%;
        background-position: center 70%;
    }

    .naming h3
    {
        margin-top: 7%;
        margin-left: 10%;
        font-family: "Roboto";
        font-weight: 900;
        font-size: 18px;
        display: inline-block;
    }

    .naming h6
    {
        display: inline-block;
        margin-left: 20px;
        color: #cfcae9;
        font-weight: normal;
        font-family: "Roboto";
        font-size: 10px;
        border: 1px solid #cfcae9;
        padding: 1px 2px;
    }

    .naming p
    {
        margin-top: 0%;
        margin-left: 10%;
        color: #8b8b8b;
        font-weight: normal;
        font-family: "Roboto";
        font-size: calc(0.5vw + 0.3vh + 0.2vmin);
        width: 80%;
    }

    .Cards
    {
        padding-left: 12.7%;
        padding-top: 2%;
    }

    .Card
    {
        height: 37.5vh;
        position: relative;
    }

    @media only screen and (max-width: 778px) 
    {
        .Card
        {
            height: 30vh;
        }

        .Cards
        {
            padding-left: 5%;
        }

        .slick-slider
        {
            width: 80vw
        }

        .naming h3, .naming h6
        {
            margin: 0;
            margin-left: 7%;
            margin-top: 2%;
        }

        .naming p
        {
            margin-top: 0%;
            margin-left: 7%;
            color: #8b8b8b;
            font-weight: normal;
            font-family: "Roboto";
            font-size: 10.5px;
            width: 80%;
        }

         .next
        {
            right: 12vw;
            height: 50px;
            width: 50px;
        }

        .prev
        {
            right: 25vw;
            background-position: center 55%;
            background-size: 50%;
            height: 50px;
            width: 50px;
        }

            .shtora p:nth-child(2n+2)
            {
                font-size: 2vw;
            }

            .shtora p:nth-child(2n+1)
            {
                font-size: 2.5vw;
            }


    }


</style>
