<template>
    <div class="corporate-video">
        <div class="play-button">
            <i class="fas fa-play"></i>
        </div>
        <p>Смотреть корпоративное видео </p>
    </div>
</template>

<script>
var $ = require('jquery');
window.jQuery = $;



export default {
    name: 'corporateVideo',
    mounted: function(){ 
    },
    components:{
    },
    computed:{
    },
    methods: {
    },
}
</script>

<style scoped>

.corporate-video
{
    width: 16.2vw;
    height: 50px;
    border: 2px solid #e0ddf5;
    position: absolute;
    left: 68.6vw;
    top: 9.5vw;
    cursor: pointer;
    transition: 0.3s;
}

.corporate-video:hover
{
    border: 2px solid #ffcd33;
}


.play-button
{
    border: 1px solid #e0ddf5;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
}

.play-button i
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
    color: #efbc1d;
}

.corporate-video p
{
    position: absolute;
    right: 0;
    top: 50%;
    width: 70%;
    font-size: 0.8vw;
    font-family: 'Roboto';
    transform: translateY(-50%);
    color: #55499c;
}

    @media only screen and (max-width: 778px) 
    {
        .corporate-video
        {
            width: 69.5vw;
            left: 15.6vw;
            top: 190px;
        }

        .corporate-video p
        {
            position: absolute;
            right: 0;
            top: 50%;
            width: 70%;
            font-size: 2.8vw;
            font-family: 'Roboto';
            transform: translateY(-50%);
            color: #55499c;
        }
    }

        @media only screen and (max-height: 600px) 
    {
        .corporate-video
        {
            width: 69.5vw;
            left: 15.6vw;
            top: 180px;
        }
    }


</style>
