<template>
    <div class="footer">
        <div class="logo"></div>
                    <div class="button-cover for-order">
                        <div class="angle get-cons5">заказать услугу</div>
                        <div class="modal-cover">
                            <div class="form">
                                <form-get></form-get>
                            </div>
                            <div class="form2">
                                <form-policy></form-policy>
                            </div>
                            <div class="form3">
                                <form-thanks></form-thanks>
                            </div>
                        </div>
                    </div>
                    <div class="button-cover cons">
                        <div class="angle2 get-cons3">получить консультацию</div>
                        <div class="modal-cover">
                            <div class="form">
                                <form-contact></form-contact>
                            </div>
                            <div class="form2">
                                <form-policy></form-policy>
                            </div>
                            <div class="form3">
                                <form-thanks></form-thanks>
                            </div>
                        </div>
                    </div>

        <div class="social-media">
            <a href="https://www.instagram.com/" class='social-item'><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/" class='social-item'><i class="fab fa-telegram-plane"></i></a>
            <a href="https://www.instagram.com/" class='social-item'><i class="fa fa-vk"></i></a>
            <a href="https://www.instagram.com/" class='social-item'><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/" class='social-item'><i class="fa fa-instagram"></i></a>
        </div>

        <p class="C">© 2010-2019 компания WestWebArt</p>
        <p class="policy">Политика конфиденциальности</p>
        <div class="forbg"></div>
        <div class="consbg"></div>
    </div>
</template>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>

<script>
var $ = require('jquery');
window.jQuery = $;

import formGet from './form-get'
import formPolicy from './form-policy.vue'
import formThanks from './form-thanks.vue'
import formContact from './form-contact.vue'

export default {
    name: 'Footer',
    mounted: function(){ 
            $('.works').click(function(){
                $(this).toggleClass('chosen')
            })

            $('.works2').click(function(){
                $('.works2').removeClass('chosen')
                $(this).addClass('chosen')
            })

    if ($(window).width() < 767) 
    {
        $('.get-cons5').click(function(){

                var popup2 = new TimelineMax();
                popup2.to($(this).next(),0.1,{
                    display: 'block',
                    opacity: 1,
                    zIndex: 100,
                })

                popup2.to($(this), 0.1,{
                    display: 'block',
                    opacity: 0,
                })

                popup2.to('.forbg', 0.2,{
                    display: 'block',
                    opacity: 1,
                })

                popup2.to($(this).next(), 0.3, {
                    delay: 0.1,
                    top: -400,
                    left: "15.3vw",
                    height: '80vh',
                    width: '70vw',
                    backgroundColor: "white",
                });

                popup2.to($(this).next().find('.form'), 0.2,{
                    display: 'block',
                    opacity: 1,
                    backgroundImage: "none",
                    backgroundColor: "white",
                })

                $('#submit').click(function(){
                    console.log($(this).parent().parent().parent().parent().parent())
                    popup2.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                        display: 'none',
                        opacity: 0,
                    })
                    popup2.to($(this).parent().parent().parent().parent().parent().parent(), 0.2,{
                        width: '70vw',
                        height: '60vh',
                        backgroundColor: "#6654cb",
                        left: "15vw",
                    })
                    popup2.to($(this).parent().parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                        display: 'block',
                        opacity: 1,
                    })
                })

                $('.form2 .button').click(function(){
                    popup2.to($(this).parent().parent().parent(), 0.2,{
                        display: 'none',
                        opacity: 0,
                    })
                    popup2.to($(this).parent().parent().parent().parent(), 0.2,{
                        width: '70vw',
                        height: '20vh',
                        top: -300,
                        left: "15vw",
                    })
                    popup2.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                        display: 'block',
                        opacity: 1,
                    })
                })

                $('.for-order .icon-close').click(function(){
                    popup2.reverse(0.6)
                })
                $('.forbg').click(function(){
                    popup2.reverse(0.6)
                })
            })

            $('.get-cons3').click(function(){

                var popup1 = new TimelineMax();
                popup1.to($(this).next(),0.1,{
                    display: 'block',
                    opacity: 1,
                    zIndex: 100,
                })

                popup1.to($(this), 0.1,{
                    display: 'block',
                    opacity: 0,
                })

                popup1.to('.consbg', 0.2,{
                    display: 'block',
                    opacity: 1,
                })

                popup1.to($(this).next(), 0.3, {
                    delay: 0.1,
                    top: -window.innerHeight / 1.7,
                    left: "15vw",
                    height: '60vh',
                    width: '70vw',

                });

                popup1.to($(this).next().find('.form'), 0.2,{
                    display: 'block',
                    opacity: 1,
                })

                $('form .button').click(function(){
                    popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                        display: 'none',
                        opacity: 0,
                    })
                    popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                        width: '70vw',
                        left: "15vw",
                    })
                    popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                        display: 'block',
                        opacity: 1,
                    })
                })

                $('.form2 .button').click(function(){
                    popup1.to($(this).parent().parent().parent(), 0.2,{
                        display: 'none',
                        opacity: 0,
                    })
                    popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                        width: '70vw',
                        height: '20vh',
                        top: -300,
                        left: "15vw",
                    })
                    popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                        display: 'block',
                        opacity: 1,
                    })
                })

                $('.cons .icon-close').click(function(){
                    popup1.reverse(0.6)
                })
                $('.consbg').click(function(){
                    popup1.reverse(0.6)
                })
            })
    }
    else
    {
        $('.get-cons5').click(function(){

                var popup2 = new TimelineMax();
                popup2.to($(this).next(),0.1,{
                    display: 'block',
                    opacity: 1,
                    zIndex: 100,
                })

                popup2.to($(this), 0.1,{
                    display: 'block',
                    opacity: 0,
                })

                popup2.to('.forbg', 0.2,{
                    display: 'block',
                    opacity: 1,
                })

                popup2.to($(this).next(), 0.3, {
                    delay: 0.1,
                    top: -window.innerHeight / 1.4,
                    left: "15.3vw",
                    height: '80vh',
                    width: '70vw',
                    backgroundColor: "white",
                });

                popup2.to($(this).next().find('.form'), 0.2,{
                    display: 'block',
                    opacity: 1,
                    backgroundImage: "none",
                    backgroundColor: "white",
                })

                $('#submit').click(function(){
                    console.log($(this).parent().parent().parent().parent().parent())
                    popup2.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                        display: 'none',
                        opacity: 0,
                    })
                    popup2.to($(this).parent().parent().parent().parent().parent().parent(), 0.2,{
                        width: '40vw',
                        height: '60vh',
                        backgroundColor: "#6654cb",
                        left: window.innerWidth / 3,
                    })
                    popup2.to($(this).parent().parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                        display: 'block',
                        opacity: 1,
                    })
                })

                $('.form2 .button').click(function(){
                    popup2.to($(this).parent().parent().parent(), 0.2,{
                        display: 'none',
                        opacity: 0,
                    })
                    popup2.to($(this).parent().parent().parent().parent(), 0.2,{
                        width: '25vw',
                        height: '20vh',
                        top: -300,
                        left: window.innerWidth / 2.7,
                    })
                    popup2.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                        display: 'block',
                        opacity: 1,
                    })
                })

                $('.for-order .icon-close').click(function(){
                    popup2.reverse(0.6)
                })
                $('.forbg').click(function(){
                    popup2.reverse(0.6)
                })
            })

            $('.get-cons3').click(function(){

                var popup1 = new TimelineMax();
                popup1.to($(this).next(),0.1,{
                    display: 'block',
                    opacity: 1,
                    zIndex: 100,
                })

                popup1.to($(this), 0.1,{
                    display: 'block',
                    opacity: 0,
                })

                popup1.to('.consbg', 0.2,{
                    display: 'block',
                    opacity: 1,
                })

                popup1.to($(this).next(), 0.3, {
                    delay: 0.1,
                    top: -window.innerHeight / 1.7,
                    left: window.innerWidth / 2 - "15vw",
                    height: '60vh',
                    width: '30vw',

                });

                popup1.to($(this).next().find('.form'), 0.2,{
                    display: 'block',
                    opacity: 1,
                })

                $('form .button').click(function(){
                    popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                        display: 'none',
                        opacity: 0,
                    })
                    popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                        width: '40vw',
                        left: window.innerWidth / 3.5,
                    })
                    popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                        display: 'block',
                        opacity: 1,
                    })
                })

                $('.form2 .button').click(function(){
                    popup1.to($(this).parent().parent().parent(), 0.2,{
                        display: 'none',
                        opacity: 0,
                    })
                    popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                        width: '25vw',
                        height: '20vh',
                        top: -300,
                        left: window.innerWidth / 2.7,
                    })
                    popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                        display: 'block',
                        opacity: 1,
                    })
                })

                $('.cons .icon-close').click(function(){
                    popup1.reverse(0.6)
                })
                $('.consbg').click(function(){
                    popup1.reverse(0.6)
                })
            })
    }

            
    },
    components:
    {
        formGet,
        formPolicy,
        formThanks,
        formContact
    },
    computed:{
    },
    methods: {
    },
}
</script>

<style scoped>
    .consbg, .forbg
    {
        backdrop-filter: blur(10px);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: none;
        opacity: 0;
    }

    .modal-cover
    {
        width: 14vw;
        background-color: #6654cb;
        position: absolute;
        left: 33%;
        top: 2.6em;
        height: inherit;
        /* top: 7vh;
        left: 4px; */
        display: none;
        opacity: 0;
    }
    .for-order .modal-cover
    {
        left: 15.3vw;
        width: 12vw;
    }

    .form, .form2, .form3
    {
        display: none;
        opacity: 0;
        background-color: #6654cb;
        background-image: url('../../assets/popup-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

.C, .policy
{
    position: absolute;
    font-family: 'Roboto';
    font-size: 0.7vw;
}

.C
{
    top: 50%;
    left: 74.7%;
    transform: translate(-50%, -50%);
}

.policy
{
    top: 50%;
    left: 90.2%;
    width: 11vw;
    transform: translate(-50%, -50%);
    text-decoration: underline;
    cursor: pointer;
}

.social-media
{
    position: absolute;
    top: 50%;
    left: 58.3%;
    transform: translate(-50%, -50%);
}

.social-media a i
{
    border: 1px solid #e6e0f8;
    border-right: 0;
    width: 3vw;
    height: 40px;
    line-height: 38px;
    text-align: center;
}

.fa-instagram
{
    border-right: 1px solid #e6e0f8 !important;

}

.angle, .angle2
{
    position: absolute;
    top: 50%;
    left: 21.3%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 12vw;
}

.angle2
{
    left: 40%;
    background-color: #F6F4FD;
    border: 1px solid #6654cb;
    width: 14vw;
}

.logo
{
    background-image: url('../../assets/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translate(-50%, -50%);
    width: 10vw;
    height: 50px;
}

.footer
{
    width: 100vw;
    height: 125px;
    background-color: #fbfafe;
    position: relative;
}

@media only screen and (max-width: 778px) 
{
    .logo
    {
        top: 12.5%;
        left: 50%;
        width: 40vw;
    }

    .footer
    {
        height: 250px;
    }

    .angle, .angle2
    {
        position: absolute;
        top: 30%;
        left: 50%;
        width: 69.5vw;
        font-size: 2.5vw;
        height: unset;
    }

    .social-media a i
    {
        border: 1px solid #e6e0f8;
        border-right: 0;
        width: 20%;
        height: 40px;
        line-height: 38px;
        text-align: center;
    }

    .social-media
    {
        top: 72.5%;
        left: 50%;
        width: 69.5vw;
    }

    .angle2
    {
        top: 50%;
        left: 50%;
        width: 69.5vw;
    }

    .C, .policy
    {
        position: absolute;
        font-family: 'Roboto';
        font-size: 2.5vw;
    }

    .C
    {
        top: 90%;
        left: 5.7%;
        transform: translateY(-50%);
        width: 50vw;
    }

    .policy
    {
        top: 90%;
        left: 55.2%;
        width: 50vw;
        transform: translateY(-50%);
        text-decoration: underline;
        cursor: pointer;
    }

    .for-order .modal-cover
    {
        width: 70vw;
        top: 10vh;
        height: 0vh;
    }

    .modal-cover
    {
        width: 70vw;
        top: 18vh;
        left: 15vw;
        height: 0vh;
    }
}

</style>
