<template>
    <div class="form-video">
                                    <div class="content-style-form content-style-form-1">
                                        <div class="icon-close"></div>
                                        <iframe id="iframeid" width="560" height="315" v-bind:src="link" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
    </div>
</template>

<script>
var $ = require('jquery');
window.jQuery = $;



export default {
    name: 'form-contact',
    props:{
        link: String
    }
}
</script>

<style scoped>

    .icon-close
    {
        height: 30px;
        width: 30px;
        background-color: #ffcd33;
        background-image: url('../../assets/close.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30%;
        position: absolute;
        right: -30px;
        top: 0px;
        cursor: pointer;
    }

</style>
