<template>
    <div class="form-get">
      <div class="content-style-form content-style-form-1">
        <div class="icon-close"></div>
           <div class="form-sections">
            <ul>
              <li class="active first-step">01 Тип услуги</li>
              <li class="second-step">02 сроки</li>
              <li class="third-step">03 Ваш проект</li>
              <li class="fourth-step">04 Ваши контакты</li>
            </ul>
            <div class="line">
              <div class="supporting-line"></div>
            </div>
            <div class="step-wrap">
              <h2 class="step"> шаг 1 / 4 </h2>
            </div>

            <div class="form-title">
              укажите интересующие вас услуги
            </div>

            <div class="main-area1">
              <div class="works draw">
                <div class="icon icon1"></div>
                <h4>Продвижение сайтов</h4>
              </div>
              <div class="works draw">
                <div class="icon icon2"></div>
                <h4>Продвижение в соц сетях</h4>
              </div>
              <div class="works draw">
                <div class="icon icon3"></div>
                <h4>Копирайтинг</h4>
              </div>
              <div class="works draw">
                <div class="icon icon4"></div>
                <h4>Контекстная реклама</h4>
              </div>
              <div class="works draw">
                <div class="icon icon5"></div>
                <h4>Таргетированная реклама</h4>
              </div>
              <div class="works draw">
                <div class="icon icon6"></div>
                <h4>Создание и разработка сайтов</h4>
              </div>

              <div class="angle" id="step1">дальше</div>
            </div>

            <div class="main-area2">
              <div class="works works2 draw">
                <div class="icon icon1"></div>
                <h4>Немедленно</h4>
              </div>
              <div class="works works2 draw">
                <div class="icon icon2"></div>
                <h4>В течении недели</h4>
              </div>
              <div class="works works2 draw">
                <div class="icon icon3"></div>
                <h4>В течении месяца</h4>
              </div>

              <div class="angle" id="step2">дальше</div>
            </div>
          </div>

          <div class="main-area3">
            <form>
              <input type="url" class="website-link" placeholder="Ссылка на  ваш сайт">
              <input type="url" class="soc-med" placeholder="Ссылка на соц сеть">
              <input type="text" class="proj-descr" placeholder="Описание вашего проекта (желательно)">

              <div class="upload-btn-wrapper">
                <button class="btn">
                  <div class="upload-icon"></div>
                  <p>Добавить файл <br/><span>файл не выбран</span></p>
                </button>
                <input type="file" name="myfile" />
              </div>

              <div class="angle" id="step3">дальше</div>
            </form>
          </div>

          <div class="main-area4">
            <form>
              <input type="name" class="name" placeholder="Имя">
              <input type="telephone" class="number" placeholder="Номер телефона">
              <input type="mail" class="email" placeholder="Электронная почта">

              <div class="checkbox">
                  <input type="checkbox" id="checkbox_1">
                  <label for="checkbox_1">Принимаю условия пользовательского соглашения и политики конфиденциальности</label>
              </div>

              <div class="angle .button" id="submit">рассчитать стоимость</div>
            </form>
          </div>
                                    </div>
    </div>
</template>

<script>
var $ = require('jquery');
window.jQuery = $;



export default {
    name: 'form-contact',
    mounted: function(){ 
        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
            $('.btn p span').html(fileName)
        });

    // STEP 1 GO
    $('#step1').click(function(){
      $('.main-area1').fadeOut();
      setTimeout(function(){
        $('.main-area2').fadeIn();
      }, 350)
      $('.step').html('<i class="fa fa-chevron-left"></i> шаг 2 / 4');
      $('.supporting-line').css('width', '40%');
      $('.first-step').removeClass('active');
      $('.second-step').addClass('active');
      $('.step').addClass('goback-to1')
      $('.form-title').text('как быстро вы хотите начать работы?')
    })
    // GO BACK TO STEP 1
      $('body').on('click', '.goback-to1', function() {
                    $('.main-area2').fadeOut();
                    setTimeout(function(){
                      $('.main-area1').fadeIn();
                    }, 350)
                    $('.step').html('шаг 1 / 4');
                    $('.supporting-line').css('width', '20%');
                    $('.first-step').addClass('active');
                    $('.second-step').removeClass('active');
                    $('.form-title').text('укажите интересующие вас услуги')
      })

        // STEP 2 GO
        $('#step2').click(function(){
        $('.main-area2').fadeOut();
        setTimeout(function(){
            $('.main-area3').fadeIn();
        }, 350)
        $('.step').html('<i class="fa fa-chevron-left"></i> шаг 3 / 4');
        $('.supporting-line').css('width', '70%');
        $('.second-step').removeClass('active');
        $('.third-step').addClass('active');
        $('.step').removeClass('goback-to1')
        $('.step').addClass('goback-to2')
        $('.form-title').text('расскажите о вашем проекте')
        })

        // GO BACK TO STEP 2
        $('body').on('click', '.goback-to2', function() {
                    $('.main-area3').fadeOut();
                    setTimeout(function(){
                        $('.main-area2').fadeIn();
                    }, 350)
                    $('.step').html('<i class="fa fa-chevron-left"></i> шаг 2 / 4');
                    $('.supporting-line').css('width', '40%');
                    $('.second-step').addClass('active');
                    $('.third-step').removeClass('active');
                    $('.step').removeClass('goback-to2')
                    $('.step').addClass('goback-to1')
                    $('.form-title').text('как быстро вы хотите начать работы?')
        })

        // STEP 3 GO
        $('#step3').click(function(){
        $('.main-area3').fadeOut();
        setTimeout(function(){
            $('.main-area4').fadeIn();
        }, 350)
        $('.step').html('<i class="fa fa-chevron-left"></i> шаг 4 / 4');
        $('.supporting-line').css('width', '100%');
        $('.third-step').removeClass('active');
        $('.fourth-step').addClass('active');
        $('.step').removeClass('goback-to2')
        $('.step').addClass('goback-to3')
        $('.form-title').text('введите свои контактные данные')
        })

        // GO BACK TO STEP 3
        $('body').on('click', '.goback-to3', function() {
                    $('.main-area4').fadeOut();
                    setTimeout(function(){
                        $('.main-area3').fadeIn();
                    }, 350)
                    $('.step').html('<i class="fa fa-chevron-left"></i> шаг 3 / 4');
                    $('.supporting-line').css('width', '70%');
                    $('.third-step').addClass('active');
                    $('.fourth-step').removeClass('active');
                    $('.step').removeClass('goback-to3')
                    $('.step').addClass('goback-to2')
                    $('.form-title').text('расскажите о вашем проекте')
        })
    },
    components:{
    },
    computed:{
    },
    methods: {
    },
}
</script>

<style scoped>

    .upload-icon
    {
      height: 30px;
      width: 20px;
      background-image: url('../../assets/clip.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      position: absolute;
      left: 10px;
      top: 35%;
      transform: translateY(-50%);
    }

    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: block;
      margin-top: 3%;
    }

    .btn {
      border: 0px solid gray;
      color: gray;
      background-color: white;
      padding: 8px 40px;
      border-radius: 8px;
      font-weight: bold;
    }

    .btn p
    {
      width: 100%;
      float: right;
      font-size: 11px;
      font-family: 'Roboto';
      font-weight: 100;
    }

    .btn p span
    {
      color: #8b8b8b;
    }

    .upload-btn-wrapper input[type=file] {
      position: absolute;
      left: 0;
      top: -10px;
      opacity: 0;
      width: 150px;
      cursor: pointer;
    }

    form .proj-descr
    {
      display: block;
      width: 96%;
    }

    form .name, form .number, form .email
    {
      display: inline-block;
      width: 30.3%;
      margin-right: 2.5%;
    }

    .checkbox input[type="checkbox"] {
      opacity: 0;
      width: auto;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 0;
      width: 100%;
      height: 40px;
      z-index: 10;
    }

    .checkbox label {
        position: relative;
        display: inline-block;
        padding-left: 3vw;
        padding-top: 10px;
        left: -12px;
        font-family: 'Roboto';
        font-size: 12px;
        user-select: none;
    }

    .checkbox label::before,
    .checkbox label::after {
        position: absolute;
        content: "";
        display: inline-block;
        transition: 0.3s;
    }

    .checkbox label::before{
        height: 17px;
        width: 17px;
        border: 1px solid #8b8b8b;
        left: 1vw;
        top: 10px;
    }

    .checkbox label::after {
        height: 5px;
        width: 9px;
        border-left: 1px solid;
        border-bottom: 1px solid;
        transform: rotate(-45deg);
        left: 1.3vw;
        top: 15px;
        
    }
    .checkbox input[type="checkbox"] + label::after {
        content: none;
    }
    .checkbox input[type="checkbox"]:checked + label::after {
        content: "";
    }
    .checkbox input[type="checkbox"]:focus + label::before {
        /* outline: rgb(59, 153, 252) auto 5px; */
    }

    .checkbox input[type="checkbox"]:hover + label::before {
        border: 1px solid #ffcd33;
    }

    form input
    {
      width: 46%;
      margin: 1% 4% 0 0;
      border: 0;
      border-bottom: rgba(0, 0, 0, 0.5) 0.5px solid;
      padding: 15px 0;
      font-family: 'Roboto';
      font-size: 12px;
    }

    .angle
    {
      margin-top: 20px;
    }

    #submit
    {
      width: 14vw;
    }

    form
    {
      /* background-color: #ffcd33; */
      width: 98%;
      margin-left: 2vw;
    }

    .main-area1, .main-area2
    {
      margin-left: 2vw;
    }

    .main-area2, .main-area3, .main-area4
    {
      display: none;
    }

    .works
    {
      margin-top: 2%;
      margin-right: 3vw;
      width: 8vw;
      height: 8vw;
      border: solid 2px #f8f6fd;
      overflow: hidden;
      display: inline-block;
      cursor: pointer;
    }

    .works .icon
    {
        width: 100%;
        height: 50%;
        background-position: 18% center;
        background-repeat: no-repeat;
        background-size: 27%;
    }

    .works h4
    {
        padding-left: 13%;
        font-family: 'Roboto';
        font-weight: 100;
        font-size: 0.7vw;
        padding-top: 0.1vw;
        width: 80%;
        line-height: 15px;
    }

    .works .icon1
    {
        background-image: url('../../assets/prodizhenie.svg');
    }

    .works .icon2
    {
        background-image: url('../../assets/prodvizhenie-social-media.svg');
    }

    .works .icon3
    {
        background-image: url('../../assets/copyrighting.svg');
    }

    /* ************************************* */

    .main-area2 .works .icon1
    {
        background-image: url('../../assets/flame.svg');
    }

    .main-area2 .works .icon2
    {
        background-image: url('../../assets/7.svg');
    }

    .main-area2 .works .icon3
    {
        background-image: url('../../assets/30.svg');
    }

    /* ***************************************** */

    .works .icon4
    {
        background-image: url('../../assets/advertising.svg');
    }

    .works .icon5
    {
        background-image: url('../../assets/marketing.svg');
    }

    .works .icon6
    {
        background-image: url('../../assets/vector.svg');
    }

    .form-title
    {
      margin-left: 2vw;
      margin-top: 1%;
      font-family: 'Kepler';
      text-transform: uppercase;
      font-size: 17px;
    }

    .step
    {
      margin-left: 2vw;
      margin-top: 3%;
      font-family: 'Roboto';
      font-size: 12px;
      color: #ffcd33;
      text-transform: uppercase;
      cursor: pointer;
    }

    .step span
    {
      color: #ffcd33;
    }

    .form-sections
    {
        position: relative;
        margin-top: 1%;
        padding-top: 10vh;
    }

    .form-sections ul li
    {
      display: inline-block;
      padding: 0 2vw;
      font-family: 'Roboto';
      font-size: 0.9vw;
      color: #8b8b8b;
      text-transform: uppercase;
    }

    .line
    {
      margin-left: 2vw;
      margin-top: 1%;
      width: 40vw;
      height: 1px;
      background-color: #8b8b8b;
    }

    .supporting-line
    {
      width: 7vw;
      height: 3px;
      background-color:#ffcd33;
      transform: translateY(-2px);
      transition: 0.3s;
    }

    .chosen
    {
      border: solid 2px #ffcd33;
    }

    .active
    {
      font-weight: 700;
      color: #000 !important;
    }
    

    .icon-close
    {
        height: 30px;
        width: 30px;
        background-color: #ffcd33;
        background-image: url('../../assets/close.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30%;
        position: absolute;
        right: -30px;
        top: 0;
        cursor: pointer;
    }

    @media only screen and (max-width: 778px) 
    {
        .checkbox label::before{
            left: 10px;
            top: 20px;
        }

        .checkbox label::after {
            height: 5px;
            width: 9px;
            border-left: 1px solid;
            border-bottom: 1px solid;
            transform: rotate(-45deg);
            left: 15px;
            top: 24px;
            
        }

        .checkbox label {
            padding-top: 20px;
            font-size: 8px;
            padding-left: 35px;
        }

        
        form .name, form .number, form .email
        {
          display: inline-block;
          width: 95%;
          margin-right: 2.5%;
        }

        #submit
        {
          width: 66vw;
          font-size: 2.5vw;
          margin-left: 0;
        }

        form input
        {
          font-size: 10px;
          width: 95%;
        }
        .step
        {
          margin-left: 4%;
          margin-top: 7%;
          font-family: 'Roboto';
          font-size: 12px;
          color: #ffcd33;
          text-transform: uppercase;
          cursor: pointer;
        }

        .works h4
        {
            font-size: 2.1vw;
            line-height: 10px;
            text-align: center;
            padding: 0;
            width: 100%;
        }

        
        .line
        {
          width: 66vw;
        }

         .form-sections ul li
        {
          display: inline-block;
          padding: 0 3vw;
          font-family: 'Roboto';
          font-size: 1.5vw;
          color: #8b8b8b;
          text-transform: uppercase;
        }

        .works .icon
        {
          width: 100%;
          height: 50%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 15%;
        }

        ul
        {
          margin: 0;
        }


        .title
        {
            padding-top: 15%;
        }

        .title h1
        {
          font-size: 2em;
        }

        .works
        {
          width: 31vw;
          height: 15.2vw;
        }

        .draw:before, .draw::after
        {
          display: none;
        }

        .form-title
        {
          margin-left: 4.3%;
          margin-top: 1%;
          font-family: 'Kepler';
          text-transform: uppercase;
          font-size: 15px;
          width: 80%;
        }

        
        .angle, .angle2
        {
            width: 40vw;
            margin-top: 1vh;
            display:  block;
            margin: 10px auto;
            font-size: 2.5vw;
        }

        .angle2
        {
            margin-top: 4%;
            height: unset;
        }

        .white-line
        {
          display: none;
        }
    }


</style>
