<template>
    <div class="form-policy">
                                    <div class="content-style-form content-style-form-1">
                                        <div class="icon-close"></div>
                                        <h2>политика конфиденциальности</h2>
                                        <div class="text">
                                            <p>г. Город <span>«день» месяц Год г.</span><br><br>
                                                    Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую Интернет-магазин «Название»,<br><br>
                                                    расположенный на доменном имени адрес магазина, может получить о Пользователе во время использования сайта Интернет-магазина, программ и продуктов Интернет-магазина.<br><br>
                                                    1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ<br><br>
                                                    1.1 В настоящей Политике конфиденциальности используются следующие термины:<br><br>
                                                    1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » – уполномоченные сотрудники на управления сайтом, действующие от имени Название организации, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.<br><br>
                                                    1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).<br><br>
                                                    1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.<br><br>
                                                    1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
                                            </p>
                                        </div>
                                        <p class="button angle">принять условия</p>
                                    </div>
    </div>
</template>

<script>
var $ = require('jquery');
window.jQuery = $;



export default {
    name: 'form-contact',
    mounted: function(){ 
    },
    components:{
    },
    computed:{
    },
    methods: {
    },
}
</script>

<style scoped>

    .form2
    {
        display: none;
        opacity: 0;
        background-color: #6654cb;
        background-image: url('../../assets/popup-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .form2 .text
    {
        height: 30vh;
        width: 80%;
        border: rgba(255, 255, 255, 0.2) 1px solid;
        margin: 0 auto;
        overflow-y: scroll;
        padding: 10px;
        -webkit-overflow-scrolling: touch;
    }

    .form2 .text p
    {
        margin-block-start: 0;
        padding: 0;
        color: white;
        font-family: 'Roboto';
        font-size: 12px;
    }

    .form2 .text p span
    {
        float: right;
        color: white;
        font-family: 'Roboto';
        font-size: 12px;
    }

    .form2 .text::-webkit-scrollbar
    {
        width: 2px;
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 0.3;
    }

    .form2 .text::-webkit-scrollbar-thumb
    {
        background-color: white;
    }

    .form input
    {
        width: 80%;
        border: 0;
        border-bottom: 0.5px rgba(255, 255, 255, 0.5) solid;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        background: transparent;
        color: white;
        font-family: 'Roboto';
        font-weight: 100;
        padding: 10px 0;
    }

    .form input::placeholder
    {
        color: rgba(255, 255, 255, 0.5);
        font-family: 'Roboto';
        font-weight: 100;
    }

     .form2 .button
    {
        background-color: #ffcd33;
        border: 0;
        width: 60%;
        padding: 10px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Kepler';
        text-transform: uppercase;
        font-size: 10px;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 20px;
        cursor: pointer;
    }

    .form2 .button
    {
        width: 40%;
    }

    .form2 h2
    {
        color: white;
        text-align: center;
        font-family: 'Kepler';
        text-transform: uppercase;
        font-size: 20px;
        padding: 7.5% 0;
        margin:  0 auto;
        width: 80%;
    }

    .icon-close
    {
        height: 30px;
        width: 30px;
        background-color: #ffcd33;
        background-image: url('../../assets/close.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30%;
        position: absolute;
        right: -30px;
        cursor: pointer;
    }

    @media only screen and (max-width: 778px) 
    {
        h2
        {
            font-size: 15px !important;
        }
    }


</style>
