<template>
    <div class="form-policy">
                                    <div class="content-style-form content-style-form-1">
                                        <div class="icon-close"></div>
                                        <h2>Спасибо!</h2>
                                        <p>Ваша завяка принята! Наш менеджер свяжется с Вами в ближайшее время.</p>
                                    </div>
    </div>
</template>

<script>
var $ = require('jquery');
window.jQuery = $;



export default {
    name: 'form-contact',
    mounted: function(){ 
    },
    components:{
    },
    computed:{
    },
    methods: {
    },
}
</script>

<style scoped>
    .form3
    {
        display: none;
        opacity: 0;
        background-color: #6654cb;
        background-image: url('../../assets/popup-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .form3 p
    {
        color: white;
        font-family: 'Roboto';
        font-size: 10px !important;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .form3 h2
    {
        color: white;
        text-align: center;
        font-family: 'Kepler';
        text-transform: uppercase;
        font-size: 20px;
        padding: 7%;
        margin:  0 auto;
        width: 80%;
    }

    .icon-close
    {
        height: 30px;
        width: 30px;
        background-color: #ffcd33;
        background-image: url('../../assets/close.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30%;
        position: absolute;
        right: -30px;
        cursor: pointer;
    }

</style>
