<template>
    <div class="form-contact">
                                    <div class="content-style-form content-style-form-1">
                                        <div class="icon-close"></div>
                                        <h2>заказать звонок</h2>
                                        <form>
                                            <p><input type="name" class="name" placeholder="Имя" /></p>
                                            <p><input type="telephone" class="phone" placeholder="Моб. телефон"/></p>
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox_1">
                                                <label for="checkbox_1">Принимаю условия пользовательского соглашения и политики конфиденциальности</label>
                                            </div>
                                            <p class="button angle">Отправить заявку</p>
                                        </form>
                                    </div>
    </div>
</template>

<script>
var $ = require('jquery');
window.jQuery = $;



export default {
    name: 'form-contact',
    mounted: function(){ 
    },
    components:{
    },
    computed:{
    },
    methods: {
    },
}
</script>

<style scoped>

    .form
    {
        display: none;
        opacity: 0;
        background-color: #6654cb;
        background-image: url('../../assets/popup-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .form input
    {
        width: 80%;
        border: 0;
        border-bottom: 0.5px rgba(255, 255, 255, 0.5) solid;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        background: transparent;
        color: white;
        font-family: 'Roboto';
        font-weight: 100;
        font-size: 13px;
        padding: 10px 0;
        margin: 0px 0 10px 0;
    }

    .form input::placeholder
    {
        color: rgba(255, 255, 255, 0.5);
        font-family: 'Roboto';
        font-weight: 100;
    }

    .form .button
    {
        background-color: #ffcd33;
        border: 0;
        width: 60%;
        padding: 10px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Kepler';
        text-transform: uppercase;
        font-size: 10px;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 20px;
        cursor: pointer;
    }

    .form h2
    {
        color: white;
        text-align: center;
        font-family: 'Kepler';
        text-transform: uppercase;
        font-size: 20px;
        padding: 7.5% 0;
        margin:  0 auto;
        width: 80%;
    }

    .icon-close
    {
        height: 30px;
        width: 30px;
        background-color: #ffcd33;
        background-image: url('../../assets/close.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30%;
        position: absolute;
        right: -30px;
        cursor: pointer;
    }

    .checkbox input[type="checkbox"] {
        opacity: 0;
        width: auto;
        margin: 0;
        margin-top: 2%;
        padding: 0;
        position: absolute;
        width: 100%;
        height: 50px;
        z-index: 1;
    }

    .checkbox label {
        position: relative;
        display: inline-block;
        padding-left: 30px;
        padding-top: 0px;
        left: 10%;
        font-family: 'Roboto';
        font-size: 12px;
        user-select: none;
        width: 80%;
        color: white;
    }

    .checkbox label::before,
    .checkbox label::after {
        position: absolute;
        content: "";
        display: inline-block;
        transition: 0.3s;
    }

    .checkbox label::before{
        height: 17px;
        width: 17px;
        
        border: 1px solid #8b8b8b;
        left: 0px;
        top: 3px;
    }

    .checkbox label::after {
        height: 5px;
        width: 9px;
        border-left: 1px solid;
        border-bottom: 1px solid;
        transform: rotate(-45deg);
        color: #ffcd33;
        left: 4px;
        top: 8px;
        
    }
    .checkbox input[type="checkbox"] + label::after {
        content: none;
    }
    .checkbox input[type="checkbox"]:checked + label::after {
        content: "";
    }
    .checkbox input[type="checkbox"]:focus + label::before {
        /* outline: rgb(59, 153, 252) auto 5px; */
    }

    .checkbox input[type="checkbox"]:hover + label::before {
        border: 1px solid #ffcd33;
    }


</style>
