<template>
    <div class="go-Up">
    </div>
</template>

<script>
var $ = require('jquery');
window.jQuery = $;



export default {
    name: 'goUp',
    mounted: function(){ 
        $('.go-Up').click(function(){
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $('.header').css('transform', 'translateY(0)')
            return false;
        })
    },
    components:{
    },
    computed:{
    },
    methods: {
    },
}
</script>

<style scoped>

.go-Up
{
    width: 6vh;
    height: 6vw;
    position: absolute;
    transform: translateY(-200%);
    right: 20px;
    background-image: url('../../assets/up.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;
    cursor: pointer;
}

.go-Up:hover
{
    background-image: url('../../assets/up2.png');
}

@media only screen and (max-width: 778px) 
{
    .go-Up
    {
        width: 6vh;
        height: 20vw;
        right: 10px;
    }
}

</style>
