<template>
    <div class="Reviews">
        <VueSlickCarousel v-bind="settings" ref="carousel">
            <div class="Review" v-for="item in items" :key="item.name">
                <div class="bg"></div>
                <div class="naming">
                    <div class="person" :style="{'background-image':'url('+ item.img +')'}"></div>
                    <div class="text-wrap">
                        <h6>{{item.subject}}</h6>
                        <h3>{{item.name}}</h3>
                        <p>{{item.city}}</p>
                    </div>
                </div>
                <div class="descr">
                    <p>{{item.message}}</p>
                    <div class="shade"></div>
                </div>
            </div>
        </VueSlickCarousel>
        <div @click="showNext" class="next"></div>
        <div @click="showPrev" class="prev"></div>
    </div>
</template>

<script>
var $ = require('jquery');
window.jQuery = $;


import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
    name: 'Reviews',
    mounted: function(){ 
    },
    components:{
        VueSlickCarousel 
    },
    data: function(){
        return{
            settings: {
                arrows: false,
                dots: false,
                slidesToShow: 2,
                responsive: [
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 1,
                        }
                    }
                ]
            },
            items: [
                { 
                    name: 'Павел Евдокимов',
                    subject: 'SEO',
                    city: 'Россия, Москва',
                    img: require('../../assets/person.png'), 
                    message: 'Мы выбрали WestWebArt, так как для нас важным был опыт в SEO, а также наличие объемного портфолио и отзывов клиентов. После общения понравились и условия, которые были предложены. В процессе сотрудничества мы также заказывали у партнера услуги по доработкам сайта. В своей работе партнер предоставляет детальный план по продвижению, и на каждом этапе мы вместе формируем обновленную структуру сайта и его контент под список продвигаемых запросов. Все супер! Продолжаем сотрудничество!',
                },
                { 
                    name: 'Павел Евдокимов',
                    subject: 'SMM',
                    city: 'Россия, Москва',
                    img: require('../../assets/person.png'),  
                    message: 'Мы выбрали WestWebArt, так как для нас важным был опыт в SEO, а также наличие объемного портфолио и отзывов клиентов. После общения понравились и условия, которые были предложены. В процессе сотрудничества мы также заказывали у партнера услуги по доработкам сайта. В своей работе партнер предоставляет детальный план по продвижению, и на каждом этапе мы вместе формируем обновленную структуру сайта и его контент под список продвигаемых запросов. Все супер! Продолжаем сотрудничество!',
                
                },
                { 
                    name: 'Павел Евдокимов',
                    subject: 'PPC',
                    city: 'Россия, Москва',
                    img: require('../../assets/person.png'),  
                    message: 'Мы выбрали WestWebArt, так как для нас важным был опыт в SEO, а также наличие объемного портфолио и отзывов клиентов. После общения понравились и условия, которые были предложены. В процессе сотрудничества мы также заказывали у партнера услуги по доработкам сайта. В своей работе партнер предоставляет детальный план по продвижению, и на каждом этапе мы вместе формируем обновленную структуру сайта и его контент под список продвигаемых запросов. Все супер! Продолжаем сотрудничество!',
                
                },
                { 
                    name: 'Павел Евдокимов',
                    subject: 'SEO',
                    city: 'Россия, Москва',
                    img: require('../../assets/person.png'),  
                    message: 'Мы выбрали WestWebArt, так как для нас важным был опыт в SEO, а также наличие объемного портфолио и отзывов клиентов. После общения понравились и условия, которые были предложены. В процессе сотрудничества мы также заказывали у партнера услуги по доработкам сайта. В своей работе партнер предоставляет детальный план по продвижению, и на каждом этапе мы вместе формируем обновленную структуру сайта и его контент под список продвигаемых запросов. Все супер! Продолжаем сотрудничество!',
                
                },
                { 
                    name: 'Павел Евдокимов',
                    subject: 'SEO',
                    city: 'Россия, Москва',
                    img: require('../../assets/person.png'),  
                    message: 'Мы выбрали WestWebArt, так как для нас важным был опыт в SEO, а также наличие объемного портфолио и отзывов клиентов. После общения понравились и условия, которые были предложены. В процессе сотрудничества мы также заказывали у партнера услуги по доработкам сайта. В своей работе партнер предоставляет детальный план по продвижению, и на каждом этапе мы вместе формируем обновленную структуру сайта и его контент под список продвигаемых запросов. Все супер! Продолжаем сотрудничество!',
                
                }
            ]
        }
  },
    methods: {
      showNext() {
        this.$refs.carousel.next()
      },
      showPrev() {
        this.$refs.carousel.prev()
      },
    },
}
</script>

<style scoped>

    .next
    {
        position: absolute;
        right: 41vw;
        background-image: url("../../assets/prev-arrow.png");
        background-repeat: no-repeat;
        background-position: center 90%;
        background-size: 50%;
        height: 70px;
        width: 70px;
        cursor: pointer;
        transition: 0.3s;
    }

    .next:hover
    {
        transform: scale(1.1);
    }

    .prev
    {
        position: absolute;
        right: 47vw;
        background-image: url("../../assets/next-arrow.png");
        background-repeat: no-repeat;
        background-position: center 90%;
        background-size: 50%;
        height: 70px;
        width: 70px;
        cursor: pointer;
        opacity: 0.2;
        transition: 0.3s;
    }

    .prev:hover
    {
        opacity: 1;
        transform: scale(1.1);
    }

    .bg
    {
        position: absolute;
        top: 0;
        right: 0;
        width: 90%;
        height: 100%;
        background-color: white;
    }

    .slick-prev
    {
        position: absolute;
        top: 0;
        left: 0;
    }

    .slick-slider
    {
        width: 48vw;
    }

    .slick-initialized .slick-slide, .slick-slide div
    {
        margin: 0 4%;
    }

    .naming
    {
        position: relative;
        height: 35%;
    }

    .descr
    {
        position: relative;
        left: 7%;
        font-size: 0.85vw;
        font-family: 'Roboto';
        width: 80%;
    }

    .shade
    {
        position: absolute;
        right: -10%;
        bottom: 0;
        width: 55%;
        height: 14px;
        background: linear-gradient(90deg, rgba(1,0,36,0) 0%, rgba(255,255,255,1) 100%);
    }

    .descr p
    {
        height: 24vh;
        overflow: hidden;
        color: #8b8b8b;
    }

    .person
    {
        height: 4vw;
        width: 4vw;
        background-size: 110%;
        background-position: center;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top;
        position: relative;
        left: 3%;
        top: 20%;
        border: #f6f4fd 2px solid;
    }

    .text-wrap
    {
        display: inline-block;
        width: 55%;
        padding-top: 6%;
    }

    .naming h3
    {
        margin-top: 2%;
        font-family: "Kepler";
        font-weight: normal;
        font-size: 12px;
    }

    .naming h6
    {
        display: inline-block;
        color: black;
        font-weight: normal;
        font-family: "Roboto";
        font-size: 8px;
        /* border: 1px solid #cfcae9; */
        background-color: #efbc1d;
        padding: 1px 2px;
    }

    .naming p
    {
        margin-top: 2%;
        /* margin-left: 10%; */
        color: #8b8b8b;
        font-weight: normal;
        font-family: "Roboto";
        font-size: 10.5px;
        /* width: 80%; */
    }

    .Reviews
    {
        padding-left: 12.95%;
        padding-top: 2%;
    }

    .Review
    {
        height: 40vh;
        position: relative;
        overflow: hidden;
    }

    @media only screen and (max-width: 778px)
    {
         .next
        {
            right: 12vw;
            height: 50px;
            width: 50px;
            background-position: center;
        }

        .prev
        {
            right: 25vw;
            background-position: center;
            background-size: 50%;
            height: 50px;
            width: 50px;
        }

        .descr p
        {
            height: 25vh;
        }

        .slick-slider
        {
            width: 75vw;
        }

        .naming
        {
            height: 30%;
        }

        .Reviews
        {
            padding-left: 9%;
            padding-top: 0;
        }

         .naming h3
        {
            font-family: "Kepler";
            font-weight: normal;
            font-size: 10px;
            width: 120px;
            margin: 0;
        }

        .naming h6
        {
            display: inline-block;
            color: black;
            font-weight: normal;
            font-family: "Roboto";
            font-size: 8px;
            /* border: 1px solid #cfcae9; */
            background-color: #efbc1d;
            padding: 2px 2px;
            margin: 0;
        }

        .person{
            width: 16vw;
            height: 16vw;
        }

        .naming p
        {
            color: #8b8b8b;
            font-weight: normal;
            font-family: "Roboto";
            font-size: 10.5px;
            width: 120px;
            margin: 0;
        }

        .descr
        {
            position: relative;
            left: 7%;
            font-size: 2.7vw;
            font-family: 'Roboto';
            width: 80%;
        }
    }

</style>
