<template>
    <div class="wrapper-co">
        <div class="wrapper" v-for="item in items" :key="item.id" :style="{'background-image':'url('+ item.img +')'}">
            <div class="overlay">
                <div class="text-area">
                    <h4>{{item.subject}}</h4>
                    <h3>{{item.name}}</h3>
                    <div class="info1">
                        <p>Опыт в команде</p>
                        <p class="title">{{item.year}}</p>
                    </div>
                    <div class="info2">
                        <p>Успешных проектов</p>
                        <p class="title">{{item.top}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
var $ = require('jquery');
window.jQuery = $;



export default {
    name: 'Cards',
    mounted: function(){ 
        $('.wrapper').hover(function(){
            $(this).find(".overlay").css('opacity', '1')
        }, function(){
            $(this).find(".overlay").css('opacity', '0')
        })

    },
    components:{
    },
    data: function(){
        return{
            items: [
                { 
                    id: 1,
                    name: 'Ирина',
                    subject: 'Консультант SMM/Таргет',
                    img: require('../../assets/team-person2.png'),
                    top: '32',
                    year: '3 года ',
                },
                { 
                    id: 2,
                    name: 'Ирина',
                    subject: 'Консультант SMM/Таргет',
                    img: require('../../assets/team-person.png'),
                    top: '32',
                    year: '3 года ',
                },
                { 
                    id: 3,
                    name: 'Ирина',
                    subject: 'Консультант SMM/Таргет',
                    img: require('../../assets/team-person2.png'),
                    top: '32',
                    year: '3 года ',
                },
                { 
                    id: 4,
                    name: 'Ирина',
                    subject: 'Консультант SMM/Таргет',
                    img: require('../../assets/team-person.png'),
                    top: '32',
                    year: '3 года ',
                },
                { 
                    id: 5,
                    name: 'Ирина',
                    subject: 'Консультант SMM/Таргет',
                    img: require('../../assets/team-person2.png'),
                    top: '32',
                    year: '3 года ',
                },
                { 
                    id: 6,
                    name: 'Ирина',
                    subject: 'Консультант SMM/Таргет',
                    img: require('../../assets/team-person.png'),
                    top: '32',
                    year: '3 года ',
                },
                { 
                    id: 7,
                    name: 'Ирина',
                    subject: 'Консультант SMM/Таргет',
                    img: require('../../assets/team-person.png'),
                    top: '32',
                    year: '3 года ',
                },
                { 
                    id: 8,
                    name: 'Ирина',
                    subject: 'Консультант SMM/Таргет',
                    img: require('../../assets/team-person2.png'),
                    top: '32',
                    year: '3 года ',
                },
                { 
                    id: 9,
                    name: 'Ирина',
                    subject: 'Консультант SMM/Таргет',
                    img: require('../../assets/team-person.png'),
                    top: '32',
                    year: '3 года ',
                },
                { 
                    id: 10,
                    name: 'Ирина',
                    subject: 'Консультант SMM/Таргет',
                    img: require('../../assets/team-person2.png'),
                    top: '32',
                    year: '3 года ',
                },
                { 
                    id: 11,
                    name: 'Ирина',
                    subject: 'Консультант SMM/Таргет',
                    img: require('../../assets/team-person.png'),
                    top: '32',
                    year: '3 года ',
                },
                { 
                    id: 12,
                    name: 'Ирина',
                    subject: 'Консультант SMM/Таргет',
                    img: require('../../assets/team-person.png'),
                    top: '32',
                    year: '3 года ',
                },
                { 
                    id: 13,
                    name: 'Ирина',
                    subject: 'Консультант SMM/Таргет',
                    img: require('../../assets/team-person.png'),
                    top: '32',
                    year: '3 года ',
                },
                { 
                    id: 14,
                    name: 'Ирина',
                    subject: 'Консультант SMM/Таргет',
                    img: require('../../assets/team-person.png'),
                    top: '32',
                    year: '3 года ',
                },
                { 
                    id: 15,
                    name: 'Ирина',
                    subject: 'Консультант SMM/Таргет',
                    img: require('../../assets/team-person.png'),
                    top: '32',
                    year: '3 года ',
                }
            ]
        }
  },
    methods: {
    },
}
</script>

<style scoped>
    .info1, .info2
    {
        display: inline-block;
        width: 50%;
        padding-top: 5%;
    }

    .info1 p, .info2 p
    {
        color: white;
        font-family: 'Roboto';
        padding: 0 0 0 20%;
        font-size: 0.6vw;
    }

    .info2 p
    {
        padding: 0 0 0 0%;
    }

    .info1 .title, .info2 .title
    {
        font-family: 'Kepler';
        font-size: 0.8vw;
    }

    h3
    {
        margin: 0;
    }


    .text-area
    {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40%;
    }

    .overlay h3
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 0.8vw;
        text-transform: uppercase;
        color: #ffcd33;
        position: relative;
        padding-left: 10%;
        padding-top: 2%;
    }

    .overlay h4
    {
        font-family: 'Roboto';
        font-weight: normal;
        color: white;
        font-size: 0.7vw;
        padding-left: 10%;
    }

    .overlay
    {
        background-color: rgba(59, 42, 102, 0.4);
        width: 100%;
        height: 100%;
        transition: 0.3s;
        opacity: 0;
    }

    .wrapper-co
    {
      width: 69.5vw;
      position: relative;
      margin: 20px auto 0 auto;
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
    }

    .wrapper
    {
      width: 20%;
      height: 40vh;
      background-position: center;
      background-size: cover;
      position: relative;
      cursor: default;
    }

    @media only screen and (max-width: 778px) 
    {
        .info1, .info2
        {
            padding-top: 0%;
        }

        .info1 p, .info2 p
        {
            margin: 0%;
        }

        .info1 .title, .info2 .title
        {
            font-size: 10px;
        }

        .wrapper
        {
            width: 50%;
        }

        .wrapper-co
        {
            width: 69.5vw;
            position: relative;
            margin: 60px auto 0 auto;
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
        }

        .overlay h4
        {
            font-size: 9px;
            width: 90%;
        }
    }

</style>
