<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7d993840c5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <link rel="preload" href="<%= require('@/assets/Fonts/Roboto-Regular.ttf') %>" as="font" crossorigin>
    <link rel="preload" href="<%= require('@/assets/Fonts/Kepler296.otf') %>" as="font" crossorigin>
    <title>WWA</title>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>

    <div class="loader">
      <div class="svg-test2"  style="display: none">

    <svg class="mysvg2" viewBox="0 0 812.31 529.77">
        <path id="motionpath2" d="M131.69,365.63H580a56.71,56.71,0,0,1,6.11.33c18.63,2,112.19,18.07,86.77,87-28.46,77.16-17.21,87.1-125.78,117a118.44,118.44,0,0,1-25.37,4.1q-3.27.16-7.16.29c-116.79,3.67-171.64-128.14-87-208.7" transform="translate(-7 -448.63) scale(1.5)"/>
       <path class="black2" d="M2.5,302.54,16,278.44H63.19a16.26,16.26,0,0,1,16.13,18.37l-6.73,51.72,49.28-70.09h22.27v70.09l36.51-70.09h50.42a18.45,18.45,0,0,1,18.28,20.94l-6.28,46.23,47.83-67.17h24.45v67.17l35.42-67.17h28.47L304,408.4H280.67l.37-71.18L229.93,408.4h-23l4.88-99.35a4.47,4.47,0,0,0-4.46-4.69H194.52l-61.7,104H110.55V339L58.72,408.4H34.62l9.49-104.77Z" transform="translate(-2.5 -257.04)"/>
       <path class="black2" d="M582.28,339.38H511.86l26.59-63H489.7l-50.72,63s-59.86-3.29-85.72,16.58c0,0-18.36,12.77-23.09,28.88a16.14,16.14,0,0,0,7.54,18.63c6.36,3.63,16.88,7.34,33.08,7a57.41,57.41,0,0,0,22.36-5.11c14.64-6.6,40.72-21.39,54.68-47.48h25.38l-17.54,49.56H491.4l16.52-48.13H575.2L590,339.68Z" transform="translate(-2.5 -257.04)"/>
       <path class="white2" d="M419.22,355.08c-7.33.88-43,6.1-47.26,25.38a5.66,5.66,0,0,0,4.05,6.79c3.23.78,8.63.45,17.56-3.57A32.79,32.79,0,0,0,401,379a81.35,81.35,0,0,0,18.9-22.92A.69.69,0,0,0,419.22,355.08Z" transform="translate(-2.5 -257.04)"/>
       <polygon class="white2" points="461.44 82.44 475.49 82.44 489.13 52.94 461.44 82.44"/>
       <text class="cls-1" font-size="1.7em" transform="translate(31.23 176.36)">Улучшить можно все</text>
          
    </svg>
     <div class="wipe_out3"></div>
     <div class="wipe_out4"></div>
     <img class="rocket_gif_big" src="<%= BASE_URL %>rocket_logo.gif" alt="logo">
     <img class="rocket_pic_big" src="<%= BASE_URL %>rocket_logo.png" alt="logo">
</div>
    </div>
  </body>
  <script>
    var tk = new TimelineMax();
    gsap.registerPlugin(MotionPathPlugin);
    $(document).ready(function(){
        $('.svg-test2').fadeIn()
        setTimeout(function(){


        var animation = tk
                .set(".rocket_gif_big", {opacity: 1})
                .to(".rocket_gif_big", {
                    duration:3,
                    ease: "power1.inOut",
                    motionPath:{
                        path: "#motionpath2",
                        align: "#motionpath2",
                        autoRotate: true,
                        alignOrigin: [0.5, 0.5],
                    }
                })
                .to(".wipe_out3", 2.4, {left: "100%", ease: "power1.inOut"},-0.2)
                .to(".wipe_out4", 2, {left: "100%", ease: "power1.inOut"})
                .to(".rocket_gif_big", 0, {opacity: 0})
                .to(".rocket_pic_big", 0, {opacity: 1})
                .to(".wipe_out3", 0.1, {opacity: "0"})
                .to(".wipe_out4", 0.1, {opacity: "0"})

                  TweenMax.to('.loader', 0.3, {
                      delay: 5,
                      opacity: 0,
                      display: 'none',
                      ease: Circ.easeOut
                  })
        },100)
    })
  </script>
  <style>
    .loader
    {
      width: 100vw;
      height: 100vh;
      background-color: white;
      z-index: 1000;
      position: fixed;
      top: 0;
      left: 0;
    }

    .svg-test2{
      width: 10vw;
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      display: none;
    }
    #motionpath2{
        /* fill: #55499c; */
        position: absolute;
        fill: none;
    }
    .rocket_pic_big{
        z-index: 2;
        position: absolute;
        width: 15%;
        left: 71%;
        top: -8%;
        -webkit-transform: rotate(47deg);
          -moz-transform: rotate(47deg);
            -ms-transform: rotate(47deg);
            -o-transform: rotate(47deg);
                transform: rotate(47deg);
        opacity: 0;
    }
    .rocket_gif_big{
        opacity: 0;
        position: absolute;
        width: 34%;
        top: -20%;
        left: -20%;
        -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
                transform: rotate(90deg);
    }
    .wipe_out3, .wipe_out4{
        position: absolute;
        top: -15%;
        left: 0%;
        width: 100%;
        height: 45%;
        background-color: #fff;
    }
    .wipe_out4{
        height: 6%;
        width: 40%;
        top: 29%;
        left: 0;
        background-color: #fff;
        z-index: 0;
    }
    .black2{
      fill: #000;
    }
    .white2{
      fill: #fff
    }

    @media only screen and (max-width: 778px) 
    {
      .svg-test2{
        width: 50vw;
      }
    }
  </style>
</html>
