<template>
    <div class="section" id="section4">
        <h1 class="otz">отзывы</h1>
        <div class="white-line"></div>

        <div class="title">
          <h1>о нас говорят</h1>
        </div>

        <div class="filter filter-us">
          <ul>
            <li class="active">Все</li>
            <li>Продвижение сайтов</li>
            <li>Контекстная реклама</li>
            <li>Создание сайтов</li>
            <li>SMM</li>
            <li>Таргетированная реклама</li>
          </ul>
        </div>

        <div class="reviews">
          <Reviews/>
        </div>

        <div class="angle" @click="goReviews()">все отзывы</div>
                  <div class="button-cover">
                        <div class="angle2 get-cons3">получить консультацию</div>
                        <div class="modal-cover">
                            <div class="form">
                                <form-contact></form-contact>
                            </div>
                            <div class="form2">
                                <form-policy></form-policy>
                            </div>
                            <div class="form3">
                                <form-thanks></form-thanks>
                            </div>
                        </div>
                    </div>

        <div class="videos">
          <div class="video">
            <div class="blur blur1"></div>
            <i class="fas fa-play"></i>
            <div class="video-title">
              <h5 class="main-title">Андрей</h5>
              <h5 class="subtitle">Руководитель сети студий ресниц и бровей</h5>
            </div>
          </div>
          <div class="video">
            <div class="blur blur2"></div>
            <i class="fas fa-play"></i>
            <div class="video-title">
              <h5 class="main-title">Андрей</h5>
              <h5 class="subtitle">Руководитель сети студий ресниц и бровей</h5>
            </div>
          </div>
        </div>
        <div class="background-filter"></div>

    </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>

<script>

var $ = require('jquery');
window.jQuery = $;

import Reviews from '../other/reviews.vue';
import formContact from '../other/form-contact.vue'
import formPolicy from '../other/form-policy.vue'
import formThanks from '../other/form-thanks.vue'

export default {
  name: 'section4',
  components:
  {
    Reviews,
    formContact,
    formPolicy,
    formThanks
  },
  props: {
    // msg: String
  },
  mounted: function(){
    new TypeIt('.otz', {
        cursor: false,
        waitUntilVisible: true
    })
    .go();

    if ($(window).width() < 767) 
    {
      $('.get-cons3').click(function(){
          fullpage_api.setMouseWheelScrolling(false);
          fullpage_api.setAllowScrolling(false);

          var popup1 = new TimelineMax();
          var popup1_1 = new TimelineMax();
          popup1.to($(this).next(),0.1,{
              display: 'block',
              opacity: 1,
              zIndex: 100,
          })

          popup1.to($(this), 0.1,{
              display: 'block',
              opacity: 0,
          })

          popup1.to('.background-filter', 0.2,{
              display: 'block',
              opacity: 1,
          })

          popup1.to($(this).next(), 0.3, {
              delay: 0.1,
              top: -400,
              left: 50,
              height: '60vh',
              width: '70vw',

          });

          popup1.to($(this).next().find('.form'), 0.2,{
              display: 'block',
              opacity: 1,
          })

          $('form .button').click(function(){
              popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                  display: 'none',
                  opacity: 0,
              })
              popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                  width: '70vw',
                  left: 50,
              })
              popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                  display: 'block',
                  opacity: 1,
              })
          })

          $('.form2 .button').click(function(){
              popup1.to($(this).parent().parent().parent(), 0.2,{
                  display: 'none',
                  opacity: 0,
              })
              popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                  width: '70vw',
                  height: '20vh',
                  top: -400,
                  left: 50,
                  zIndex: 100,
              })
              popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                  display: 'block',
                  opacity: 1,
              })
          })

          $('.icon-close').click(function(){
              popup1.reverse(0.6)
              fullpage_api.setMouseWheelScrolling(true);
              fullpage_api.setAllowScrolling(true);
          })
          $('.background-filter').click(function(){
              popup1.reverse(0.6)
              fullpage_api.setMouseWheelScrolling(true);
              fullpage_api.setAllowScrolling(true);
          })
      })
    }
    else
    {
      $('.get-cons3').click(function(){
          fullpage_api.setMouseWheelScrolling(false);
          fullpage_api.setAllowScrolling(false);

          var popup1 = new TimelineMax();
          var popup1_1 = new TimelineMax();
          popup1.to($(this).next(),0.1,{
              display: 'block',
              opacity: 1,
              zIndex: 100,
          })

          popup1.to($(this), 0.1,{
              display: 'block',
              opacity: 0,
          })

          popup1.to('.background-filter', 0.2,{
              display: 'block',
              opacity: 1,
          })

          popup1.to($(this).next(), 0.3, {
              delay: 0.1,
              top: -400,
              left: 50,
              height: '60vh',
              width: '30vw',

          });

          popup1.to($(this).next().find('.form'), 0.2,{
              display: 'block',
              opacity: 1,
          })

          $('form .button').click(function(){
              popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                  display: 'none',
                  opacity: 0,
              })
              popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                  width: '40vw',
                  left: 0,
              })
              popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                  display: 'block',
                  opacity: 1,
              })
          })

          $('.form2 .button').click(function(){
              popup1.to($(this).parent().parent().parent(), 0.2,{
                  display: 'none',
                  opacity: 0,
              })
              popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                  width: '25vw',
                  height: '20vh',
                  top: -300,
                  left: 100,
              })
              popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                  display: 'block',
                  opacity: 1,
              })
          })

          $('.icon-close').click(function(){
              popup1.reverse(0.6)
              fullpage_api.setMouseWheelScrolling(true);
              fullpage_api.setAllowScrolling(true);
          })
          $('.background-filter').click(function(){
              popup1.reverse(0.6)
              fullpage_api.setMouseWheelScrolling(true);
              fullpage_api.setAllowScrolling(true);
          })
      })
    }

    $(".filter-us ul li").click(function () {  
      $(".filter-us ul li").removeClass('active')
      $(this).addClass('active');
    });
  },
    methods:{
        goReviews() 
        {
            this.$router.push({path:'/reviews'})
        }
    },
}
</script>

<style scoped>
    .background-filter
    {
        backdrop-filter: blur(5px);
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: none;
        opacity: 0;
    }

    .button-cover
    {
        position: relative;
        display: inline-block;
        margin-left: 2vw;
    }

    .modal-cover
    {
        width: 14vw;
        height: inherit;
        background-color: #6654cb;
        position: absolute;
        top: 0vh;
        left: 0px;
        display: none;
        opacity: 0;
        margin: 0;
    }

    .form, .form2, .form3
    {
        display: none;
        opacity: 0;
        background-color: #6654cb;
        background-image: url('../../assets/popup-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }


    .video-title
    {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .video-title .main-title
    {
      color: white;
      font-family: 'Roboto';
      font-weight: 700;
      text-align: center;
      font-size: 11px;
      padding-bottom: 2px;
    }

    .video-title .subtitle
    {
      color: white;
      font-size: 10px;
      font-family: 'Roboto';
      font-weight: normal;
      text-align: center;
      padding-bottom: 9px;
    }

    .videos
    {
      width: 20vw;
      height: 54vh;
      position: relative;
      left: 64%;
      top: -54vh;
      overflow: hidden;
    }

    .video
    {
      height: 45%;
      position: relative;
      cursor: pointer;
    }

    .video:hover .blur
    {
      filter: blur(2px);
    }

    .video:hover i
    {
      color: #efbc1d;
    }

    .blur
    {
      width: 100%;
      height: 100%;
      transition: 0.3s;     
      background-color: #efbc1d;
      background-position: center;
      background-size: cover;
    }

    .video i
    {
      color: white;
      font-size: 40px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;
    }

    .blur1
    {
      background-image: url('../../assets/video-person.png');
    }

    .blur2
    {
      margin-top: 5vh;
      background-image: url('../../assets/video-person.png');
    }

    .angle, .angle2
    {
      margin-top: 5vh;
      margin-left: 15.1%;
      display: inline-block;
    }

    .angle2
    {
      margin-left: 2%;
      background-color: #F6F4FD;
      border: 1px solid #6654cb;
      width: 14vw;
      margin: 0;
    }

    .filter .active
    {
      color: #000;
      opacity: 1 !important;
      border-bottom: #ffcd33 2px solid;
      font-weight: 700;
    }

    .filter
    {
      position: relative;
      padding-left: 14.3%;
      padding-top: 1%;
      font-family: 'Roboto';
      font-size: 1vw;
    }

    .filter ul
    {
      list-style-type: none;
    }

    .filter ul li
    {
      display: inline-block;
      margin: 0 1%;
      padding-bottom: 3px;
      opacity: 0.6;
      cursor: pointer;
      transition: 0.3s;
    }

    .title
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      position: relative;
      padding-top: 7%;
      padding-left: 15.3%;
      font-weight: normal;
      font-size: 15px;
    }

    .otz
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 140px;
        text-transform: uppercase;
        line-height: 150px;
        color: #f2effc;
        position: absolute;
        left: 31%;
        top: 10%;
        pointer-events: none;
    }

    .white-line
    {
        background-color: #fbfafe;
        width: 17.4vw;
        height: 40vh;
        position: absolute;
        left: 15.4%;
    }

    @media only screen and (max-width: 778px) 
    {
          
          .otz
          {
            font-size: 40px;
            display: none;
          }

          .reviews
          {
            transform: scale(0.85);
            margin-top: -30px;
          }

          .angle, .angle2
          {
              width: 40vw;
              margin-top: -15px;
              display:  block;
              margin-left: 16vw;
            font-size: 2.3vw;
            padding: 12px 2px;
          }

          .angle2
          {
              margin-top: 4%;
              height: unset;
          }

        .button-cover
        {
            margin-left: 0;
        }

        .title h1
        {
            padding-top: 15%;
            font-size: 2em !important;
            width: 80%;
        }

        .filter
        {
            font-size: 4vw;
            /* padding-top: 2%; */
        }

        .filter ul li
        {
            padding-top: 2%;
        }

        .videos
        {
          display: none;
        }

        .why-us
        {
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        }

        .why-us .icon
        {
            width: 25%;
            height: 30%;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 65%;
            display: inline-block;
        }

        .why-us h4
        {
            width: 70%;
            display: inline-block;
            vertical-align: top;
            padding: 10px 0px 0 5px;
            font-size: 10px;

        }

        .why-us p
        {
            font-size: calc(0.8vw + 0.6vh);
            padding-top: 0;
            line-height: 10px;
        }

        
        .modal-cover
        {
            width: 40vw;
            height: 5.5vh;
            background-color: #6654cb;
            position: absolute;
            top: 15%;
            left: 16vw;
            padding: 10px;
            display: none;
            opacity: 0;
        }

    }

</style>
