<template>
    <div class="section" id="section2">
        <h1 class="key">кейсы</h1>
        <div class="white-line"></div>

        <div class="title">
          <h1>лучшие работы</h1>
        </div>

        <div class="filter filter-works">
          <ul>
            <li class="active">Все</li>
            <li>Продвижение сайтов</li>
            <li>Контекстная реклама</li>
            <li>Создание сайтов</li>
            <li>SMM</li>
            <li>Таргетированная реклама</li>
          </ul>
        </div>

        <Cards/>

      <div class="angle" @click="goPortfolio()">Смотреть портфолио</div>
                    <div class="button-cover">
                        <div class="angle2 get-cons2">получить консультацию</div>
                        <div class="modal-cover">
                            <div class="form">
                                <form-contact></form-contact>
                            </div>
                            <div class="form2">
                                <form-policy></form-policy>
                            </div>
                            <div class="form3">
                                <form-thanks></form-thanks>
                            </div>
                        </div>
                    </div>
      
      
      <p class="angle-text">Ответы на Ваши вопросы абсолютно бесплатны</p>
      <div class="background-filter"></div>

    </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>

<script>

var $ = require('jquery');
window.jQuery = $;
import Cards from '../other/cards.vue';
import formContact from '../other/form-contact.vue'
import formPolicy from '../other/form-policy.vue'
import formThanks from '../other/form-thanks.vue'

export default {
  name: 'section2',
  components:
  {
    Cards,
    formContact,
    formPolicy,
    formThanks
  },
  props: {
    // msg: String
  },
  methods:{
        goPortfolio() 
        {
            this.$router.push({path:'/portfolio'})
        },
  },
  mounted: function(){

    if ($(window).width() < 767) 
    {
        $('.get-cons2').click(function(){
            fullpage_api.setMouseWheelScrolling(false);
            fullpage_api.setAllowScrolling(false);

            var popup1 = new TimelineMax();
            var popup1_1 = new TimelineMax();
            popup1.to($(this).next(),0.1,{
                display: 'block',
                opacity: 1,
                zIndex: 100,
            })

            popup1.to($(this), 0.1,{
                display: 'block',
                opacity: 0,
            })

            popup1.to('.background-filter', 0.2,{
                display: 'block',
                opacity: 1,
            })

            popup1.to($(this).next(), 0.3, {
                delay: 0.1,
                top: -400,
                left: 30,
                height: '70vh',
                width: '80vw',

            });

            popup1.to($(this).next().find('.form'), 0.2,{
                display: 'block',
                opacity: 1,
            })

            $('form .button').click(function(){
                popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                    display: 'none',
                    opacity: 0,
                })
                popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                    width: '80vw',
                    left: 30,
                })
                popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                    display: 'block',
                    opacity: 1,
                })
            })

            $('.form2 .button').click(function(){
                popup1.to($(this).parent().parent().parent(), 0.2,{
                    display: 'none',
                    opacity: 0,
                })
                popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                    width: '80vw',
                    height: '20vh',
                    top: -300,
                    left: 30,
                })
                popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                    display: 'block',
                    opacity: 1,
                })
            })

            $('.icon-close').click(function(){
                popup1.reverse(0.6)
                fullpage_api.setMouseWheelScrolling(true);
                fullpage_api.setAllowScrolling(true);
            })
            $('.background-filter').click(function(){
                popup1.reverse(0.6)
                fullpage_api.setMouseWheelScrolling(true);
                fullpage_api.setAllowScrolling(true);
            })
        })
    }
    else
    {
        $('.get-cons2').click(function(){
        fullpage_api.setMouseWheelScrolling(false);
        fullpage_api.setAllowScrolling(false);

        var popup1 = new TimelineMax();
        var popup1_1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top: -400,
            left: 50,
            height: '60vh',
            width: '30vw',

        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })

        $('form .button').click(function(){
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                width: '40vw',
                left: 0,
            })
            popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.form2 .button').click(function(){
            popup1.to($(this).parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                width: '25vw',
                height: '20vh',
                top: -300,
                left: 100,
            })
            popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.icon-close').click(function(){
            popup1.reverse(0.6)
            fullpage_api.setMouseWheelScrolling(true);
            fullpage_api.setAllowScrolling(true);
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
            fullpage_api.setMouseWheelScrolling(true);
            fullpage_api.setAllowScrolling(true);
        })
    })
    }
    
    

    new TypeIt('.key', {
        cursor: false,
        waitUntilVisible: true
    })
    .go();

    $(".filter-works ul li").click(function () {  
      $(".filter-works ul li").removeClass('active')
      $(this).addClass('active');
    });
  }
}
</script>

<style scoped>
    .background-filter
    {
        backdrop-filter: blur(5px);
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: none;
        opacity: 0;
    }

    .button-cover
    {
        position: relative;
        display: inline-block;
        margin-left: 2vw;
    }

    .modal-cover
    {
        width: 14vw;
        height: 0px;
        background-color: #6654cb;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -3;
        display: none;
        opacity: 0;
    }

    .form, .form2, .form3
    {
        display: none;
        opacity: 0;
        background-color: #6654cb;
        background-image: url('../../assets/popup-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .icon-close
    {
        height: 30px;
        width: 30px;
        background-color: #ffcd33;
        background-image: url('../../assets/close.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30%;
        position: absolute;
        right: -30px;
        cursor: pointer;
    }

    .angle, .angle2
    {
        width: 14vw;
        margin-top: 0;
        margin-left: 0;
        display: inline-block;
    }

    .angle2
    {
      /* margin-left: 2%; */
      background-color: #F6F4FD;
      border: 1px solid #6654cb;
    }
    
    .angle
    {
        margin-left: 15.2vw;
        margin-top: 60px;
    }

    .angle-text
    {
      margin-left: 4%;
      display: inline-block;
      vertical-align: top;
      padding-top: 70px;
      font-size: 0.9vw;
      font-family: 'Roboto';
      opacity: 0.6;
    }

    .angle::before
    {
        content: "";
        position: absolute;
        top: calc(100% - 38px);
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 38px;
        transition: all 0.3s cubic-bezier(0, .25, .5, 1);
        background-color: #efbc1d;
        transform: skewX(-35deg) translateX(-155%) scale(1.5);
    }

    .angle:hover::before,
    .angle:active::before
    {
        transform: skewX(-35deg) translateX(-0%) scale(1.5);
    }

    .filter .active
    {
      color: #000;
      opacity: 1 !important;
      border-bottom: #ffcd33 2px solid;
      font-weight: 700;
    }

    .filter
    {
      position: relative;
      padding-left: 14.3%;
      padding-top: 2.3%;
      font-family: 'Roboto';
      font-size: 1vw;
    }

    .filter ul
    {
      list-style-type: none;
    }

    .filter ul li
    {
      display: inline-block;
      margin: 0 1%;
      padding-bottom: 3px;
      opacity: 0.6;
      cursor: pointer;
      transition: 0.3s;
    }

    .title
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      position: relative;
      padding-top: 9%;
      padding-left: 15.3%;
      font-weight: normal;
      font-size: 15px;
    }

    .title h1
    {
      font-size: 45px;
    }

    .key
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 170px;
        text-transform: uppercase;
        line-height: 150px;
        color: #f8f6fd;
        position: absolute;
        left: 31%;
        top: 10%;
        pointer-events: none;
    }

    .white-line
    {
        background-color: #fbfafe;
        width: 17.4vw;
        height: 40vh;
        position: absolute;
        left: 15.4%;
    }

    @media only screen and (max-width: 778px) 
    {
        .key
        {
            font-size: 40px;
            display: none;
        }

        .title
        {
            padding-top: 15%;
        }

        .filter
        {
            font-size: 4vw;
        }

        .filter ul li
        {
            padding-top: 2%;
        }

        .angle-text
        {
            display: none;
        }
        
        .angle, .angle2
        {
            width: 40vw;
            margin-top: 1vh;
            display:  block;
            margin-left: 16vw;
            font-size: 2.3vw;
            padding: 12px 2px;
        }

        .angle2
        {
            margin-top: 4%;
            height: unset;
        }

        .button-cover
        {
            margin-left: 0;
        }

         .modal-cover
        {
            width: 40vw;
            height: 6.5vh;
            background-color: #6654cb;
            position: absolute;
            top: 15%;
            left: 16vw;
            padding: 10px;
            display: none;
            opacity: 0;
        }
        
    }

</style>
