<template>
    <div class="section" id="section1">
        <h1 class="wwb">west <br/> web <br/> art</h1>
        <div class="white-line"></div>

        <div class="text-area">
            <h1>Комплексный<br/>интернет-маркетинг<br/>сайтов</h1>
            <p>Хотите видеть свой сайт в топе, ежедневно получать заказы и <br/> добиться узнаваемости в регионе?  Мы знаем, как раскрутить Ваш <br/> бизнес, и готовы это сделать на высшем уровне. </p>
                    <div class="button-cover kek">
                        <div class="angle get-cons">получить консультацию</div>
                        <div class="modal-cover">
                            <div class="form">
                                <form-contact></form-contact>
                            </div>
                            <div class="form2">
                                <form-policy></form-policy>
                            </div>
                            <div class="form3">
                                <form-thanks></form-thanks>
                            </div>
                        </div>
                    </div>
                    
        <div class="background-filter"></div>
        </div>

            <div class="rocket"></div>
        <div id="box"> 
            <svg class="mysvg" width="100%" height="100%" viewBox="0 0 812.31 529.77">
                <defs> 
                    <filter id="turb">
                        <feTurbulence id="turbwave" type="fractalNoise" baseFrequency="0.00000000000001" numOctaves="1"
                            result="turbulence_3" data-filterId="3" />
                        <feDisplacementMap xChannelSelector="L" yChannelSelector="G" in="SourceGraphic" in2="turbulence_3" scale="30" />
                    </filter>
                    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color:rgb(162,84,227);stop-opacity:1" />
                    <stop offset="100%" style="stop-color:rgb(111,70,188);stop-opacity:1" />
                    </linearGradient>
                </defs>
                <path class="cls-3" d="M1000,484.78s-22.62,26.86-153.22-8.39-185.08-45.67-237.16-7.22-57.69,48.88-73.72,48.08l-17.62-24.84L354,561.31l8,30.45s-4,40.06-64.9,76.92c0,0-28.84,17.62-36.85,44.07,0,0-5.61,46.47-31.25,60.09s-62.5,45.67-55.29,87.33S79.21,943.5,79.21,943.5,21.52,970.77,3.1,1000H1000Z" transform="translate(-118.1 -414.75) scale(0.89)" filter="url(#turb)"/>
                <path class="cls-2" d="M432.44,604.47s10.67,40.75-57.25,86.52-39.6,88.62-47.95,135.84-44.68,171.45-60.66,172.9,733.42,0,733.42,0V652.11s-125.68-78-239.19-109.46c0,0-194.2,14.19-225.62,0" transform="translate(-205.83 -482.14) scale(0.93)" filter="url(#turb)"/>
                <path class="cls-1" d="M792.26,198S730.05,184.28,688,217.21,549.84,277.59,500.44,265.7s-87-16-149.78-65.46S225,154.35,225,154.35l-5.65,128.13S256.07,340.56,201,389.7s-113.23,70.94-112.55,176S-9.71,689.12-6.06,683s812.21,0,812.21,0Z" transform="translate(6.15 -154.3)" filter="url(#turb)"/>
            </svg>
            <img class="bg-starts" src="../../assets/stars-bg.png" alt="starts-background">
            <img class="planet1" src="../../assets/planet1.png" alt="planet">
            <img class="planet2" src="../../assets/planet2.png" alt="planet">
        </div>

        <div id="circle-box"> 
            <svg class="mysvg" width="100%" height="100%" viewBox="0 0 729.92 755.43">
                <defs> 
                    <filter id="turb2">
                        <feTurbulence id="turbwave" type="fractalNoise" baseFrequency="0.00000000000001" numOctaves="1"
                            result="turbulence_2" data-filterId="1" />
                        <feDisplacementMap xChannelSelector="L" yChannelSelector="G" in="SourceGraphic" in2="turbulence_2" scale="70" />
                    </filter>
                </defs>
                <ellipse class="cls-4" cx="364.96" cy="377.71" rx="364.96" ry="377.71" filter="url(#turb2)"/>
            </svg>
        </div>

        <div id="circle-box2"> 
            <svg class="mysvg" width="100%" height="100%" viewBox="0 0 729.92 755.43">
                <defs> 
                    <filter id="turb2">
                        <feTurbulence id="turbwave2" type="fractalNoise" baseFrequency="0.00000000000001" numOctaves="1"
                            result="turbulence_2" data-filterId="1" />
                        <feDisplacementMap xChannelSelector="L" yChannelSelector="G" in="SourceGraphic" in2="turbulence_2" scale="40" />
                    </filter>
                </defs>
                <ellipse class="cls-4" cx="364.96" cy="377.71" rx="364.96" ry="377.71" filter="url(#turb2)"/>
            </svg>
        </div>

        

        <div class="we-do">
            <div class="we-do-item" @click="goServicesOpen()">
                <div class="icon icon1"></div>
                <p>Продвижение <br/> сайтов</p>
            </div>
            <div class="we-do-item" @click="goServicesOpen()">
                <div class="icon icon2"></div>
                <p>Продвижение в <br/>соц сетях </p>
            </div>
            <div class="we-do-item" @click="goServicesOpen()">
                <div class="icon icon3"></div>
                <p>копирайтинг</p>
            </div>
            <div class="we-do-item" @click="goServicesOpen()">
                <div class="icon icon4"></div>
                <p>Контекстная <br/> реклама </p>
            </div>
            <div class="we-do-item" @click="goServices()">
                <div class="icon icon5"></div>
            </div>
        </div>
        <div class="next-section"></div>

    </div>
</template>

// <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>

<script>
var $ = require('jquery');
window.jQuery = $;

import formContact from '../other/form-contact.vue'
import formPolicy from '../other/form-policy.vue'
import formThanks from '../other/form-thanks.vue'


export default {

  name: 'section1',
  props: {
    // msg: String
  },
  components:
  {
      formContact,
      formPolicy,
      formThanks
  },
  mounted: function(){
      
      setTimeout(function(){
        console.clear()
            var styles = ['background: #111', 'color: #FFF', 'display: block', 'line-height: 30px', 'text-align: center', 'font-weight: bold', 'font-family: arial', 'padding: 0 100px'].join(';');
            var styles2 = ['color: red', 'display: block', 'line-height: 30px', 'text-align: center', 'font-weight: bold', 'font-family: arial', 'padding: 0 57px'].join(';');
            console.log('%c Made by AlIO %c http://www.aliocompany.com', styles, styles2);
      }, 4000)
    

    new TypeIt('.wwb', {
        cursor: false,
        waitUntilVisible: true
    })
    .go();

    var currentMousePos = { x: 0, y: 0 },
    wHeight= $(window).height(),
    wWidth= $(window).width();
    if ($(window).width() > 767) 
    {
         $(document).mousemove(function(event) 
            {
                    currentMousePos.x = event.pageX;
                    currentMousePos.y = event.pageY;

                    var around1 = (currentMousePos.y * 20 / wHeight * -0.8) + '%',
                    around2 = (currentMousePos.x * 20 / wWidth * -0.8) + '%',
                    around3 = (currentMousePos.y * 15 / wHeight * -0.8) + '%',
                    around4 = (currentMousePos.x * 15 / wWidth * -0.8) + '%'

                    $(".planet1").css({"-webkit-transform": "translate(" + around2 + ", " + around1 +")"});
                    $(".planet2").css({"-webkit-transform": "translate(" + around4 + ", " + around3 +")"});
            });

    }


     if ($(window).width() < 767) 
    {
        $('.get-cons').click(function(){
        fullpage_api.setMouseWheelScrolling(false);
        fullpage_api.setAllowScrolling(false);

        var popup1 = new TimelineMax();
        var popup1_1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top: -200,
            left: 0,
            height: '70vh',
            width: '70vw',
            zIndex: 202,

        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })

        $('form .button').click(function(){
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                width: '70vw',
                left: 0,
            })
            popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.form2 .button').click(function(){
            popup1.to($(this).parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                width: '70vw',
                height: '17.5vh',
                top: -100,
                left: 0,
            })
            popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.kek .icon-close').click(function(){
            popup1.reverse(0.6)
            fullpage_api.setMouseWheelScrolling(true);
            fullpage_api.setAllowScrolling(true);
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
            fullpage_api.setMouseWheelScrolling(true);
            fullpage_api.setAllowScrolling(true);
        })
    })

    }
    else
    {

        $('.get-cons').click(function(){
        fullpage_api.setMouseWheelScrolling(false);
        fullpage_api.setAllowScrolling(false);

        var popup1 = new TimelineMax();
        var popup1_1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top: -300,
            left: window.innerWidth / 5,
            height: '60vh',
            width: '30vw',
            zIndex: 202,

        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })

        $('form .button').click(function(){
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                width: '40vw',
                left: window.innerWidth / 6,
            })
            popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.form2 .button').click(function(){
            popup1.to($(this).parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                width: '25vw',
                height: '20vh',
                top: -100,
                left: window.innerWidth / 4.3,
            })
            popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.kek .icon-close').click(function(){
            popup1.reverse(0.6)
            fullpage_api.setMouseWheelScrolling(true);
            fullpage_api.setAllowScrolling(true);
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
            fullpage_api.setMouseWheelScrolling(true);
            fullpage_api.setAllowScrolling(true);
        })
    })

         $(document).ready(function(){
            setTimeout(function () 
            {
                TweenMax.to("#turbwave", 20, {
                    attr:{"baseFrequency":0.03},
                    repeat:-1,
                    yoyo:true,
                    ease:Linear.easeNone
                });

                TweenMax.to("#turbwave2", 10, {
                    attr:{"baseFrequency":0.01},
                    repeat:-1,
                    yoyo:true,
                    ease:Linear.easeNone,
                });
                
                TweenMax.to("#circle-box", 3.5, {
                    rotation: 360,
                });

                TweenMax.set(".rocket", {
                    right: "-20vh",
                    top: window.innerHeight,
                    display: "block"
                });

                TweenMax.set("#box", {
                    right: "-60vh",
                    bottom: "-80vh",
                    display: "block"
                });

                TweenMax.to("#box", 3.5, {
                    right: "-70px",
                    bottom: "-70px",
                });

                TweenMax.to(".rocket", 3.5, {
                    right: "32vh",
                    top: "27vh",
                });
            }, 5000);
        })
    }
  },
  computed:{
    currentPage(){
      return this.$route.name
    },
  },
    methods:{
        goServices() 
        {
            this.$router.push({path:'/services'})
        },
        goServicesOpen() 
        {
            this.$router.push({path:'/services-open'})
        }
    },
}
</script>

<style scoped>
    .mysvg{
        overflow: visible;
    }

    .cls-4
    {
        fill: #f7f6fb;
    }

    .cls-3
    {
        fill: #ddd2e8;
    }

    .cls-2
    {
        fill: #c5b3d7;

    }

    .cls-1
    {
        fill: url("#grad1");
    }

    #circle-box
    {
        position: absolute;
        left: -10vh;
        bottom: -10vh;
        width: 30vh;
    }

    #circle-box2
    {
        position: absolute;
        right: -20vh;
        top: -35vh;
        width: 50vh;
    }

    #box
    {
        position: absolute;
        right: -40px;
        bottom: -40px;
         transform: scale(1.1); 
        width: 90vh;
        display: none;
        z-index: 0;
    }
    .bg-starts{
        position: absolute;
        z-index: 3;
        bottom: 0;
        right: 0;
        width: 95%;
    }
    .background-filter
    {
        backdrop-filter: blur(5px);
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: none;
        opacity: 0;
        z-index: 9;
    }
    .planet1, .planet2{
        position: absolute;
    }
    .planet1{
        bottom: 2em;
        right: 70vh;
        width: 8em;
    }
    .planet2{
        bottom: 8em;
        right: 55vh;
        width: 3em;
    }
    .button-cover
    {
        position: relative;
        height: 100%;
    }

    .modal-cover
    {
        width: 16vw;
        height: inherit;
        background-color: #6654cb;
        position: absolute;
        top: 0;
        left: 0;
    }

    .form, .form2, .form3
    {
        display: none;
        opacity: 0;
        background-color: #6654cb;
        background-image: url('../../assets/popup-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .wwb
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: calc(8vw + 6vh + 5vmin);
        text-transform: uppercase;
        line-height: 12vw;
        color: #f8f6fd;
        position: absolute;
        left: 28%;
        top: -10%;
        pointer-events: none;
    }

    .white-line
    {
        background-color: #FFF;
        width: 15vw;
        height: 100vh;
        position: absolute;
        left: 16%;
    }

    .next-section
    {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 75%;
        right: 5%;
        border: 1px black solid;
        background-image: url('../../assets/arrow_down.svg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 50%;
        filter: invert(100%);
        cursor: pointer;
        animation: goDown 2s infinite;
    }

    @keyframes goDown
    {
        0%{
            background-position: 50% 50%;
        }

        50%{
            background-position: 50% 70%;
        }

        100%{
            background-position: 50% 50%;
        }
    }

    .rocket
    {
        background-image: url('../../assets/rocket.png');
        position: absolute;
        right: 0;
        bottom: 0;
        width: 40vh;
        height: 40vh;
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-transform: scale(1.2);
           -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
             -o-transform: scale(1.2);
                transform: scale(1.2);
        display: none;
        z-index: 1;
    }

    .we-do
    {
        height: 10vh;
        position: absolute;
        top: 73%;
        left: 15.1vw;
        z-index: 2;
    }

    .we-do-item
    {
        width: 15.95vw;
        height: 100%;
        border: 1px solid #ede9fa;
        background-color: #FFF;
        border-right: 0;
        display: inline-block;
        position: relative;
        cursor: pointer;
    }
    .we-do-item:nth-child(5)
    {
        width: 5.9vw;
        border-right: 1px solid #ede9fa;
        cursor: pointer;
    }

    .we-do-item p
    {
        position: absolute;
        right: 20%;
        top: 50%;
        transform: translateY(-50%);
        font-size: calc(0.6vw + 0.4vh);
        text-transform: uppercase;
        font-family: "Kepler";
    }

    .we-do-item .icon
    {
        position: absolute;
        left: 20px;
        top: 50%;
        height: 40px;
        width: 40px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transform: translateY(-50%);
        transition: 0.3s;
    }

    .we-do-item:nth-child(1):hover .icon1
    {
        background-image: url('../../assets/prodizhenie.png');
    }

    .we-do-item:nth-child(2):hover .icon2
    {
        background-image: url('../../assets/prodvizhenie-social-media.png');
    }

    .we-do-item:nth-child(3):hover .icon3
    {
        background-image: url('../../assets/copyrighting.png');
    }

    .we-do-item:nth-child(4):hover .icon4
    {
        background-image: url('../../assets/advertising.png');
    }

    .we-do-item .icon1
    {
        background-image: url('../../assets/prodizhenie.svg');
    }

    .we-do-item .icon2
    {
        background-image: url('../../assets/prodvizhenie-social-media.svg');
    }

    .we-do-item .icon3
    {
        background-image: url('../../assets/copyrighting.svg');
    }

    .we-do-item .icon4
    {
        background-image: url('../../assets/advertising.svg');
    }

    .we-do-item .icon5
    {
        background-image: url('../../assets/arrow.svg');
        left: 0;
        transition: 0.3s;
        background-position: center;
        height: 100%;
        width: 100%;
        background-size: 50%;
    }

    .we-do-item .icon5:hover
    {
        background-image: url('../../assets/arrow.png');
    }

    .text-area
    {
        position: absolute;
        top: 21vh;
        left: 15.1vw;
        font-family: 'Kepler';
        font-weight: normal;
        z-index: 10;
        /* overflow: hidden; */
    }

    .text-area h1
    {
        font-size: 45px;
        line-height: 55px;
        text-transform: uppercase;
    }

    .text-area p
    {
        padding-top: 30px;
        font-family: 'Roboto';
        font-weight: normal;
        font-size: calc(0.5vw + 0.4vh + 0.3vmin);
    }

    .angle
    {
        width: 16vw;
        margin-top: 6.5vh;
        z-index: 20;
        font-size: 0.8vw;
        padding: 1em;
    }

    #section1
    {
        overflow: hidden;
    }

    @media only screen and (max-width: 778px) 
    {
        .wwb
        {
            line-height: 52vw;
            display: none;
        }

        .angle
        {
            width: 70vw;
            font-size: 2.7vw;
            margin-top: 4vh;
            padding: 12px;
        }    

        .text-area h1
        {
            width: 100%;
            float: right;
            font-size: calc(2vw + 1.5vh + 1vmin);
            line-height: 9.7vw;
        }

        .text-area
        {
            z-index: 10;
            top: 10vh;
        }

        .text-area p{
            font-size: 14px;
            width: 90%;
        }

        .we-do
        {
            top: 65%;
            height: 8vh;
            width: 70vw;
            display: flex;
            flex-wrap: wrap;
        }

        .we-do-item
        {
            width: 29vw;
            height: 100%;
            border: 1px solid #ede9fa;
            background-color: rgba(255, 255, 255, 0.8);
            border-right: 0;
            position: relative;
        }

        .we-do-item .icon
        {
            left: 5%;
            height: 20px;
            width: 20px;
        }

        .we-do-item p
        {
            font-size: calc(0.8vw + 0.6vh);
            right: unset;
            left: 30px;
        }

        .we-do-item:nth-child(5){
            height: 16vh;
            transform: translateY(-50%);
            width: 12vw;
        }

        .we-do-item .icon5{
            width: 90%;
            left: 5%;
        }


        .next-section
        {
            top: unset;
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%);
            filter: invert(0);
        }

        .modal-cover
        {
            width: 70vw;
        }

        .mysvg, .planet1, .planet2, #circle-box, #circle-box2, #box, .bg-starts, .rocket{
            display: none;
        }

    }
</style>