<template>
    <div class="section" id="section3">
        <h1 class="on">о нас</h1>
        <div class="white-line"></div>

        <div class="title">
          <h1>наши преимущества</h1>
        </div>

        <div class="why-us">
            <div class='wrapper draw'>
                <div class="icon icon1"></div>
                <h4>500 успешных сайтов</h4>
                <p>Благодаря профессионализму наших сотрудников и слаженной работе отделов, мы всегда выводим проекты на первые страницы поисковых систем</p>
            </div>
            <div class='wrapper draw'>
                <div class="icon icon2"></div>
                <h4>Разумная стоимость</h4>
                <p>Цены на услуги не превышают средние по рынку. Более того, мы всегда идем навстречу заказчику и предлагаем удобные схемы оплаты и скидочные программы</p>
            </div>
            <div class='wrapper draw'>
                <div class="icon icon3"></div>
                <h4>9 лет опыта</h4>
                <p>Было много взлетов и падений. Каждый промах заставлял нас ставить перед собой новые цели и добиваться их! Всегда беремся за реализацию самых смелых идей</p>
            </div>
            <div class='wrapper draw'>
                <div class="icon icon4"></div>
                <h4>Прозрачность</h4>
                <p>Мы не скрываем свои методы работы, и какими способами продвигаются проекты</p>
            </div>
            <div class='wrapper draw'>
                <div class="icon icon5"></div>
                <h4>Качественная оптимизация</h4>
                <p>Благодаря профессионализму наших сотрудников и слаженной работе отделов, мы всегда выводим проекты на первые страницы поисковых систем</p>
            </div>
            <div class='wrapper draw'>
                <div class="icon icon6"></div>
                <h4>Увеличение продаж</h4>
                <p>Благодаря профессионализму наших сотрудников и слаженной работе отделов, мы всегда выводим проекты на первые страницы поисковых систем</p>
            </div>
        </div>
    </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>

<script>

export default {
  name: 'section3',
  props: {
    // msg: String
  },
  mounted: function(){
    new TypeIt('.on', {
        cursor: false,
        waitUntilVisible: true
    })
    .go();
  }
}
</script>

<style scoped>

    .why-us
    {
        position: relative;
        width: 69.5vw;
        height: 60vh;
        background-color: white;
        margin-left: 15.2%;
        margin-top: 3%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        box-shadow: 0 0 100px rgba(0,0,0,0.2);
    }

    .wrapper
    {
        border: solid 0.1px #f8f6fd;
        overflow: hidden;
        position: relative;
        transition: color 0.25s;
    }

    .why-us .icon
    {
        width: 100%;
        height: 40%;
        background-position: 12.5% center;
        background-repeat: no-repeat;
        background-size: 15%;
    }

    .why-us h4
    {
        padding-left: 11%;
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 20px;
    }

    .why-us p
    {
        padding-left: 11%;
        padding-right: 9%;
        padding-top: 2%;
        line-height: 23px;
        font-family: 'Roboto';
        font-weight: normal;
        font-size:  calc(0.5vw + 0.3vh + 0.2vmin);
        color: #8b8b8b;
    }

    .why-us .icon1
    {
        background-image: url('../../assets/thumbs-up.svg');
    }

    .why-us .icon2
    {
        background-image: url('../../assets/purse.svg');
    }

    .why-us .icon3
    {
        background-image: url('../../assets/9.svg');
    }

    .why-us .icon4
    {
        background-image: url('../../assets/search.svg');
    }

    .why-us .icon5
    {
        background-image: url('../../assets/prodizhenie.svg');
    }

    .why-us .icon6
    {
        background-image: url('../../assets/handshake.svg');
    }

    .on
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 250px;
        text-transform: uppercase;
        line-height: 200px;
        color: #f8f6fd;
        position: absolute;
        left: 36%;
        top: 2.5%;
        pointer-events: none;
    }

    .white-line
    {
        background-color: #FFF;
        width: 17.4vw;
        height: 40vh;
        position: absolute;
        left: 21%;
    }

    .title
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      position: relative;
      padding-top: 9%;
      padding-left: 15.1%;
      font-weight: normal;
      font-size: 15px;
    }

    .title h1
    {
        font-size: 45px;
    }

    @media only screen and (max-width: 778px) 
    {
        .on
        {
            font-size: 40px;
            display: none;
        }

        .title h1
        {
            padding-top: 15%;
            font-size: 2em !important;
        }

        .why-us
        {
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        }

        .why-us .icon
        {
            width: 100%;
            height: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 30%;
            display: inline-block;
        }

        .why-us h4
        {
            width: 80%;
            display: inline-block;
            margin: 0 10%;
            padding: 0;
            font-size: 10px;
            text-align: center;

        }

        .why-us p
        {
            display: none;
        }
    }

</style>
