<template>
      <div class="section" id="section5">
          <h1 class="stok">стоимость</h1>
          <div class="white-line"></div>
          <div class="title">
            <h1>узнайте точную стоимость</h1>
          </div>

          <div class="form-sections">
            <ul>
              <li class="active first-step">01 <span>Тип услуги</span></li>
              <li class="second-step">02 <span>сроки</span></li>
              <li class="third-step">03 <span>Ваш проект</span></li>
              <li class="fourth-step">04 <span>Ваши контакты</span></li>
            </ul>
            <div class="line">
              <div class="supporting-line"></div>
            </div>
            <div class="step-wrap">
              <h2 class="step"> шаг 1 / 4 </h2>
            </div>

            <div class="form-title">
              укажите интересующие вас услуги
            </div>

            <div class="main-area1">
              <div class="works draw">
                <div class="icon icon1"></div>
                <h4>Продвижение сайтов</h4>
              </div>
              <div class="works draw">
                <div class="icon icon2"></div>
                <h4>Продвижение в соц сетях</h4>
              </div>
              <div class="works draw">
                <div class="icon icon3"></div>
                <h4>Копирайтинг</h4>
              </div>
              <div class="works draw">
                <div class="icon icon4"></div>
                <h4>Контекстная реклама</h4>
              </div>
              <div class="works draw">
                <div class="icon icon5"></div>
                <h4>Таргетированная реклама</h4>
              </div>
              <div class="works draw">
                <div class="icon icon6"></div>
                <h4>Создание и разработка сайтов</h4>
              </div>

              <div class="angle" id="step1">дальше</div>
            </div>

            <div class="main-area2">
              <div class="works works2 draw">
                <div class="icon icon1"></div>
                <h4>Немедленно</h4>
              </div>
              <div class="works works2 draw">
                <div class="icon icon2"></div>
                <h4>В течении недели</h4>
              </div>
              <div class="works works2 draw">
                <div class="icon icon3"></div>
                <h4>В течении месяца</h4>
              </div>

              <div class="angle" id="step2">дальше</div>
            </div>
          </div>

          <div class="main-area3">
            <form>
              <input type="url" class="website-link" placeholder="Ссылка на  ваш сайт">
              <input type="url" class="soc-med" placeholder="Ссылка на соц сеть">
              <input type="text" class="proj-descr" placeholder="Описание вашего проекта (желательно)">

              <div class="upload-btn-wrapper">
                <button class="btn">
                  <div class="upload-icon"></div>
                  <p>Добавить файл <br/><span>файл не выбран</span></p>
                </button>
                <input type="file" name="myfile" />
              </div>

              <div class="angle" id="step3">дальше</div>
            </form>
          </div>

          <div class="main-area4">
            <form>
              <input type="name" class="name" placeholder="Имя">
              <input type="telephone" class="number" placeholder="Номер телефона">
              <input type="mail" class="email" placeholder="Электронная почта">

              <div class="checkbox">
                  <input type="checkbox" id="checkbox_1">
                  <label for="checkbox_1">Принимаю условия пользовательского соглашения и политики конфиденциальности</label>
              </div>

              <div class="angle" id="submit">рассчитать стоимость</div>
            </form>
          </div>

      </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>

<script>

var $ = require('jquery');
window.jQuery = $;

export default {
  name: 'section5',
  components:
  {
  },
  props: {
    // msg: String
  },
  mounted: function(){
      $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.btn p span').html(fileName)
      });

    new TypeIt('.stok', {
        cursor: false,
        waitUntilVisible: true
    })
    .go();

    $('.works').click(function(){
      $(this).toggleClass('chosen')
    })

    $('.works2').click(function(){
      $('.works2').removeClass('chosen')
      $(this).addClass('chosen')
    })

    // STEP 1 GO
    $('#step1').click(function(){
      $('.main-area1').fadeOut();
      setTimeout(function(){
        $('.main-area2').fadeIn();
      }, 350)
      $('.step').html('<i class="fa fa-chevron-left"></i> шаг 2 / 4');
      $('.supporting-line').css('width', '40%');
      $('.first-step').removeClass('active');
      $('.second-step').addClass('active');
      $('.step').addClass('goback-to1')
      $('.form-title').text('как быстро вы хотите начать работы?')
    })
    // GO BACK TO STEP 1
      $('body').on('click', '.goback-to1', function() {
                    $('.main-area2').fadeOut();
                    setTimeout(function(){
                      $('.main-area1').fadeIn();
                    }, 350)
                    $('.step').html('шаг 1 / 4');
                    $('.supporting-line').css('width', '12%');
                    $('.first-step').addClass('active');
                    $('.second-step').removeClass('active');
                    $('.form-title').text('укажите интересующие вас услуги')
      })

    // STEP 2 GO
    $('#step2').click(function(){
      $('.main-area2').fadeOut();
      setTimeout(function(){
        $('.main-area3').fadeIn();
      }, 350)
      $('.step').html('<i class="fa fa-chevron-left"></i> шаг 3 / 4');
      $('.supporting-line').css('width', '70%');
      $('.second-step').removeClass('active');
      $('.third-step').addClass('active');
      $('.step').removeClass('goback-to1')
      $('.step').addClass('goback-to2')
      $('.form-title').text('расскажите о вашем проекте')
    })

    // GO BACK TO STEP 2
    $('body').on('click', '.goback-to2', function() {
                  $('.main-area3').fadeOut();
                  setTimeout(function(){
                    $('.main-area2').fadeIn();
                  }, 350)
                  $('.step').html('<i class="fa fa-chevron-left"></i> шаг 2 / 4');
                  $('.supporting-line').css('width', '40%');
                  $('.second-step').addClass('active');
                  $('.third-step').removeClass('active');
                  $('.step').removeClass('goback-to2')
                  $('.step').addClass('goback-to1')
                  $('.form-title').text('как быстро вы хотите начать работы?')
    })

    // STEP 3 GO
    $('#step3').click(function(){
      $('.main-area3').fadeOut();
      setTimeout(function(){
        $('.main-area4').fadeIn();
      }, 350)
      $('.step').html('<i class="fa fa-chevron-left"></i> шаг 4 / 4');
      $('.supporting-line').css('width', '100%');
      $('.third-step').removeClass('active');
      $('.fourth-step').addClass('active');
      $('.step').removeClass('goback-to2')
      $('.step').addClass('goback-to3')
      $('.form-title').text('введите свои контактные данные')
    })

    // GO BACK TO STEP 3
    $('body').on('click', '.goback-to3', function() {
                  $('.main-area4').fadeOut();
                  setTimeout(function(){
                    $('.main-area3').fadeIn();
                  }, 350)
                  $('.step').html('<i class="fa fa-chevron-left"></i> шаг 3 / 4');
                  $('.supporting-line').css('width', '70%');
                  $('.third-step').addClass('active');
                  $('.fourth-step').removeClass('active');
                  $('.step').removeClass('goback-to3')
                  $('.step').addClass('goback-to2')
                  $('.form-title').text('расскажите о вашем проекте')
    })
    
  }
}
</script>

<style scoped>
    .upload-icon
    {
      height: 30px;
      width: 20px;
      background-image: url('../../assets/clip.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: block;
      margin-top: 3%;
    }

    .btn {
      border: 0px solid gray;
      color: gray;
      background-color: white;
      padding: 8px 40px;
      border-radius: 8px;
      font-weight: bold;
    }

    .btn p
    {
      width: 100%;
      float: right;
      font-size: 11px;
      font-family: 'Roboto';
      font-weight: 100;
    }

    .btn p span
    {
      color: #8b8b8b;
    }

    .upload-btn-wrapper input[type=file] {
      position: absolute;
      left: 0;
      top: -10px;
      opacity: 0;
      width: 150px;
      cursor: pointer;
    }

    form .proj-descr
    {
      display: block;
      width: 96%;
    }

    form .name, form .number, form .email
    {
      display: inline-block;
      width: 30.3%;
      margin-right: 2.5%;
    }

    .checkbox input[type="checkbox"] {
      opacity: 0;
      width: auto;
      margin: 0;
      /* margin-top: 2%; */
      padding: 0;
      position: absolute;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 40px;
    }

    .checkbox label {
        position: relative;
        display: inline-block;
        padding-left: 30px;
        padding-top: 10px;
        /* left: -12px; */
        font-family: 'Roboto';
        font-size: 12px;
        user-select: none;
    }

    .checkbox label::before,
    .checkbox label::after {
        position: absolute;
        content: "";
        display: inline-block;
        transition: 0.3s;
    }

    .checkbox label::before{
        height: 17px;
        width: 17px;
        
        border: 1px solid #8b8b8b;
        left: 3px;
        top: 10px;
    }

    .checkbox label::after {
        height: 5px;
        width: 9px;
        border-left: 1px solid;
        border-bottom: 1px solid;
        transform: rotate(-45deg);
        left: 7px;
        top: 15px;
        
    }
    .checkbox input[type="checkbox"] + label::after {
        content: none;
    }
    .checkbox input[type="checkbox"]:checked + label::after {
        content: "";
    }

    .checkbox input[type="checkbox"]:hover + label::before {
        border: 1px solid #ffcd33;
    }

    form input
    {
      width: 46%;
      margin: 1% 4% 0 0;
      border: 0;
      border-bottom: rgba(0, 0, 0, 0.5) 0.5px solid;
      padding: 15px 0;
      font-family: 'Roboto';
      font-size: 12px;
    }

    .angle
    {
      margin-top: 20px;
    }

    #submit
    {
      width: 14vw;
    }

    form
    {
      /* background-color: #ffcd33; */
      width: 72.5vw;
      margin-left: 15.2vw;
    }

    .main-area1, .main-area2
    {
      margin-left: 4.4%;
      position: relative;
    }

    .main-area2, .main-area3, .main-area4
    {
      display: none;
      position: relative;
    }

    .works
    {
      margin-top: 2%;
      margin-right: 2.1%;
      width: 10.1vw;
      height: 10vw;
      border: solid 2px #f8f6fd;
      overflow: hidden;
      display: inline-block;
      cursor: pointer;
    }

    .works .icon
    {
        width: 100%;
        height: 50%;
        background-position: 18% center;
        background-repeat: no-repeat;
        background-size: 27%;
    }

    .works h4
    {
        padding-left: 13%;
        font-family: 'Roboto';
        font-weight: 100;
        font-size: 0.85vw;
        padding-top: 0.5vw;
        width: 80%;
        line-height: 16px;
    }

    .works .icon1
    {
        background-image: url('../../assets/prodizhenie.svg');
    }

    .works .icon2
    {
        background-image: url('../../assets/prodvizhenie-social-media.svg');
    }

    .works .icon3
    {
        background-image: url('../../assets/copyrighting.svg');
    }

    /* ************************************* */

    .main-area2 .works .icon1
    {
        background-image: url('../../assets/flame.svg');
    }

    .main-area2 .works .icon2
    {
        background-image: url('../../assets/7.svg');
    }

    .main-area2 .works .icon3
    {
        background-image: url('../../assets/30.svg');
    }

    /* ***************************************** */

    .works .icon4
    {
        background-image: url('../../assets/advertising.svg');
    }

    .works .icon5
    {
        background-image: url('../../assets/marketing.svg');
    }

    .works .icon6
    {
        background-image: url('../../assets/vector.svg');
    }

    .form-title
    {
      margin-left: 4.3%;
      margin-top: 1%;
      font-family: 'Kepler';
      text-transform: uppercase;
      font-size: 17px;
    }

    .step
    {
      margin-left: 4.4%;
      margin-top: 3%;
      font-family: 'Roboto';
      font-size: 0.8vw;
      color: #ffcd33;
      text-transform: uppercase;
      cursor: pointer;
    }

    .step span
    {
      color: #ffcd33;
    }

    .form-sections
    {
      position: relative;
      margin-top: 1%;
      margin-left: 11.3%;
    }

    .form-sections ul li
    {
      display: inline-block;
      padding: 0 4vw;
      font-family: 'Roboto';
      font-size: 0.9vw;
      color: #8b8b8b;
      text-transform: uppercase;
    }

    .line
    {
      margin-left: 4vw;
      margin-top: 1%;
      width: 51vw;
      height: 1px;
      background-color: #8b8b8b;
    }

    .supporting-line
    {
      width: 13%;
      height: 3px;
      background-color:#ffcd33;
      transform: translateY(-2px);
      transition: 0.3s;
    }

    .chosen
    {
      border: solid 2px #ffcd33;
    }

    .active
    {
      font-weight: 700;
      color: #000 !important;
    }

    .title
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      position: relative;
      padding-top: 7%;
      padding-left: 15.3vw;
      font-weight: normal;
      font-size: 15px;
    }

    .stok
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 100px;
        text-transform: uppercase;
        line-height: 150px;
        color: #f2effc;
        position: absolute;
        left: 37.5vw;
        top: 0%;
        pointer-events: none;
    }

    .white-line
    {
        background-color: #fff;
        width: 17.4vw;
        height: 40vh;
        position: absolute;
        left: 21.5vw;
    }

    @media only screen and (max-width: 778px) 
    {

        .stok
        {
          font-size: 30px;
          display: none;
        }

        .checkbox label::before{
            left: 10px;
            top: 20px;
        }

        .checkbox label::after {
            height: 5px;
            width: 9px;
            border-left: 1px solid;
            border-bottom: 1px solid;
            transform: rotate(-45deg);
            left: 15px;
            top: 24px;
            
        }

        .checkbox label {
            padding-top: 20px;
            font-size: 8px;
        }

        form .name, form .number, form .email
        {
          display: inline-block;
          width: 95%;
          margin-right: 2.5%;
        }

        #submit
        {
          width: 40vw;
        }

        form input
        {
          font-size: 10px;
          width: 95%;
        }
        .step
        {
          margin-left: 4.4%;
          margin-top: 7%;
          font-family: 'Roboto';
          font-size: 12px;
          color: #ffcd33;
          text-transform: uppercase;
          cursor: pointer;
        }

        .works h4
        {
            font-size: calc(1.2vw + 0.5vh);
            line-height: 9px;
        }

        .line
        {
          width: 70vw;
        }

         .form-sections ul li
        {
          display: inline-block;
          padding: 0 8vw;
          font-family: 'Roboto';
          font-size: 3vw;
          color: #8b8b8b;
          text-transform: uppercase;
        }

        .form-sections ul li span
        {
          display: none;
        }

        ul
        {
          margin: 0;
        }


        .title
        {
            padding-top: 20%;
        }

        .title h1
        {
          font-size: 2em;
        }

        .works
        {
          width: 22.2vw;
          height: 22.2vw;
        }

        .draw:before, .draw::after
        {
          display: none;
        }

        .form-title
        {
          margin-left: 4.3%;
          margin-top: 1%;
          font-family: 'Kepler';
          text-transform: uppercase;
          font-size: 15px;
          width: 80%;
        }

        
        .angle, .angle2
        {
            width: 40vw;
            margin-top: 1vh;
            display:  block;
            margin-left: 16vw;
            font-size: 10px;
        }

        .angle2
        {
            margin-top: 4%;
            height: unset;
        }

        .white-line
        {
          display: none;
        }
    }

</style>
