<template>
  <div class="portflio">
        <h1 class="pf">Блог</h1>
        <div class="white-line"></div>

        <div class="menu-goback">
          <p><span class="to-go" @click="goHome()">Главная</span>      <i class="fa fa-chevron-right"></i>      <span class="current">Блог</span></p>
        </div>

        <div class="title">
          <h1>Блог</h1>
        </div>

        <div class="filter filter-works">
          <ul>
            <li class="active">Все</li>
            <li>Дизайн</li>
            <li>Интернет-маркетинг</li>
            <li>Копирайтинг</li>
            <li>Интервью с экспертами</li>
            <li>Дизайн</li>
            <li class="more"><div class="angle" @click="increase">загрузить еще</div></li>
          </ul>
        </div>

        <div class="Blogs"> 
          <div class="Blog">
            <h3>Тренды <br/>аналитика,<br/> кейсы, вакансии <br/> все в вашей<br/> рассылке</h3>
            <input type="mail" class="email" placeholder="Введите email">
            <input type="button" value="подписаться" class="sub">
          </div>

          <div class="Blog" v-for="item in items.slice(0, 5)" :key="item.name" @click="goBlog()">
            <div class="blog-img" :style="{'background-image':'url('+ item.img +')'}"></div>
            <h3 class="name">{{item.name}}</h3>
            <p class="subject">{{item.subject}}</p>
            <p class="year">{{item.year}}</p>
          </div>

          <div class="Blog" v-for="item in items.slice(5, 6)" :key="item.name" @click="goBlog()">
            <h3>{{item.name}}</h3>
            <p class="desc7">{{item.descr}}</p>
            <p class="subject">{{item.subject}}</p>
            <p class="year">{{item.year}}</p>
          </div>
          <div class="Blog"></div>

          <div class="Blog" v-for="item in items.slice(5, number)" :key="item.name" @click="goBlog()">
            <div class="blog-img" :style="{'background-image':'url('+ item.img +')'}"></div>
            <h3 class="name">{{item.name}}</h3>
            <p class="subject">{{item.subject}}</p>
            <p class="year">{{item.year}}</p>
          </div>
        </div>

        <div class="angle" @click="increase">загрузить еще</div>

        <goUp/>

        <Footer/>
  </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>

<script>
var $ = require('jquery');
window.jQuery = $;

import Footer from './other/footer.vue';
import goUp from './other/goUp.vue';


export default {
  name: 'portfolio',
  components:{
    Footer,
    goUp,
  },
  props: {
    // msg: String
  },
    data: function(){
        return{
            number: 9,
            items: [
                { 
                    name: 'Услуги Яндекс Директ в Орле — что нужно сделать для вашего прое',
                    subject: 'Интернет-маркетинг',
                    img: require('../assets/artesh.png'),
                    year: '3 октября 2019',
                },
                { 
                    name: 'Реклама Яндекс — база, которую нужно знать',
                    subject: 'Вдохновение',
                    img: require('../assets/artesh.png'),
                    year: '3 октября 2019',
                },
                { 
                    name: 'Оптимизация сайтов для бизнеса: основные этапы работы над порталом1',
                    subject: 'PPC',
                    img: require('../assets/artesh.png'),
                    year: '5 мин назад',
                },
                { 
                    name: 'Оптимизация сайтов для бизнеса: основные этапы работы над порталом2',
                    subject: 'SMM',
                    img: require('../assets/artesh.png'),
                    year: '5 мин назад',
                },
                { 
                    name: 'Оптимизация сайтов для бизнеса: основные этапы работы над порталом3',
                    subject: 'SMM',
                    img: require('../assets/artesh.png'),
                    year: '5 мин назад',
                },
                { 
                    name: 'Реклама Яндекс — база, которую нужно знать',
                    subject: 'SMM',
                    img: require('../assets/artesh.png'),
                    year: '5 мин назад',
                },
                { 
                    name: 'Оптимизация сайтов для бизнеса: основные этапы работы над порталом4',
                    subject: 'SMM',
                    img: require('../assets/artesh.png'),
                    year: '5 мин назад',
                },
                { 
                    name: 'Оптимизация сайтов для бизнеса: основные этапы работы над порталом5',
                    subject: 'SMM',
                    img: require('../assets/artesh.png'),
                    year: '5 мин назад',
                },
                { 
                    name: 'Оптимизация сайтов для бизнеса: основные этапы работы над порталом6',
                    subject: 'SMM',
                    img: require('../assets/artesh.png'),
                    year: '5 мин назад',
                },
                { 
                    name: 'Оптимизация сайтов для бизнеса: основные этапы работы над порталом7',
                    subject: 'SMM',
                    img: require('../assets/artesh.png'),
                    year: '5 мин назад',
                },
                { 
                    name: 'Оптимизация сайтов для бизнеса: основные этапы работы над порталом8',
                    subject: 'SMM',
                    img: require('../assets/artesh.png'),
                    year: '5 мин назад',
                },
                { 
                    name: 'Оптимизация сайтов для бизнеса: основные этапы работы над порталом9',
                    subject: 'SMM',
                    img: require('../assets/artesh.png'),
                    year: '5 мин назад',
                },
                { 
                    name: 'Оптимизация сайтов для бизнеса: основные этапы работы над порталом10',
                    subject: 'SMM',
                    img: require('../assets/artesh.png'),
                    year: '5 мин назад',
                }
            ]
        }
    },
  mounted: function(){
    window.scrollTo(0, 0)
    $('.header').css('transform', 'translateY(0)')
    
    new TypeIt('.pf', {
        cursor: false,
        waitUntilVisible: true
    })
    .go();

    $(".filter-works ul li").click(function () {  
      $(".filter-works ul li").removeClass('active')
      $(this).addClass('active');
      $('.more').removeClass('active')
    });



        window.onwheel = function(e){
            if (e.deltaY > 0){
                $('.header').css('transform', 'translateY(-100%)')
            }
            else
            {
                 $('.header').css('transform', 'translateY(0)')
                    if ( $(window).scrollTop() <= 0 ) {
                      $('.header').css('background-color', 'transparent')
                    }
                    else
                    {
                      $('.header').css('background-color', 'white')
                    }
            }
        };
  },
  computed:{
    currentPage(){
      return this.$route.name
    },  
  },
    methods:{
        goHome() 
        {
            this.$router.push({path:'/'})
        },
        goBlog() 
        {
            this.$router.push({path:'/blog-open'})
        },
        increase() {
          return this.number += 6
        }
    },
}
</script>

<style scoped>
    .Blogs
    {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 69.5vw;
      margin: 0 auto;
      position: relative;
      margin-bottom: 2%;
      grid-column-gap: 15px;
      grid-row-gap: 25px;
      position: relative;
    }

    .Blog
    {
      height: 400px;
      position: relative;
      background-color: white;
      cursor: pointer;
    }

    .Blog h3
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      font-size: calc(0.7vw + 0.6vh + 0.5vmin);
      padding-top: 5%;
      transition: 0.3s;
    }

    .Blog .subject
    {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      color: #6654cb;
      border: #cfcae9 1px solid;
      padding: 2px 15px;
      /* width: 30%; */
      display: inline-block;
      text-align: center;
      font-family: 'Roboto';
      font-size: calc(0.5vw + 0.4vh + 0.3vmin);
    }    
    
    .Blog .year
    {
      position: absolute;
      bottom: 10%;
      left: 0;
      margin: 0;
      color: #8b8b8b;
      display: inline-block;
      font-family: 'Roboto';
      font-size: calc(0.5vw + 0.4vh + 0.3vmin);
    }

    .blog-img
    {
      width: 100%;
      height: 50%;
      background-size: 150%;
      background-position: center 70%;
      border-bottom: #ffcd33 5px solid;
      transition: 0.3s;
    }

    .Blog:hover .blog-img
    {
      border-bottom: #6654cb 5px solid;
    }

    .Blog:hover h3
    {
      color: #6654cb;
    }

    .Blog:nth-child(7)
    {
      background-color: white;
    }

    .Blog:nth-child(7) h3
    {
      color: black;
      text-transform: uppercase;
      font-family: 'Kepler';
      padding-left: 10%;
      padding-top: 15%;
      font-size: calc(1vw + 0.8vh + 0.5vmin);
      line-height: 30px;
    }

    .Blog:nth-child(7) .year
    {
      left: 10%;
      bottom: 20%;
    }
    .Blog:nth-child(7) .subject
    {
      left: 10%;
      bottom: 10%;
    }

    .Blog:nth-child(7) .desc7
    {
      color: #8b8b8b;
      font-family: 'Roboto';
      padding-left: 10%;
      padding-top: 5%;
      font-size: calc(0.5vw + 0.5vh + 0.4vmin);
    }

    .Blog:nth-child(8)
    {
      background-image: url('../assets/blogmiddle.png');
      background-position: center right;
      background-size: cover;
    }

    .Blog:nth-child(1)
    {
      background-image: url('../assets/popup-bg.png');
      background-position: center right;
      background-size: cover;
    }

    .Blog:nth-child(1) h3
    {
      color: white;
      text-transform: uppercase;
      font-family: 'Kepler';
      padding-left: 10%;
      padding-top: 15%;
      font-size: calc(1vw + 0.8vh + 0.5vmin);
      line-height: 30px;
    }

    .Blog:nth-child(1) input
    {
      display: inline-block;
      width: 40%;
      border: 0;
      background-color: #55499c;
      height: 50px;
      vertical-align: middle;
      margin-top: 10%;
    }

    .Blog:nth-child(1) .email
    {
      margin-left: 10%;
      font-family: 'Roboto';
      font-weight: 100;
      text-align: center;
      color: white;
    }

    .Blog:nth-child(1) .email::placeholder
    {
      color: white;
      opacity: 0.5;
    }

    .Blog:nth-child(1) .sub
    {
      border: 2px solid white;
      color: white;
      font-family: 'Kepler';
      text-transform: uppercase;
      font-size: 0.7vw;
    }

    .filter .active
    {
      color: #FFF;
      opacity: 1 !important;
      /* border: 0; */
      background-color: #6654cb;
      font-weight: 100;
    }

    .filter
    {
      position: relative;
      padding-left: 14.8%;
      font-family: 'Roboto';
      font-weight: normal;
      font-size: 0.9vw;
      margin-bottom: 2%;
    }

    .filter ul
    {
      list-style-type: none;
    }

    .filter ul li
    {
      display: inline-block;
      margin: 0 0.5%;
      padding-bottom: 3px;
      padding: 4px 10px;
      opacity: 0.6;
      cursor: pointer;
      transition: 0.3s;
      border: #cfcae9 solid 1px;
    }

    .filter ul .more
    {
      border: 0;
      padding: 0;
      opacity: 1;
    }

    .filter ul .more .angle
    {
      padding: 7px;
      /* font-size: 6px; */
      display: inline-block;
      vertical-align: middle;
      width: 9vw;
      top: -0.1vw;
      font-size: 0.6vw;
    }

    .angle
    {
      margin: 0 auto;
      width: 14vw;
    }
    

    .current
    {
      color: black;
    }

    .fa 
    {
      padding: 0 10px;
    }

    .menu-goback
    {
      position: relative;
      padding-top: 7%;
      padding-left: 15.3%;
      font-family: 'Roboto';
      font-size: 10px;
      cursor: default;
    }

    .menu-goback .to-go
    {
      cursor: pointer;
      transition: 0.3s;
      color: #8b8b8b;
    }

    .menu-goback .to-go:hover
    {
      color: #6654cb;
    }

    .portflio
    {
      background-image: url('../assets/team_bg.png');
      background-size: 100vw;
      background-position: left;
      background-color: #fbfafe;
      /* height: 110vh; */
      width: 100vw; 
      overflow-x: hidden !important;
    } 

    .title
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      position: relative;
      padding-top: 1%;
      padding-left: 15.3%;
      font-weight: normal;
      padding-bottom: 1%;
    }

    .pf
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 100px;
        text-transform: uppercase;
        line-height: 150px;
        color: #f2effc;
        position: absolute;
        left: 32%;
        top: 5%;
        pointer-events: none;
    }

    .white-line
    {
        background-color: #fff;
        width: 17.4vw;
        height: 40vh;
        position: absolute;
        left: 15.7%;
    }

    @media only screen and (max-width: 778px) 
    {
        .menu-goback
        {
          padding-top: 15%;
        }

        .pf
        {
            font-size: 20px;
            display: none;
        }

        .Blogs
        {
          grid-template-columns: 1fr;
        }

        .Blog
        {
          height: 300px;
        }

        .Blog:nth-child(1) h3
        {
          line-height: 20px;
          font-size: calc(1.5vw + 1vh + 0.8vmin)
        }

        .Blog:nth-child(7) h3
        {
          line-height: 20px;
          font-size: calc(2vw + 1.5vh + 0.8vmin)
        }

        .Blog:nth-child(7)
        {
          height: 200px;
        }

        .angle
        {
          width: 69.5vw;
          font-size: 2.5vw;
          margin: 20px auto;
        }

        .Blog:nth-child(1) .email
        {
          font-size: 10px;
        }

        .Blog:nth-child(1) .sub
        {
          font-size: 8px;
        }

        .Blog h3
        {
          font-size: calc(1.5vw + 1vh + 0.8vmin);
        }

        .Blog .year, .Blog .subject
        {
          font-size: calc(1vw + 0.7vh + 0.5vmin);
        }

        .filter ul li
        {
          display: inline-block;
          width: 41%;
          opacity: 0.6;
          transition: 0.3s;
          font-size: 2.5vw;
          margin: 0;
          padding: 10px 0px;
          text-align: center;
        }

        .filter ul .more .angle
        {
          width: 69.5vw;
          font-size: 3vw;
          padding: 10px 0px;
        }

    }

</style>
