<template>
  <div class="blog-open">
        <h1 class="tm">Блог</h1>
        <div class="white-line"></div>

        <div class="menu-goback">
          <p>
            <span class="to-go" @click="goHome()">Главная</span>      
            <i class="fa fa-chevron-right"></i>      
            <span class="to-go" @click="goBlog()">Блог</span>  
            <i class="fa fa-chevron-right"></i>   
            <span class="current current-open"></span>  
          </p>
        </div>

        <div class="title menu-text">
          <h1>Услуги Яндекс Директ в Орле — что нужно сделать для вашего проекта</h1>
        </div>

        <div class="text-area">
          <p>Настройка контекстной рекламы в Орле становится популярней год от года.<br>
            Услуга востребована и это понятно — интернет серьезно двигает ТВ, радио, прессу и наружку по части рекламы. Все предприниматели, держащие руку на пульсе, активно идут в digital.
            Увы, спрос рождает не только хорошие предложения. На рынке всё больше ребят, обещающих заведомо несбыточные показатели за сущие копейки. Как вы понимаете, основная задача тут — взять с клиента предоплату.<br>
            Но наш доблестный бизнес, привыкший выживать год от года, конечно рад, что студент Вася или школьник Петя настроят кампанию на 1000 ключевиков за 5 000 рублей, что наверняка приведет 100500 клиентов.<br>
            Только результатом «взаимовыгодного сотрудничества» становится слитый бюджет и стойкое отвращение предпринимателя к интернет-рекламе.<br>
            Студия Александра Дорохова занимается настройкой Директ профессионально. Наши специалисты прошли обучение Яндекса и имеют соответствующие сертификаты.<br>
            Этот краткий обзор мы пишем, чтобы защитить бизнес от неквалифицированных исполнителей, а рынок интернет-рекламы Орла — от деградации.<br>
          </p>
        </div>
        <img class="image" src="../assets/yandex.png" alt="Статистика по трафику из поисковых систем">

        <div class="subtitle">
          <h1>Вам предлагают настроить контекстную рекламу в Яндекс. Что должно входить в услугу?</h1>
        </div>
        
        <ul>
          <li>
            <p><span><h5>Анамнез бизнеса клиента.</h5></span>Действительно квалифицированные исполнители досконально разберутся в вашем деле, выявят сильные и слабые стороны, учтут прошлый опыт рекламных кампаний (если он был). И только после этого выдвинут свои предложения.</p>
          </li> 
          <li>
            <p><span><h5>Семантический анализ рынка.</h5></span> Изучаются активности конкурентов, смотрится статистика запросов за прошедшие годы, выявляется динамика. Подбирается семантическое ядро кампании — фразы, которые чаще всего используют потенциальные клиенты. Также подбираются неочевидные, но способные сработать ключевики.</p>
          </li>
          <li>
            <p><span><h5>Минусовка.</h5></span>Именно тут чаще всего теряют ваши деньги пресловутые Васи и Пети. Если показывать рекламу по всему массиву ключевых слов — бюджет мигом уйдет в ноль. Чтобы работать только с перспективными целевыми клиентами, используются минус-слова. Их собирают программными способами и сортируют вручную. Ошибка на этом этапе может стать критичной.</p>
          </li>
          <li>
            <p><span><h5>Создание рекламных материалов.</h5></span>Сюда входят текстово-графические объявления, баннеры, видео- и аудиоролики, все необходимое. Задача объявлений, независимо от их типа — продемонстрировать ваше уникальное предложение и склонить клиента к действию — переходу на сайт. Здесь экспертиза в маркетинге и дизайне так же важна, как при создании слогана или логотипа.</p>
          </li>
          <li>
            <p><span><h5>Настройка аналитики. </h5></span>Эффективность любой кампании надо отслеживать. Это позволит вовремя вносить коррективы и добиваться максимальной отдачи. Аналитика особенно важна, если вы используете несколько каналов, а результат работы предполагается не явный (например, не продажа, а звонок в офис). Тогда надо настраивать отдельный вид искусства — сквозную аналитику.</p>          
          </li>
          <li>
            <p><span><h5>Запуск и ведение рекламных кампаний.</h5></span>Обратите внимание, исполнитель ни в коем случае не должен использовать свой аккаунт. Либо новый, либо ваш, иначе можете остаться без бюджета. Ведение подразумевает корректировку ставок и минус-слов, отсев неэффективных ключей и площадок, консультации и периодическую отчетность по результатам.</p>    
          </li>
        </ul>


         <div class="text-area">
          <p>И это не сухая бюрократия ради красивых отчетов. Контекстная реклама — живая среда, меняющаяся чуть ли не каждый час. Ваш конкурент повысил ставки — и вы лишаетесь трафика. Яндекс переклинило, и он решил, что объявление сделано против правил — и вы вообще не показываетесь.<br>
            Вести, анализировать И УЛУЧШАТЬ рекламную кампанию надо постоянно. От старта и до логичного завершения. Это куда более сложная и напряженная работа, чем создание и запуск.
            В общих чертах так.<br>
            Но главное, что отличает профессиональное агентство — умение сделать предложение «под клиента». Звоните в Студию, докажем, что терпеть не можем шаблонов!<br>
          </p>
         </div>

         <div class="comments">
          <div class="subtitle">
            <h1>Коментарии</h1>
          </div>
          <div class="comment-wrap">
            <p class="name">Павел Евдокимов, <span>3 мин назад </span></p>
            <p class="comment-text">Спасибо, очень информативно!</p>
            <div class="answer">Ответить</div>
            <div class="like"><div class="like-icon"><i class="far fa-thumbs-up"></i></div>Поддерживаю: 1</div>
          </div>
          <div class="comment-wrap">
            <p class="name">Павел Евдокимов, <span>3 мин назад </span></p>
            <p class="comment-text">Спасибо, очень информативно! Спасибо, очень информативно!</p>
            <div class="answer">Ответить</div>
            <div class="like"><div class="like-icon"><i class="far fa-thumbs-up"></i></div>Поддерживаю: 2</div>
          </div>
          <div class="comment-wrap">
            <p class="name">Павел Евдокимов, <span>3 мин назад </span></p>
            <p class="comment-text">Спасибо, очень информативно! Спасибо, очень информативно!</p>
            <div class="answer">Ответить</div>
            <div class="like"><div class="like-icon"><i class="far fa-thumbs-up"></i></div>Поддерживаю: 3</div>
          </div>
          <div class="comment-wrap">
            <p class="name">Павел Евдокимов, <span>3 мин назад </span></p>
            <p class="comment-text">Спасибо, очень информативно! Спасибо, очень информативно!</p>
            <div class="answer">Ответить</div>
            <div class="like"><div class="like-icon"><i class="far fa-thumbs-up"></i></div>Поддерживаю: 4</div>
          </div>
         </div>
          <div class="leave-comment">
            <h4>оставить коментарий</h4>
                <input type="name" class="name" placeholder="Ваше имя">
                <input type="text" class="mob" placeholder="Ел.почта">
                <input type="text" class="descr" placeholder="Коментарий">
                <div class="checkbox">
                  <input type="checkbox" id="checkbox_1">
                  <label for="checkbox_1">Принимаю условия пользовательского соглашения и политики конфиденциальности</label>
                </div>
                <div class="angle">Отправить</div>
          </div>

        <div class="latest">
           <p class="date">22.09.2019</p>
           <p class="subject">Интернет-маркетинг</p>

          <div class="Blogs">
            <div class="Blog">
              <h3>Тренды <br/>аналитика,<br/> кейсы, вакансии <br/> все в вашей<br/> рассылке</h3>
              <input type="mail" class="email" placeholder="Введите email">
              <input type="button" value="подписаться" class="sub">
            </div>
          </div>
          <div class="Blog" v-for="item in items.slice(0, 3)" :key="item.name" @click="goBlog()">
            <div class="blog-img" :style="{'background-image':'url('+ item.img +')'}"></div>
            <h3 class="name">{{item.name}}</h3>
            <p class="subject">{{item.subject}}</p>
            <p class="year">{{item.year}}</p>
          </div>
          <div class="share">
            <h4>Поделиться статьей </h4>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-vk"></i>
          </div>
        </div>



        <goUp/>

        <Footer/>
  </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>

<script>
var $ = require('jquery');
window.jQuery = $;

import Footer from './other/footer.vue';
import goUp from './other/goUp.vue';


export default {
  name: 'blog-open',
  components:{
    Footer,
    goUp,
  },
  props: {
  },
    data: function(){
        return{
          number: 3,
            items: [
                { 
                    name: 'Услуги Яндекс Директ в Орле — что нужно сделать для вашего прое',
                    subject: 'Интернет-маркетинг',
                    img: require('../assets/artesh.png'),
                    year: '3 октября 2019',
                },
                { 
                    name: 'Реклама Яндекс — база, которую нужно знать',
                    subject: 'Вдохновение',
                    img: require('../assets/artesh.png'),
                    year: '3 октября 2019',
                },
                { 
                    name: 'Оптимизация сайтов для бизнеса: основные этапы работы над порталом1',
                    subject: 'PPC',
                    img: require('../assets/artesh.png'),
                    year: '5 мин назад',
                },
            ]
        }
    },
  mounted: function(){
    window.scrollTo(0, 0)
    $('.header').css('transform', 'translateY(0)')

    window.onscroll = function () {
  window.scrollLeft = 0;
}


    new TypeIt('.tm', {
        cursor: false,
        waitUntilVisible: true
    })
    .go();

    $('.current-open').text($('.menu-text').text())

        window.onwheel = function(e){
            if (e.deltaY > 0){
                $('.header').css('transform', 'translateY(-100%)')
            }
            else
            {
                 $('.header').css('transform', 'translateY(0)')
                    if ( $(window).scrollTop() <= 0 ) {
                      $('.header').css('background-color', 'transparent')
                    }
                    else
                    {
                      $('.header').css('background-color', 'white')
                    }
            }
        };
  },
  computed:{
    currentPage(){
      return this.$route.name
    },
  },
    methods:{
        goHome() 
        {
            this.$router.push({path:'/'})
        },
        goBlog() 
        {
            this.$router.push({path:'/blog'})
        }
    },
}
</script>

<style scoped>

    .checkbox input[type="checkbox"] {
      opacity: 0;
      width: auto;
      margin: 0;
      margin-top: 2%;
      padding: 0;
    }

    .checkbox label {
        position: relative;
        display: inline-block;
        padding-left: 30px;
        padding-top: 5%;
        left: 6%;
        font-family: 'Roboto';
        font-size: 10px;
        user-select: none;
        color: white;
        width: 80%;
    }

    .checkbox label::before,
    .checkbox label::after {
        position: absolute;
        content: "";
        display: inline-block;
        transition: 0.3s;
    }

    .checkbox label::before{
        height: 17px;
        width: 17px;
        
        border: 1px solid #8b8b8b;
        left: 2px;
        top: 15px;
    }

    .checkbox label::after {
        height: 5px;
        width: 9px;
        border-left: 1px solid;
        border-bottom: 1px solid;
        transform: rotate(-45deg);
        left: 5px;
        top: 20px;
        color: #ffcd33;
    }
    .checkbox input[type="checkbox"] + label::after {
        content: none;
    }
    .checkbox input[type="checkbox"]:checked + label::after {
        content: "";
    }
    .checkbox input[type="checkbox"]:focus + label::before {
        /* outline: rgb(59, 153, 252) auto 5px; */
    }

    .checkbox input[type="checkbox"]:hover + label::before {
        border: 1px solid #ffcd33;
    }

    input
    {
        background: transparent;
        border: 0;
        border-bottom: 0.5px solid rgba(255,255,255,0.5);
        margin-left: 10%;
        /* margin: 0 auto; */
        width: 80%;
        padding: 10px 0;
        margin-top: 5%;
        font-size: 12px;
        font-weight: normal;
        color: white;
        font-family: 'Roboto';
    }

    input::placeholder
    {
        color: white;
        opacity: 0.5;
    }
    .leave-comment
    {
      width: 21.3vw;
      background-image: url('../assets/popup-bg.png');
      background-position: center right;
      background-size: cover;
      height: 100%;
      /* position: absolute; */
      display: inline-block;
    }

    .leave-comment .angle
    {
      margin: 5% auto;
      width: 80%;
    }

    .leave-comment h4
    {
      color: white;
      padding-left: 10%;
      padding-top: 15%;
      width: 80%;
      font-size: calc(0.8vw + 0.7vh + 0.6vmin) !important;
    }

    .share h4, .leave-comment h4
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      font-size: calc(0.6vw + 0.4vh + 0.4vmin);
    }

    .share i
    {
      margin-top: 10px;
      color: #efbc1d;
      font-size: calc(0.8vw + 0.8vh + 0.6vmin);
      text-align: left;
      padding: 0;
      margin-right: 30px;
      cursor: pointer;
    }

    .Blog
    {
      height: 300px;
      position: relative;
      background-color: white;
      cursor: pointer;
      margin: 20% 0;
    }

    .Blog .subject
    {
      border-radius: 0;
    }

    .Blog h3
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      font-size: calc(0.6vw + 0.4vh + 0.4vmin);
      padding-top: 5%;
      transition: 0.3s;
    }

    .Blog .subject
    {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      color: #6654cb;
      border: #cfcae9 1px solid;
      padding: 2px 15px;
      /* width: 30%; */
      display: inline-block;
      text-align: center;
      font-family: 'Roboto';
      font-size: calc(0.5vw + 0.4vh + 0.3vmin);
    }    
    
    .Blog .year
    {
      position: absolute;
      bottom: 15%;
      left: 0;
      margin: 0;
      color: #8b8b8b;
      display: inline-block;
      font-family: 'Roboto';
      font-size: calc(0.5vw + 0.4vh + 0.3vmin);
    }

    .blog-img
    {
      width: 100%;
      height: 50%;
      background-size: 150%;
      background-position: center 70%;
      border-bottom: #ffcd33 5px solid;
      transition: 0.3s;
    }

    .Blog:hover .blog-img
    {
      border-bottom: #6654cb 5px solid;
    }

    .Blog:hover h3
    {
      color: #6654cb;
    }

    .Blog:nth-child(1)
    {
      background-image: url('../assets/popup-bg.png');
      background-position: center right;
      background-size: cover;
      height: 24vw;
      margin-top: 10%;
    }

    .Blog:nth-child(1) h3
    {
      color: white;
      text-transform: uppercase;
      font-family: 'Kepler';
      padding-left: 10%;
      padding-top: 15%;
      font-size: calc(0.7vw + 0.5vh + 0.5vmin);
      line-height: 15px;
    }

    .Blog:nth-child(1) input
    {
      display: block;
      width: 80%;
      border: 0;
      background-color: #55499c;
      height: 50px;
      vertical-align: middle;
      margin: 0 auto;
      margin-top: 10%;
    }

    .Blog:nth-child(1) .email
    {
      margin-left: 10%;
      font-family: 'Roboto';
      font-weight: 100;
      text-align: center;
      color: white;
    }

    .Blog:nth-child(1) .email::placeholder
    {
      color: white;
      opacity: 0.5;
    }

    .Blog:nth-child(1) .sub
    {
      border: 2px solid white;
      color: white;
      background-color: transparent;
      font-family: 'Kepler';
      text-transform: uppercase;
      font-size: 0.7vw;
    }

.subject
{
  color: #6654cb;
  font-weight: 500;
  text-align: center;
  border: 1px solid #cfcae9;
  display: inline-block;
  padding: 0 15px 2px 15px;
  border-radius: 50px;
}

.latest
{
  position: absolute;
  left: 68.7vw;
  top: 20vh;
  width: 16vw;
}

.comments
{
  width: 48vw;
  margin-left: 15.3vw;
  margin-bottom: 3%;
  padding-right: 30px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.comments .subtitle h1
{
  margin-left: 0;
}

.comments .comment-wrap
{
  width: 80%;
  margin-left: 5%;
  margin-top: 7%;
}

.comments .comment-wrap p
{
  margin: 0;
  margin-bottom: 5px;
  font-size: calc(0.6vw + 0.5vh + 0.3vmin);
  font-family: 'Roboto';
  font-weight: 900;
}

.comments .comment-wrap p span
{
  font-weight: 100;
  color: #8b8b8b;
}

.comments .comment-wrap .comment-text
{
  font-weight: 100;
  color: #8b8b8b;
}

.comments .answer
{
  text-decoration: underline;
  font-family: 'Roboto';
  font-size: calc(0.6vw + 0.5vh + 0.3vmin);
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

.comments .answer:hover
{
  color: #6654cb;
}

.comments .like-icon
{
  display: inline-block;
}

.comments .like-icon i
{
  color: #6654cb;
  padding-right: 5px;
  transition: 0.3s;
}

.comments .like
{
  font-family: 'Roboto';
  font-size: calc(0.6vw + 0.5vh + 0.3vmin);
  display: inline-block;
  padding-left: 30px;
  color: #6654cb;
  cursor: pointer;
  transition: 0.3s;
}

.comments .like:hover, .comments .like:hover i
{
  color: #efbc1d;
}

ul
{
  margin-top: 2%;
  margin-left: 15.3vw;
  width: 48vw;
  list-style: none;
}

ul li p
{
  margin: 0;
}

ul li::before {
      content: " ";
      display: inline-block;
      width: calc(0.3vw + 0.4vh + 0.3vmin); 
      height: calc(0.3vw + 0.4vh + 0.3vmin);
      margin-right: 0.5em;
      background-color: #ffcd33;
      transform: translateY(1.4vw);
}

ul li h5
{
  display: inline-block;
  font-family: 'Kepler';
  text-transform: uppercase;
  padding-right: 10px;
  padding-left: 1.2em;
  font-size: calc(0.6vw + 0.5vh + 0.3vmin);
}

.text-area p, ul li p, .date
{
  font-family: 'Roboto';
  color: #8b8b8b;
  font-size: calc(0.6vw + 0.5vh + 0.3vmin);
}

.image
{
  width: 53.3vw;
  margin-top: 2%;
  margin-left: 15.3vw;
  position: relative;
}


.text-area
{
  width: 48vw;
  margin-left: 15.3vw;
  margin-top: 40px;
  position: relative;
}

br {
   display: block;
   margin: 15px;
   content: "";
}
    .current
    {
      color: black;
    }

    .fa 
    {
      padding: 0 10px;
    }

    .menu-goback
    {
      position: relative;
      padding-top: 7%;
      padding-left: 15.3%;
      font-family: 'Roboto';
      font-size: 10px;
      cursor: default;
    }

    .menu-goback .to-go
    {
      cursor: pointer;
      transition: 0.3s;
      color: #8b8b8b;
    }

    .menu-goback .to-go:hover
    {
      color: #6654cb;
    }

    .blog-open
    {
      background-image: url('../assets/team_bg.png');
      background-size: 100vw;
      background-position: left;
      /* height: 110vh; */
      width: 100vw; 
      overflow-x: hidden !important;
    } 

    .title
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      position: relative;
      padding-top: 1%;
      padding-left: 15.3%;
      font-weight: normal;
      width: 68.5vw;
    }

    .subtitle h1
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      position: relative;
      margin-top: 4%;
      margin-left: 15.3%;
      font-size: 25px;
      width: 48vw;
      font-weight: normal;
    }

    .tm
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 150px;
        text-transform: uppercase;
        line-height: 150px;
        color: #fbfafe;
        position: absolute;
        left: 31%;
        top: 5%;
        pointer-events: none;
    }

    .white-line
    {
        background-color: #FFF;
        width: 17.4vw;
        height: 40vh;
        position: absolute;
        left: 15.7%;
    }

    @media only screen and (max-width: 778px) 
    {
        .latest
        {
          position: unset;
          margin-left: 15vw;
          width: 69.5vw;
        }

        .Blog:nth-child(1) 
        {
          height: 400px;
        }

        .Blog:nth-child(1) h3
        {
          line-height: 20px;
          font-size: calc(1.5vw + 1vh + 0.8vmin)
        }

        .angle
        {
          width: 69.5vw;
          font-size: 2.5vw;
          margin: 20px auto;
        }

        .Blog:nth-child(1) .email
        {
          font-size: 10px;
        }

        .Blog:nth-child(1) .sub
        {
          font-size: 8px;
        }

        .Blog h3
        {
          font-size: calc(1.5vw + 1vh + 0.8vmin);
        }

        .Blog .year, .Blog .subject
        {
          font-size: calc(1vw + 0.7vh + 0.5vmin);
        }

        .title
        {
          width: 80vw;
        }

        .share h4
        {
          font-size: 10px;
        }

        .share i
        {
          font-size: 20px;
        }

        .text-area
        {
          width: 69.5vw;
          margin-top: 20px;
          position: relative;
        }

        .text-area p
        {
          font-size: 10px;
        }

        .menu-goback
        {
          padding-top: 15%;
          width: 80%;
        }

        .title h1, .subtitle h1
        {
          font-size: 15px;
        }

        .subtitle h1
        {
          width: 69.5vw;
        }

        ul
        {
          width: 69.5vw;
        }

        ul li p, ul li h5
        {
          font-size: 10px;
        }

        ul li h5
        {
          display: block;
        }
        
        ul li::before
        {
          transform: translateY(5.5vw);
          width: 10px;
          height: 10px;
        }

        .leave-comment
        {
          display: block;
          margin-left: 15vw;
          width: 69.5vw;
        }

        .comments
        {
          width: 69.5vw;
        }

        .comments .comment-wrap p,.comments .comment-wrap .answer,.comments .comment-wrap .like
        {
          font-size: 8px;
        }

        .tm
        {
            font-size: 20px;
        }

        .angle
        {
          width: 69.5vw;
          font-size: 2.5vw;
          margin: 20px auto;
        }

        .checkbox input[type="checkbox"] {
            position: absolute;
            width: 80%;
            z-index: 20;
            height: 70px;
          }

          .checkbox label::before{
              left: 8px;
              top: 15px;
          }

          .checkbox label::after {
              left: 12px;
              top: 20px;
          }

          .checkbox label
          {
            font-size: 8px;
          }

          .leave-comment h4
          {
            font-size: 20px !important;
          }

          .date, .subject
          {
            display: none;
          }

    }

</style>
