<template>
  <div class="contact">
        <h1 class="tm">Контакты</h1>
        <div class="white-line"></div>

        <div class="menu-goback">
          <p><span class="to-go" @click="goHome()">Главная</span>      <i class="fa fa-chevron-right"></i>      <span class="current">Контакты</span></p>
        </div>

        <div class="title">
          <h1>Контакты</h1>
        </div>

        <div class="map-dot">

        </div>

        <div class="contact-wrap">
          <div class="switch-buttons">
            <div class="sw-btn active btn1">
              Россия
            </div>
            <div class="sw-btn btn2">
              Украина
            </div>  
          </div>
          <div class="change-area ch-ar1">
            <div class="line">
              <p>Адрес:</p>
              <h5>РФ, Р.-н-Д., Горького 245/26, 704 </h5>
            </div>
            <div class="line">
              <p>телефон:</p>
              <h5>+7-968-073-02-40 </h5>
            </div>
            <div class="line">
              <p>email:</p>
              <h5>westwebart.pro@gmail.com </h5>
            </div>
            <div class="line">
              <p>Режим работы:</p>
              <h5>понедельник - пятница, 10:00 - 18:00</h5>
            </div>
          </div>

          <div class="change-area ch-ar2">
            <div class="line">
              <p>Адрес:</p>
              <h5>РФ, Р.-н-Д., Горького 245/26, 704 </h5>
            </div>
            <div class="line">
              <p>телефон:</p>
              <h5>+8-350-771-22-33 </h5>
            </div>
            <div class="line">
              <p>email:</p>
              <h5>westwebart.pro@gmail.com </h5>
            </div>
            <div class="line">
              <p>Режим работы:</p>
              <h5>понедельник - пятница, 10:00 - 18:00</h5>
            </div>
          </div>
        </div>

                  <div class="button-cover for-video">
                        
                        <div class="corporate-video get-cons">
                            <div class="play-button">
                                <i class="fas fa-play"></i>
                            </div>
                            <p>Смотреть видео об услуге </p>
                        </div>
                        <div class="modal-cover modal-cover2">
                            <div class="form">
                                <form-video link="https://www.youtube.com/embed/BXh-i3ihfbo?version=3&enablejsapi=1"></form-video>
                            </div>
                        </div>
                    </div>

        <div class="corporate-video pdf">
            <div class="pdf-icon">
            </div>
            <p>Презентация компании в PDF</p>
        </div>

        <!-- <corporateVideo/> -->

        <div class="background-filter"></div>

        <BottomCallCard2/>

        <goUp/>

        <Footer/>

    <!-- <h1>{{ msg }}</h1> -->
  </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>

<script>
var $ = require('jquery');
window.jQuery = $;

import BottomCallCard2 from './other/bottom-callingCard2.vue';
import Footer from './other/footer.vue';
import goUp from './other/goUp.vue';
import formVideo from './other/form-video.vue'
// import corporateVideo from './other/corporateVideo.vue';


export default {
  name: 'team',
  components:{
    BottomCallCard2,
    Footer,
    goUp,
    formVideo,
    // corporateVideo,
  },
  props: {
    // msg: String
  },
  mounted: function(){
    window.scrollTo(0, 0)
    $('.header').css('transform', 'translateY(0)')
    
    new TypeIt('.tm', {
        cursor: false,
        waitUntilVisible: true
    })
    .go();

    if ($(window).width() < 767) 
    {
      $('.get-cons').click(function(){

        var popup1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top: -100,
            left: "15vw",
            height: '34vw',
            width: '69.5vw',
        });

        popup1.to($("#iframeid"), 0.3, {
            delay: 0.1,
            top: -100,
            left: "15vw",
            height: '34vw',
            width: '66.5vw',
        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })

        $('.icon-close').click(function(){
            popup1.reverse(0.6);
            var frame = document.getElementById("iframeid");
            frame.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
            var frame = document.getElementById("iframeid");
            frame.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
        })
    })
    }
    else
    {
      $('.get-cons').click(function(){

        var popup1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top: -400,
            left: window.innerWidth / 3.4,
            height: '315px',
            width: '570px',

        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })

        $('.icon-close').click(function(){
            popup1.reverse(0.6);
            var frame = document.getElementById("iframeid");
            frame.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
            var frame = document.getElementById("iframeid");
            frame.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
        })
    })
    }

    

        
      $('.btn2').click(function(){
        $('.ch-ar1').fadeOut(350)
        $('.btn2').addClass('active')
        $('.btn1').removeClass('active')
        setTimeout(function(){
          $('.ch-ar2').fadeIn(350)
        }, 350)
        $('.map-dot').css('top', '48vh')
        $('.map-dot').css('right', '40vw')
      })

      $('.btn1').click(function(){
        $('.ch-ar2').fadeOut(350)
        $('.btn1').addClass('active')
        $('.btn2').removeClass('active')
        setTimeout(function(){
          $('.ch-ar1').fadeIn(350)
        }, 350)
        $('.map-dot').css('top', '40vh')
        $('.map-dot').css('right', '35vw')
      })
    

        window.onwheel = function(e){
            if (e.deltaY > 0){
                $('.header').css('transform', 'translateY(-100%)')
            }
            else
            {
                 $('.header').css('transform', 'translateY(0)')
                    if ( $(window).scrollTop() <= 0 ) {
                      $('.header').css('background-color', 'transparent')
                    }
                    else
                    {
                      $('.header').css('background-color', 'white')
                    }
            }
        };
  },
  computed:{
    currentPage(){
      return this.$route.name
    },
  },
    methods:{
        goHome() 
        {
            this.$router.push({path:'/'})
        }
    },
}
</script>

<style scoped>
    .background-filter
    {
        backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: none;
        opacity: 0;
        z-index: 9;
    }

    .button-cover
    {
        position: relative;
        display: inline-block;
    }

    .modal-cover
    {
        width: 16.2vw;
        height: 0vh;
        background-color: #ffcd33;
        position: absolute;
        top: 0vw;
        left: 15.5vw;
        display: none;
        opacity: 0;
    }

    .form
    {
        display: none;
        opacity: 0;
        background-color: #ffcd33;
        border: 5px solid #ffcd33;
        border-bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .map-dot
    {
      width: 0.5vw;
      height: 0.5vw;
      border-radius: 50%;
      background-color: #ffcd33;
      box-shadow: 0 0 12px 5px #ffcd33;
      position: absolute;
      top: 40vh;
      right: 35vw;
    }

    .ch-ar2
    {
      display: none;
    }

    .corporate-video
    {
        width: 16.2vw;
        height: 40px;
        border: 2px solid #e0ddf5;
        border-right: 0;
        position: relative;
        left: 15.5vw;
        cursor: pointer;
        transition: 0.3s;
        display: inline-block;
    }

    .pdf 
    {
        border-right: 2px solid #e0ddf5;
    }

    .pdf-icon
    {
      background-image: url('../assets/pdf.png');
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: center right;
      width: 20%;
      height: 100%;
    }

    .corporate-video:hover
    {
        border: 2px solid #ffcd33;
    }


    .play-button
    {
        border: 1px solid #e0ddf5;
        border-radius: 50%;
        width: 23px;
        height: 23px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        left: 10%;
    }

    .play-button i
    {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 8px;
        color: #efbc1d;
    }

    .corporate-video p
    {
        position: absolute;
        right: 0;
        top: 50%;
        width: 70%;
        font-size: 0.8vw;
        font-family: 'Roboto';
        transform: translateY(-50%);
        color: #55499c;
    }
    .change-area
    {
      padding-top: 20px;
      width: 100%;
    }

    .line
    {
      padding: 10px 0;
    }

    .line p, .line h5
    {
      display: inline-block;
      font-size: calc(0.6vw + 0.6vh + 0.5vmin);
    }

    .line p
    {
      color: #8b8b8b;
      width: 20%;
      font-family: 'Roboto';
    }

    .line h5
    {
      width: 80%;
      font-family: 'Kepler';
      text-transform: uppercase;
    }

    .active
    {
      border-bottom: 2px solid #efbc1d !important;
      color: black !important;
    }

    .switch-buttons
    {
      width: 100%;
    }

    .sw-btn
    {
      width: 50%;
      display: inline-block;
      text-align: center;
      font-family: 'Kepler';
      text-transform: uppercase;
      padding: 10px;
      border: 1px #e5e5e5 solid;
      color: #8b8b8b;
      cursor: pointer;
    }


    .contact-wrap
    {
      /* height: 50vh; */
      width: 30vw;
      margin-left: 15.4vw;
      position: relative;
    }
    

    .current
    {
      color: black;
    }

    .fa 
    {
      padding: 0 10px;
    }

    .menu-goback
    {
      position: relative;
      padding-top: 7%;
      padding-left: 15.3%;
      font-family: 'Roboto';
      font-size: 10px;
      cursor: default;
    }

    .menu-goback .to-go
    {
      cursor: pointer;
      transition: 0.3s;
      color: #8b8b8b;
    }

    .menu-goback .to-go:hover
    {
      color: #6654cb;
    }

    .contact
    {
      background-image: url('../assets/background-contact.png');
      background-size: 100vw;
      background-position: left top;
      /* height: 110vh; */
      width: 100vw; 
      overflow-x: hidden !important;
    } 

    .title
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      position: relative;
      padding-top: 1%;
      padding-left: 15.3%;
      font-weight: normal;
    }

    .tm
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 110px;
        text-transform: uppercase;
        line-height: 150px;
        color: #fbfafe;
        position: absolute;
        left: 31%;
        top: 2%;
        pointer-events: none;
    }

    .white-line
    {
        background-color: #FFF;
        width: 17.4vw;
        height: 40vh;
        position: absolute;
        left: 15.7%;
    }

    @media only screen and (max-width: 778px) 
    {
        .pdf-icon
        {
          background-size: 60%;
        }

        .map-dot
        {
          display: none;
        }

        .contact-wrap
        {
          width: 69.5vw;
        }

        .menu-goback
        {
          padding-top: 15%;
        }

        .title h1
        {
          font-size: 25px;
        }

        .tm
        {
            font-size: 20px;
            display: none;
        }

        .angle
        {
          width: 69.5vw;
          font-size: 2.5vw;
          margin: 20px auto;
        }

        .corporate-video
        {
          width: 35vw;
        }

        .corporate-video p
        {
          font-size: 2vw;
          padding-left: 10px;
        }

        .line
        {
          padding: 0;
        }

        .line p
        {
          font-size: 12px;
          text-transform: capitalize;
          vertical-align: middle;
        }

        .line h5
        {
          font-size: 11px;
          padding-left: 20px;
        }

        .modal-cover
        {
          width: 35vw;
          height: 0vh;
        }

    }

</style>
