<template>
  <div class="header">
    <div class="logo" @click="goHome()"></div>
    <div class="svg-test" @click="goHome()">

    <svg class="mysvg" viewBox="0 0 812.31 529.77">
        <path id="motionpath" d="M131.69,365.63H580a56.71,56.71,0,0,1,6.11.33c18.63,2,112.19,18.07,86.77,87-28.46,77.16-17.21,87.1-125.78,117a118.44,118.44,0,0,1-25.37,4.1q-3.27.16-7.16.29c-116.79,3.67-171.64-128.14-87-208.7" transform="translate(-7 -448.63) scale(1.5)"/>
       <path class="black" d="M2.5,302.54,16,278.44H63.19a16.26,16.26,0,0,1,16.13,18.37l-6.73,51.72,49.28-70.09h22.27v70.09l36.51-70.09h50.42a18.45,18.45,0,0,1,18.28,20.94l-6.28,46.23,47.83-67.17h24.45v67.17l35.42-67.17h28.47L304,408.4H280.67l.37-71.18L229.93,408.4h-23l4.88-99.35a4.47,4.47,0,0,0-4.46-4.69H194.52l-61.7,104H110.55V339L58.72,408.4H34.62l9.49-104.77Z" transform="translate(-2.5 -257.04)"/>
       <path class="black" d="M582.28,339.38H511.86l26.59-63H489.7l-50.72,63s-59.86-3.29-85.72,16.58c0,0-18.36,12.77-23.09,28.88a16.14,16.14,0,0,0,7.54,18.63c6.36,3.63,16.88,7.34,33.08,7a57.41,57.41,0,0,0,22.36-5.11c14.64-6.6,40.72-21.39,54.68-47.48h25.38l-17.54,49.56H491.4l16.52-48.13H575.2L590,339.68Z" transform="translate(-2.5 -257.04)"/>
       <path class="white" d="M419.22,355.08c-7.33.88-43,6.1-47.26,25.38a5.66,5.66,0,0,0,4.05,6.79c3.23.78,8.63.45,17.56-3.57A32.79,32.79,0,0,0,401,379a81.35,81.35,0,0,0,18.9-22.92A.69.69,0,0,0,419.22,355.08Z" transform="translate(-2.5 -257.04)"/>
       <polygon class="white" points="461.44 82.44 475.49 82.44 489.13 52.94 461.44 82.44"/>
       <text class="cls-1" font-size="1.7em" transform="translate(31.23 176.36)">Улучшить можно все</text>
          
    </svg>
     <div class="wipe_out"></div>
     <div class="wipe_out1"></div>
     <img class="rocket_gif" src="../assets/rocket_logo.gif" alt="logo">
     <img class="rocket_pic" src="../assets/rocket_logo.png" alt="logo">




    </div>
    <ul class="menu">
        <li @click="goTeam()" :class="[currentPage.includes('team') ? 'active' : '', 'nav-item']">КОМАНДА</li>
        <li @click="goService()" :class="[currentPage.includes('services') ? 'active' : '', 'nav-item']">УСЛУГИ</li>
        <li @click="goPortfolio()" :class="[currentPage.includes('portfolio') ? 'active' : '', 'nav-item']">ПОРТФОЛИО</li>
        <li @click="goReviews()" :class="[currentPage.includes('reviews') ? 'active' : '', 'nav-item']">ОТЗЫВЫ</li>
        <li @click="goWork()" :class="[currentPage.includes('work') ? 'active' : '', 'nav-item']">Ваканси</li>
        <li @click="goBlog()" :class="[currentPage.includes('blog') ? 'active' : '', 'nav-item']">блог</li>
        <li @click="goContact()" :class="[currentPage.includes('contact') ? 'active' : '', 'nav-item']">контакты</li>
    </ul>
    <div class="mobile-menu">
    <i class="far fa-bars"></i>
        <div class="mob-menu">
            <i class="fas fa-times"></i>
            <ul>
                <li @click="goHome()">главная</li>
                <li @click="goTeam()">КОМАНДА</li>
                <li @click="goService()" >УСЛУГИ</li>
                <li @click="goPortfolio()" >ПОРТФОЛИО</li>
                <li @click="goReviews()" >ОТЗЫВЫ</li>
                <li @click="goWork()" >Ваканси</li>
                <li @click="goBlog()" >блог</li>
                <li @click="goContact()" >контакты</li>
            </ul>
        </div>
    </div>
    <div class="get-call" v-show="(this.$route.path === '/')">
        <!-- <p>Заказать звонок</p> -->
                    <div class="button-cover oof">
                        <!-- <div class="angle get-cons">получить консультацию</div> -->
                        <p class="get-cons-top">Заказать звонок</p>
                        <div class="modal-cover">
                            <div class="form">
                                <form-contact></form-contact>
                            </div>
                            <div class="form2">
                                <form-policy></form-policy>
                            </div>
                            <div class="form3">
                                <form-thanks></form-thanks>
                            </div>
                        </div>
                    </div>
        <h2>+7-968-073-02-40</h2>
    </div>
    <div class="email" v-show="(this.$route.path === '/')">
        <div class="mail-icon"></div>
        <h2><a href="mailto:westwebart.pro@gmail.com">westwebart.pro@gmail.com</a></h2>
    </div>
    <!-- <div class="background-filter"></div> -->
  </div>
</template>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>

<script>
var $ = require('jquery');
window.jQuery = $;
var tl = new TimelineMax();
import { gsap, MotionPathPlugin } from "gsap/all";

import formContact from './other/form-contact.vue'
import formPolicy from './other/form-policy.vue'
import formThanks from './other/form-thanks.vue'

export default {
  name: 'nav-bar',
  computed:{
    currentPage(){
      return this.$route.name
    },
  },
  mounted: function(){
    gsap.registerPlugin(MotionPathPlugin);
    $(document).ready(function(){
        // setTimeout(function(){

        var animation = tl
                .set(".rocket_gif", {opacity: 1})
                .to(".rocket_gif", {
                    duration:3,
                    ease: "power1.inOut",
                    motionPath:{
                        path: "#motionpath",
                        align: "#motionpath",
                        autoRotate: true,
                        alignOrigin: [0.5, 0.5]
                    }
                })
                .to(".wipe_out", 2.4, {left: "100%", ease: "power1.inOut"},-0.2)
                .to(".wipe_out1", 2, {left: "100%", ease: "power1.inOut"})
                .to(".rocket_gif", 0, {opacity: 0})
                .to(".rocket_pic", 0, {opacity: 1})
                .to(".wipe_out", 0.1, {opacity: "0"})
                .to(".wipe_out1", 0.1, {opacity: "0"})
            
                  $('.svg-test').click(function(){
                    tl.restart()
                  })

        // },5000)
    })
    
                  
            

        $('.mobile-menu .mob-menu').children().hide()
      
        $('.fa-bars').click(function(){
            $('.mobile-menu .mob-menu').slideToggle()
            setTimeout(function(){
                $('.mobile-menu .mob-menu').children().fadeToggle()
            }, 300)
        })

        $('.mobile-menu .mob-menu ul li').click(function(){
            $('.mobile-menu .mob-menu').slideToggle()
            $('.mobile-menu .mob-menu').children().fadeToggle("fast")
        })

        $('.fa-times').click(function(){
            $('.mobile-menu .mob-menu').slideToggle()
            $('.mobile-menu .mob-menu').children().fadeToggle("fast")
        })
    if ($(window).width() < 767) 
    {
            $('.get-cons-top').click(function(){
            fullpage_api.setMouseWheelScrolling(false);
            fullpage_api.setAllowScrolling(false);

            var popup1 = new TimelineMax();
            var popup1_1 = new TimelineMax();
            popup1.to($(this).next(),0.1,{
                display: 'block',
                opacity: 1,
                zIndex: 100,
            })

            popup1.to($(this), 0.1,{
                display: 'block',
                opacity: 0,
            })

            popup1.to('.background-filter', 0.2,{
                display: 'block',
                opacity: 1,
            })

            popup1.to($(this).next(), 0.3, {
                delay: 0.1,
                top: -450,
                left: 32,
                height: '60vh',
                width: '70vw',

            });

            popup1.to($(this).next().find('.form'), 0.2,{
                display: 'block',
                opacity: 1,
            })

            $('form .button').click(function(){
                popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                    display: 'none',
                    opacity: 0,
                })
                popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                    width: '70vw',
                    left: 32,
                })
                popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                    display: 'block',
                    opacity: 1,
                })
            })

            $('.form2 .button').click(function(){
                popup1.to($(this).parent().parent().parent(), 0.2,{
                    display: 'none',
                    opacity: 0,
                })
                popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                    width: '70vw',
                    height: '20vh',
                    top: -300,
                    left: 32,
                })
                popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                    display: 'block',
                    opacity: 1,
                })
            })

            $('.oof .icon-close').click(function(){
                popup1.reverse(0.6)
                fullpage_api.setMouseWheelScrolling(true);
                fullpage_api.setAllowScrolling(true);
            })
            $('.background-filter').click(function(){
                popup1.reverse(0.6)
                fullpage_api.setMouseWheelScrolling(true);
                fullpage_api.setAllowScrolling(true);
            })

        })
    }
    else{
        $('.get-cons-top').click(function(){
            fullpage_api.setMouseWheelScrolling(false);
            fullpage_api.setAllowScrolling(false);

            var popup1 = new TimelineMax();
            var popup1_1 = new TimelineMax();
            popup1.to($(this).next(),0.1,{
                display: 'block',
                opacity: 1,
                zIndex: 100,
            })

            popup1.to($(this), 0.1,{
                display: 'block',
                opacity: 0,
            })

            popup1.to('.background-filter', 0.2,{
                display: 'block',
                opacity: 1,
            })

            popup1.to($(this).next(), 0.3, {
                delay: 0.1,
                top: 100,
                left: -window.innerWidth / 4,
                height: '60vh',
                width: '30vw',

            });

            popup1.to($(this).next().find('.form'), 0.2,{
                display: 'block',
                opacity: 1,
            })

            $('form .button').click(function(){
                popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                    display: 'none',
                    opacity: 0,
                })
                popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                    width: '40vw',
                    left: -window.innerWidth / 3.3,
                })
                popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                    display: 'block',
                    opacity: 1,
                })
            })

            $('.form2 .button').click(function(){
                popup1.to($(this).parent().parent().parent(), 0.2,{
                    display: 'none',
                    opacity: 0,
                })
                popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                    width: '25vw',
                    height: '20vh',
                    top: 200,
                    left: -window.innerWidth / 4,
                })
                popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                    display: 'block',
                    opacity: 1,
                })
            })

            $('.oof .icon-close').click(function(){
                popup1.reverse(0.6)
                fullpage_api.setMouseWheelScrolling(true);
                fullpage_api.setAllowScrolling(true);
            })
            $('.background-filter').click(function(){
                popup1.reverse(0.6)
                fullpage_api.setMouseWheelScrolling(true);
                fullpage_api.setAllowScrolling(true);
            })

        })
    }
  },
  components:
  {
      formContact,
      formPolicy,
      formThanks
  },
    methods:{
        goHome() 
        {
            this.$router.push({path:'/'})
        },
        goTeam() 
        {
            this.$router.push({path:'/team'})
        },
        goService() 
        {
            this.$router.push({path:'/services'})
        },
        goPortfolio() 
        {
            this.$router.push({path:'/portfolio'})
        },
        goReviews() 
        {
            this.$router.push({path:'/reviews'})
        },
        goWork() 
        {
            this.$router.push({path:'/work'})
        },
        goContact() 
        {
            this.$router.push({path:'/contact'})
        },
        goBlog() 
        {
            this.$router.push({path:'/blog'})
        },
    },


}
</script>

<style scoped>
.svg-test{
  width: 10vw;
  position: absolute;
  left: 60px;
  top: 25px;
  z-index: 1;
}
#motionpath{
    /* fill: #55499c; */
    position: absolute;
    fill: none;
}
.rocket_pic{
    z-index: 2;
    position: absolute;
    width: 15%;
    left: 71%;
    top: -8%;
    -webkit-transform: rotate(47deg);
       -moz-transform: rotate(47deg);
        -ms-transform: rotate(47deg);
         -o-transform: rotate(47deg);
            transform: rotate(47deg);
    opacity: 0;
}
.rocket_gif{
    opacity: 0;
    position: absolute;
    width: 34%;
    top: -20%;
    left: -20%;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
}
.wipe_out, .wipe_out1{
    position: absolute;
    top: -15%;
    left: 0%;
    width: 100%;
    height: 45%;
    background-color: #fff;
}
.wipe_out1{
    height: 6%;
    width: 40%;
    top: 29%;
    left: 0;
    background-color: #fff;
    z-index: 0;
}
.black{
  fill: #000;
}
.white{
  fill: #fff
}

    .far
    {
        font-weight: 900;
    }

    .mobile-menu
    {
        display: none;
    }

    .background-filter
    {
        backdrop-filter: blur(5px);
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: none;
        opacity: 0;
    }

    .button-cover
    {
        position: relative;
        display: inline-block;
    }

    .modal-cover
    {
        width: 100px;
        height: 4vh;
        background-color: #6654cb;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        opacity: 0;
    }

    .form, .form2, .form3
    {
        display: none;
        opacity: 0;
        background-color: #6654cb;
        background-image: url('../assets/popup-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

.active
{
    border-top: 2px #ffcd33 solid;
    color: #ffcd33;
}

.header
{
    position: fixed;
    width: 100vw;
    height: 10vh;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 0.3s;
}

.menu
{
    display: inline-block;
    vertical-align:top;
    position: absolute;
    left: 14.2%;
    z-index: 3;
    top: 45%;
    transform: translateY(-50%);
}

.menu li
{
    display: inline-block;
    font-family: 'Kepler';
    margin: 0 0.9vw;
    text-transform: uppercase;
    font-size: calc(0.5vw + 0.3vh + 0.3vmin);
    cursor: pointer;
    transition: 0.3s;
    padding-top: 0.5vw;
}

.menu li:hover
{
    color: #ffcd33;
}

.get-call
{
    display: inline-block;
    vertical-align: top;
    transform: translateY(-50%);
    position: absolute;
    right: 22%;
    top: 55%;

}

.email
{
    position: absolute;
    right: 3%;
    top: 51%;
    transform: translateY(-50%);
    vertical-align: middle;
}

.email .mail-icon
{
    background-image: url('../assets/small-message.svg');
    width: 7px;
    height: 7px;
    background-position: center;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    /* vertical-align: middle; */
    padding-right: 30px;
}

.email h2
{
    font-size: calc(0.5vw + 0.5vh + 0.3vmin);
    display: inline-block;
    /* vertical-align: middle; */
    /* letter-spacing: 0.3px; */
    font-family: 'Kepler';
}

.email h2 a
{
    color: black;
    text-decoration: none;
}

.get-call p, .get-call h2{
    display: inline-block;
    /* vertical-align: middle; */
    font-size: calc(0.5vw + 0.4vh + 0.3vmin);
}

.get-call p
{
    font-family: 'Roboto';
    cursor: pointer;
    transition: 0.3s;
}

.get-call p:hover
{
    color: #55499c;
}

.get-call h2
{
    font-family: 'Kepler';
    padding-left: 10px;
}

@media only screen and (max-width: 778px) 
{
    .svg-test{
        width: 20vw;
        left: 20px;
    }

    .mobile-menu
    {
        display: block;
        position: fixed;
        width: 100vw;
        height: 20px;
        top: 0;
        /* right: 0; */
    }

    .mobile-menu .mob-menu
    {
        display: none;
        position: fixed;
        top:0;
        left: 0;
        background-color: white;
        width: 100vw;
        height: 100vh;
        z-index: 100;
    }

    .mobile-menu .mob-menu ul
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
    }

    .mobile-menu .mob-menu ul li
    {
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Kepler';
    }

    .fa-bars, .fa-times
    {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 22px;
    }

    .menu
    {
        display: none;
    }

    .get-call, .email
    {
        right: unset;
        left: 5%;
        top: 95vh;
        position: fixed;
    }

    .email
    {
        right: 5%;
        top: 97vh;
        left: unset;
    }

    .email .mail-icon
    {
        padding: 0;
        width: 20px;
        background-position: left center;
    }

    .email h2
    {
        transform: translateY(-1px);
        font-size: 10px;
    }

    .get-call p, .get-call h2
    {
        display: block;
        font-size: 10px;
        margin: 0;
        padding: 0;
    }
}

</style>
