<template>
  <div class="home">
    <full-page ref="fullpage" :options="options" id="fullpage">
      <SectionOne/>
      <SectionTwo/>
      <SectionThree/>
      <SectionFour/>
      <SectionFive/>
    </full-page>
      <div class="social-media">
        <a href="https://www.instagram.com/" class='social-item'><i class="fa fa-skype" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/" class='social-item'><i class="fab fa-telegram-plane"></i></a>
        <a href="https://www.instagram.com/" class='social-item'><i class="fa fa-vk"></i></a>
        <a href="https://www.instagram.com/" class='social-item'><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/" class='social-item'><i class="fa fa-instagram"></i></a>
        <p>Cвяжитесь с нами</p>
      </div>
    </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>

<script>

import SectionOne from './home-page-sections/section1.vue'
import SectionTwo from './home-page-sections/section2.vue'
import SectionThree from './home-page-sections/section3.vue'
import SectionFour from './home-page-sections/section4.vue'
import SectionFive from './home-page-sections/section5.vue'
import 'fullpage.js/dist/fullpage.css'


export default {
  name: 'home',
  components:
  {
    SectionOne,
    SectionTwo,
    SectionThree,
    SectionFour,
    SectionFive,
  },
  props: {
    // msg: String
  },
  data(){
    return{
      options:{
        navigation: true,
        navigationPosition: 'right',
        verticalCentered: false,
        afterLoad: this.afterLoad,
      }
    }
  },
  mounted: function(){
        window.onwheel = function(e){
            if (e.deltaY > 0){
                $('.header').css('transform', 'translateY(0)')
            }
        };
  },
  methods:{
    afterLoad(index, nextIndex, direction) {
      $(document).on('click', '.next-section', function(){
        fullpage_api.moveTo(2);
      });
    }
  }
}
</script>

<style scoped>

.social-media
{
  width: 8vw;
  position: absolute;
  left: 0;
  top: 21%;
}

.social-media .social-item
{
  display: block;
  width: 25px;
  height: 25px;
  margin: 30px auto;
  text-align: center;
}

.social-media .social-item i
{
  padding-top: 5px;
  transition: 0.3s;
  font-size: 25px;
}

.social-media .social-item:hover
{
  transition: 0.3s;
  transform: rotate(360deg);
}

.social-media .social-item:hover i
{
  color: #6654cb;
}


.social-media p
{
  margin: 65px auto;
  text-align: center;
  transform: rotate(-90deg);
  font-family: 'Roboto';
  font-size: 12px;
  pointer-events: none;
  color: #8b8b8b;
}

.social-media .social-item div
{
  height: 100%;
}

.section
{
  height: 100vh;
}

#section1
{
  background-image: url('../assets/background1.png');
  background-position: left;
  background-size: 100vw;
  background-repeat: no-repeat;
}

#section2
{
  background-image: url('../assets/background4.png');
  background-position: left;
  background-color: #fbfafe;
  background-size: 86vw;
  background-repeat: no-repeat;
  border: 0;
  font-weight: 100;
}

#section3
{
  background-image: url('../assets/background3.png');
  background-position: center top;
  background-size: 100vw;
  background-repeat: no-repeat;
}

#section4
{
  background-image: url('../assets/background4.png');
  background-color: #fbfafe;
  background-position: left;
  background-size: 86vw;
  background-repeat: no-repeat;
  border: 0;
  font-weight: 100;
}

#section5
{
  background-image: url('../assets/background5.png');
  background-color: #fff;
  background-position: left;
  background-size: 100vw;
  background-repeat: no-repeat;
  border: 0;
  font-weight: 100;
}

@media only screen and (max-width: 778px) 
{
    #section1
    {
      background-size: 100vh;
    }

    .svg-test2
    {
      top: 50%;
    }

    .social-media p
    {
      width: 120px;
      margin: 50px auto;
      transform: translateX(-45px) rotate(-90deg);
    }

    .social-media
    {
      left: 10px;
    }

    .social-media .social-item
    {
      margin: 10px auto;
    }

    .social-media .social-item i
    {
      font-size: 15px;
    }
}
</style>
