<template>
  <div class="portfolio-open">
        <h1 class="tm">Портфолио</h1>
        <div class="white-line"></div>

        <div class="menu-goback">
          <p>
            <span class="to-go" @click="goHome()">Главная</span>      
            <i class="fa fa-chevron-right"></i>      
            <span class="to-go" @click="goPortfolio()">Портфолио</span>  
            <i class="fa fa-chevron-right"></i>   
            <span class="current current-open"></span>  
          </p>
        </div>

        <div class="title menu-text">
          <h1>Stolprom.com / SEO</h1>
        </div>

        <div class="social-wrap">
          <div class="social-card">
                  <div class="icon icon1"></div>
                  <div class="info">
                    <h4 class="name">О проекте </h4>
                    <p>Stolprom.com – производитель мебели оптом.</p>
                  </div>
          </div>
          <div class="social-card">
                  <div class="icon icon2"></div>
                  <div class="info">
                    <h4 class="name">Регион продвижения </h4>
                    <p>вся Россия, Google и Яндекс. </p>
                  </div>
          </div>
          <div class="social-card">
                  <div class="icon icon3"></div>
                  <div class="info">
                    <h4 class="name">Цели SEO продвижения</h4>
                    <p>Увеличение объемов целевого трафика за счет вывода позиций сайта в ТОП-10 Яндекса и Google.</p>
                  </div>
          </div>
        </div>

        <div class="subtitle">
          <h1>Статистика по трафику из поисковых систем: </h1>
        </div>

        <img class="image" src="../assets/portfolio-file.png" alt="Статистика по трафику из поисковых систем">

        <div class="text-area">
          <p>Работы начали проводить в июне 2019 года, и уже после завершения первого этапа по продвижению получили хороший результат.</p>
          <p>Была осуществлена внутренняя оптимизация на 218 поисковых запросов и индивидуально проработана схема оптимизации на 10 посадочных страниц. Также был выполнен ряд аудитов, составлены рекомендации по настройке движка под продвижение и исправление выявленных недочетов на сайте.</p>
        </div>

        <img class="image image-half first-half" src="../assets/portfolio-file2.png" alt="Статистика по трафику из поисковых систем">
        <img class="image image-half second-half" src="../assets/portfolio-file3.png" alt="Статистика по трафику из поисковых систем">
        <img class="image" src="../assets/portfolio-file4.png" alt="Статистика по трафику из поисковых систем">

        <div class="conclusion">
          <div class="result">
            <h5>результат</h5> 
            <p>Благодаря росту позиций в ТОП-10 по проработанному перечню ключевых фраз, подобранных в семантическое ядро, поисковый трафик вырос с 842 до 1943 посетителей в месяц.</p>
          </div>
          <div class="result">
            <h5>Работы продолжаем </h5> 
            <p>По намеченному плану для увеличения трафика и продвижения в поисковых системах по новым запросам, а также – улучшения результата. В каждые последующие месяцы планируется углубление оптимизации на 150 запросов и подключение внешней оптимизации для улучшения показателей.</p>
          </div>
        </div>

        <div class="includes">
          <div class="includes-reason">
            <div class="reason">
              <p>1,9k </p>
              <h3>поисковый трафик  </h3>
              <h5>вырос с 842 до 1943 посетителей в месяц.</h5>
            </div>
            <div class="reason">
              <p>126</p>
              <h3>запросов</h3>
              <h5>продвигаются в ТОП-10 Google</h5>
            </div>
            <div class="reason">
              <p>58%</p>
              <h3>от проработанного семантического ядра</h3>
              <h5>в Google </h5>
            </div>
            <div class="reason">
              <p>231% </p>
              <h3>Рост трафика</h3>
              <h5></h5>
            </div>
            <div class="reason">
              <p>98</p>
              <h3>запросов</h3>
              <h5>продвигаються в ТОП-10 Яндекса </h5>
            </div>
            <div class="reason">
              <p>42%</p>
              <h3>от проработанного семантического ядра</h3>
              <h5>в Яндекс</h5>
            </div>
          </div>
        </div>

        <div class="next-case">
          <h1>следующий seo кейс</h1>
          <div class="case">
            <div class="case-center">
              <h2>InterMotor.kz</h2>
              <p>№1 по запросу «американские запчасти»</p>
              <div class="angle">посмотреть проект</div>
            </div>
          </div>
        </div>


        <BottomCallCard2/>

        <goUp/>

        <Footer/>
  </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>

<script>
var $ = require('jquery');
window.jQuery = $;

import BottomCallCard2 from './other/bottom-callingCard2.vue';
import Footer from './other/footer.vue';
import goUp from './other/goUp.vue';


export default {
  name: 'portfolio',
  components:{
    BottomCallCard2,
    Footer,
    goUp,
  },
  props: {
  },
  mounted: function(){
    window.scrollTo(0, 0)
    $('.header').css('transform', 'translateY(0)')
    
    new TypeIt('.tm', {
        cursor: false,
        waitUntilVisible: true
    })
    .go();

    $('.current-open').text($('.menu-text').text())

        window.onwheel = function(e){
            if (e.deltaY > 0){
                $('.header').css('transform', 'translateY(-100%)')
            }
            else
            {
                 $('.header').css('transform', 'translateY(0)')
                    if ( $(window).scrollTop() <= 0 ) {
                      $('.header').css('background-color', 'transparent')
                    }
                    else
                    {
                      $('.header').css('background-color', 'white')
                    }
            }
        };
  },
  computed:{
    currentPage(){
      return this.$route.name
    },
  },
    methods:{
        goHome() 
        {
            this.$router.push({path:'/'})
        },
        goPortfolio() 
        {
            this.$router.push({path:'/portfolio'})
        }
    },
}
</script>

<style scoped>

.case
{
  width: 69.5%;
  height: 70%;
  background-image: url('../assets/case.png');
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.next-case
{
  position: relative;
  background-color: #fbfafe;
  height: 80vh;
  width: 100vw;
}

.case-center
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.case-center h2, .case-center p
{
  color: white;
}

.case-center p
{
  font-family: 'Roboto';
}

.case-center h2
{
  font-family: 'Kepler';
  text-transform: uppercase;
  font-size: 20px;
}

.case-center .angle
{
  width: 80%;
  margin: 0 auto;
  position: relative;
  font-size: 12px;
}

.next-case h1
{
  margin-left: 15.2vw;
  padding-top: 3%;
  text-transform: uppercase;
  font-family: 'Kepler';
  font-size: 30px;
}

.conclusion
{
  width: 69.5vw;
  margin: 3% auto;
}

.conclusion .result
{
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.conclusion .result h5
{
  font-family: 'Kepler';
  text-transform: uppercase;
}

.conclusion .result p
{
  font-family: 'Roboto';
  padding-right: 20px;
  font-size: calc(0.5vw + 0.4vh + 0.3vmin);
  color: #8b8b8b;
}

.text-area p
{
  font-family: 'Roboto';
  color: #8b8b8b;
  font-size: calc(0.5vw + 0.4vh + 0.3vmin);
}

.image
{
  width: 69.5vw;
  margin-top: 2%;
  margin-left: 15.3vw;
  position: relative;
}

.first-half
{
  margin-left: 15.3vw !important;
}

.second-half
{
  margin-left: 20px !important;
}

.image-half
{
  width: calc(69.5vw / 2 - 10px);
  display: inline-block;
  margin: 0;
}

.text-area
{
  width: 69.5vw;
  margin: 0 auto;
  margin-top: 40px;
}

.includes
{
  width: 69.5vw;
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 5%;
}

.includes-reason
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.includes .reason
{
  height: 200px;
  margin: 20px 0;
}

.includes .reason p
{
  color: #efbc1d;
  font-size: 100px;
  font-family: 'Kepler';
  text-align: left;
  text-shadow: 12px -12px 0px rgba(85, 73, 156, 0.07);
  height: 70%;
  text-transform: uppercase;
}

.includes .reason h3
{
  color: black;
  font-size: calc(0.5vw + 0.4vh + 0.3vmin);
  font-family: 'Kepler';
  font-weight: normal;
  text-transform: uppercase;
  width: 50%;
}

.includes .reason h5
{
  color: #8b8b8b;
  font-size: calc(0.5vw + 0.4vh + 0.3vmin);
  font-family: 'Roboto';
  font-weight: normal;
}


.angle
{
  width: 91%;
  position: absolute;
  bottom: 0;
}
    
.corporate-video
{
    width: 91%;
    height: 40px;
    border: 2px solid #e0ddf5;
    position: absolute;
    cursor: pointer;
    transition: 0.3s;
}

.corporate-video:hover
{
    border: 2px solid #ffcd33;
}


.play-button
{
    border: 1px solid #e0ddf5;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
}

.play-button i
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
    color: #efbc1d;
}

.corporate-video p
{
    position: absolute;
    right: 0;
    top: 50%;
    width: 70%;
    font-size: 0.8vw !important;
    font-family: 'Roboto';
    transform: translateY(-50%);
    color: #55499c;
}

    /* .social-card:hover .name
    {
      color: #6654cb;
    } */

    .social-wrap
    {
      width: 71vw;
      margin-top: 40px;
      position: relative;
      left: 15.3%;
    }

    .social-card
    {
      width: 33%;
      position: relative;
      height: 100px;
      cursor: pointer;
      display: inline-block;
      vertical-align: top;
    }
    
    .social-card h4
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 14px;
        text-transform: uppercase;
    }

    .icon
    {
        display: inline-block;
        height: 100%;
        vertical-align: top;
        width: 20%;
        background-position: center 0%;
        background-repeat: no-repeat;
        background-size: 50%;
    }

    .icon1
    {
      background-image: url("../assets/information.svg");
    }

    .icon2
    {
      background-image: url("../assets/pin.svg");
    }

    .icon3
    {
      background-image: url("../assets/target.svg");
    }

    .name
    {
      transition: 0.3s;
        /* display: inline-block; */
    }

    .social-card .info
    {
      display: inline-block;
      width: 80%;
      padding-left: 1%;
    }

    .social-card p
    {
        /* padding-right: 9%; */
        /* padding-top: 2%; */
        font-family: 'Roboto';
        font-weight: normal;
        font-size: calc(0.5vw + 0.4vh + 0.4vmin);
        color: #8b8b8b;
        /* display: inline-block; */
        width: 100%;
    }

    .current
    {
      color: black;
    }

    .fa 
    {
      padding: 0 10px;
    }

    .menu-goback
    {
      position: relative;
      padding-top: 7%;
      padding-left: 15.3%;
      font-family: 'Roboto';
      font-size: 10px;
      cursor: default;
    }

    .menu-goback .to-go
    {
      cursor: pointer;
      transition: 0.3s;
      color: #8b8b8b;
    }

    .menu-goback .to-go:hover
    {
      color: #6654cb;
    }

    .portfolio-open
    {
      background-image: url('../assets/team_bg.png');
      background-size: 100vw;
      background-position: left;
      /* height: 110vh; */
      width: 100vw; 
      overflow-x: hidden !important;
    } 

    .title
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      position: relative;
      padding-top: 1%;
      padding-left: 15.3%;
      font-weight: normal;
    }

    .subtitle h1
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      position: relative;
      padding-top: 1%;
      padding-left: 15.3%;
      font-size: 25px;
      font-weight: normal;
    }

    .tm
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 150px;
        text-transform: uppercase;
        line-height: 150px;
        color: #fbfafe;
        position: absolute;
        left: 31%;
        top: 5%;
        pointer-events: none;
    }

    .white-line
    {
        background-color: #FFF;
        width: 17.4vw;
        height: 40vh;
        position: absolute;
        left: 15.7%;
    }

    @media only screen and (max-width: 778px) 
    {
      .title h1
      {
        font-size: 28px;
        width: 80%;
      }

      .tm
      {
        font-size: 20px;
      }

      .menu-goback
      {
        padding-top: 15%;
      }

      .social-card
      {
        width: 100%;
      }

      .social-card p
      {
        font-size: calc(1vw + 0.8vh + 0.7vmin);
      }

      .subtitle h1
      {
        font-size: 20px;
      }

      .text-area p
      {
        font-size: calc(1vw + 0.8vh + 0.7vmin);
      }

      .image-half
      {
        width: 69.5vw;
      }

      .second-half
      {
        margin-top: 20px;
        margin-left: 15.3vw !important;
      }

      .conclusion .result
      {
        width: 100%;
      }

      .conclusion .result p
      {
        font-size: calc(1vw + 0.8vh + 0.7vmin);
      }

      .includes-reason
      {
        grid-template-columns: 1fr;
      }

      .includes .reason p
      {
        font-size: 70px;
        margin: 0;
        height: 55%;
      }

      .includes .reason h3
      {
        font-size: 15px;
      }

      .includes .reason h5
      {
        font-size: 12px;
      }
  }

</style>
