<template>
  <div class="portflio">
        <h1 class="pf">Портфолио</h1>
        <div class="white-line"></div>

        <div class="menu-goback">
          <p><span class="to-go" @click="goHome()">Главная</span>      <i class="fa fa-chevron-right"></i>      <span class="current">Портфолио</span></p>
        </div>

        <div class="title">
          <h1>Портфолио</h1>
        </div>

        <div class="filter">
          <ul>
            <li class="sub-menu">
              <p class="filter-name"><span>Тип проекта</span> <i class="fa fa-chevron-down"></i></p>
              <ul>
                <li>вариант1</li>
                <li>вариант2</li>
                <li>вариант3</li>
                <li>вариант4</li>
              </ul>
            </li>
            <li class="sub-menu">
              <p class="filter-name"><span>Отрасль</span><i class="fa fa-chevron-down"></i></p>
              <ul>
                <li>вариант1</li>
                <li>вариан2</li>
              </ul>
            </li>
            <li class="sub-menu">
              <p class="filter-name"><span>Тематика</span><i class="fa fa-chevron-down"></i></p>
              <ul>
                <li>вариант1</li>
                <li>вариант2</li>
              </ul>
            </li>
            <li class="sub-menu">
              <p class="filter-name"><span>Страна</span><i class="fa fa-chevron-down"></i></p>
              <ul>
                <li>вариант1</li>
                <li>вариант2</li>
              </ul>
            </li>
            <li class="sub-menu">
              <p class="filter-name"><span>Город</span><i class="fa fa-chevron-down"></i></p>
              <ul>
                <li>вариант1</li>
                <li>вариант2</li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="Cards">
          <div class="Card" v-for="item in items.slice(0, number)" :key="item.name" @click="goPortfolio()">
                <div class="bg"></div>
                <div class="naming">
                    <h3>{{item.name}}</h3>
                    <h6>{{item.subject}}</h6>
                    <p>{{item.descr}}</p>
                </div>
                <div class="rotate" :style="{'background-image':'url('+ item.img +')'}">
                    <div class="shtora">
                        <p>{{item.people}}</p>
                        <p>посетителей  в сутки </p>
                        <p>{{item.traffic}}</p>
                        <p>рост трафика</p>
                        <p>{{item.top}}</p>
                        <p>запроса в ТОП-10 Google</p>
                        <p >{{item.year}}</p>
                        <p>года  сотрудничества</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="angle" @click="increase">загрузить еще</div>
        <p class="angle-text">Ответы на Ваши вопросы абсолютно бесплатны</p>
                    <div class="button-cover">
                        <div class="angle2 get-cons2">получить консультацию</div>
                        <div class="modal-cover">
                            <div class="form">
                                <form-contact></form-contact>
                            </div>
                            <div class="form2">
                                <form-policy></form-policy>
                            </div>
                            <div class="form3">
                                <form-thanks></form-thanks>
                            </div>
                        </div>
                    </div>

                    <div class="background-filter"></div>

      

        <BottomCallCard2/>

        <goUp/>

        <Footer/>
  </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>

<script>
var $ = require('jquery');
window.jQuery = $;

import BottomCallCard2 from './other/bottom-callingCard2.vue';
import Footer from './other/footer.vue';
import goUp from './other/goUp.vue';
import formContact from './other/form-contact.vue'
import formPolicy from './other/form-policy.vue'
import formThanks from './other/form-thanks.vue'


export default {
  name: 'portfolio',
  components:{
    BottomCallCard2,
    Footer,
    goUp,
    formContact,
    formPolicy,
    formThanks
  },
  props: {
    // msg: String
  },
    data: function(){
        return{
            number: 4,
            items: [
                { 
                    name: 'Divani.ua',
                    subject: 'SEO',
                    descr: 'Поисковой трафик вырос с 20000 до 122000 посетителей в месяц',
                    img: require('../assets/artesh.png'),
                    people: '120 000',
                    traffic: '600%',
                    top: '32',
                    year: '3',
                },
                { 
                    name: 'Art-esh.ru',
                    subject: 'SMM',
                    descr: 'Удалось добиться увелечения живой клиентской базы и продаж. ',
                    img: require('../assets/artesh.png'),
                    people: '120 000',
                    traffic: '600%',
                    top: '32',
                    year: '3',
                },
                { 
                    name: 'Pilkischool.ru',
                    subject: 'PPC',
                    descr: 'Увеличение количества заявок по направлению «курсы маникюра».',
                    img: require('../assets/artesh.png'),
                    people: '120 000',
                    traffic: '600%',
                    top: '32',
                    year: '3',
                },
                { 
                    name: 'Iwant.travel',
                    subject: 'SMM',
                    descr: 'Продвижение в Instagram для сервиса событийных авторских туров (РФ и СНГ).',
                    img: require('../assets/artesh.png'),
                    people: '120 000',
                    traffic: '600%',
                    top: '32',
                    year: '3',
                },
                { 
                    name: 'OOF',
                    subject: 'SMM',
                    descr: 'Продвижение в Instagram для сервиса событийных авторских туров (РФ и СНГ).',
                    img: require('../assets/artesh.png'),
                    people: '120 000',
                    traffic: '600%',
                    top: '32',
                    year: '3',
                },
                { 
                    name: 'Divani',
                    subject: 'SMM',
                    descr: 'Продвижение в Instagram для сервиса событийных авторских туров (РФ и СНГ).',
                    img: require('../assets/artesh.png'),
                    people: '120 000',
                    traffic: '600%',
                    top: '32',
                    year: '3',
                },
                { 
                    name: 'Name',
                    subject: 'SMM',
                    descr: 'Продвижение в Instagram для сервиса событийных авторских туров (РФ и СНГ).',
                    img: require('../assets/artesh.png'),
                    people: '120 000',
                    traffic: '600%',
                    top: '32',
                    year: '3',
                },
                { 
                    name: 'ART',
                    subject: 'SMM',
                    descr: 'Продвижение в Instagram для сервиса событийных авторских туров (РФ и СНГ).',
                    img: require('../assets/artesh.png'),
                    people: '120 000',
                    traffic: '600%',
                    top: '32',
                    year: '3',
                }
            ]
        }
    },
  mounted: function(){
    window.scrollTo(0, 0)
    $('.header').css('transform', 'translateY(0)')
    
    new TypeIt('.pf', {
        cursor: false,
        waitUntilVisible: true
    })
    .go();

    if ($(window).width() < 767) 
    {
       $('.get-cons2').click(function(){

        var popup1 = new TimelineMax();
        var popup1_1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            // display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top:-100,
            left: "15vw" ,
            height: '60vh',
            width: '70vw',

        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })

        $('form .button').click(function(){
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                width: '70vw',
                left: "15vw" ,
            })
            popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.form2 .button').click(function(){
            popup1.to($(this).parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                width: '70vw',
                height: '20vh',
                // top: -300,
                left: "15vw",
            })
            popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.icon-close').click(function(){
            popup1.reverse(0.6)
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
        })
    })
    }
    else
    {
       $('.get-cons2').click(function(){

        var popup1 = new TimelineMax();
        var popup1_1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            // display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top: -500,
            left: -window.innerWidth / 3 ,
            height: '60vh',
            width: '30vw',

        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })

        $('form .button').click(function(){
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                width: '40vw',
                left: -window.innerWidth / 3 ,
            })
            popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.form2 .button').click(function(){
            popup1.to($(this).parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                width: '25vw',
                height: '20vh',
                // top: -300,
                left: -window.innerWidth / 3.5,
            })
            popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.icon-close').click(function(){
            popup1.reverse(0.6)
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
        })
    })
    }

        

    $('.sub-menu ul').hide();
    $(".sub-menu .filter-name").click(function () {  
        $(".sub-menu ul li").click(function(){

            $(this).parent().parent().find('span').text($(this).text());
            // console.log($(this).parent().parent().find('span').text())
            // $(this).val($(this).text());

            // $(".choose").css('opacity', '1');

        });

        if ($(this).parent(".sub-menu").children("ul").is(":visible")) { 
            $(this).parent(".sub-menu").children("ul").slideUp();

            $(this).parent(".sub-menu").children('.filter-name').css('color', '#8b8b8b')
            
            $(this).find("i").addClass("fa-chevron-down")
            $(this).find("i").removeClass("fa-chevron-up")
        } else {    
            $(".sub-menu ul").slideUp();

            $('.sub-menu i').addClass("fa-chevron-down")
            $('.sub-menu i').removeClass("fa-chevron-up")

            $('.filter-name').css('color', '#8b8b8b')

            $(this).parent(".sub-menu").children("ul").slideToggle("100");
            $(this).parent(".sub-menu").children('.filter-name').css('color', 'black')

            $(this).find("i").addClass("fa-chevron-up")
            $(this).find("i").removeClass("fa-chevron-down")
        }
    });

        $('.Card').hover(function(){
            $(this).find(".shtora").css('transform', 'translateY(0%)')
        }, function(){
            $(this).find(".shtora").css('transform', 'translateY(-100%)')
        })

        window.onwheel = function(e){
            if (e.deltaY > 0){
                $('.header').css('transform', 'translateY(-100%)')
            }
            else
            {
                 $('.header').css('transform', 'translateY(0)')
                    if ( $(window).scrollTop() <= 0 ) {
                      $('.header').css('background-color', 'transparent')
                    }
                    else
                    {
                      $('.header').css('background-color', 'white')
                    }
            }
        };
  },
  computed:{
    currentPage(){
      return this.$route.name
    },  
  },
    methods:{
        goHome() 
        {
            this.$router.push({path:'/'})
        },
        goPortfolio() 
        {
            this.$router.push({path:'/portfolio-open'})
        },
        increase() {
          return this.number += 4
        }
    },
}
</script>

<style scoped>

    .background-filter
    {
        backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: none;
        opacity: 0;
        z-index: 9;
    }

    .button-cover
    {
        display: inline;
        position: relative;
    }

    .modal-cover
    {
        width: 16vw;
        height: 0vh;
        background-color: #6654cb;
        position: absolute;
        top: -2.8vh;
        left: 3.1vw;
        display: none;
        opacity: 0;
    }

    .form, .form2, .form3
    {
        display: none;
        opacity: 0;
        background-color: #6654cb;
        background-image: url('../assets/popup-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .filter
    {
      position: relative;
      width: 45vw;
      z-index: 1;
      margin-left: 15.2vw;
      margin-top: 2%;
    }

    .filter li
    {
      list-style: none;
    }

    .sub-menu
    {
      width: 20%;
      display: inline-block;
    }

    .sub-menu:hover .filter-name i
    {
      color: #ffcd33;
    }

    .sub-menu ul
    {
      background-color: #FFF;
      position: absolute;
      width: 30%;
    }

    .sub-menu ul li
    {
      color: #8b8b8b;
      padding: 10px;
      transition: 0.3s;
      font-family: 'Roboto';
      cursor: pointer;
    }

    .sub-menu ul li:hover
    {
      color: black;
    }

    .filter-name
    {
      cursor: pointer;
      margin-bottom: 0;
      font-family: 'Roboto';
      color: #8b8b8b;
      text-align: right;
      transition: 0.3s;
      font-size: calc(0.5vw + 0.5vh + 0.4vmin);
    }

    .filter-name i
    {
      color: #8b8b8b;
      transition: 0.3s;
    }

    .angle-text
    {
      margin-left: 18%;
      padding-top: 50px;
      font-size: 0.8vw;
      font-family: 'Roboto';
      opacity: 0.6;
    }

    .angle2
    {
      display: inline-block;
      margin: 0;
      position: absolute;
      margin-top: 40px;
      left: 3vw;
      width: 16.1vw;
      background-color: transparent;
      border: 1px solid rgba(102,84,203,0.2);
    }

    .angle
    {
      display: inline-block;
      margin-left: 15.2%;
      width: 14vw;
    }

    .shtora
    {
        position: relative;
        /* left: -7%; */
        height: 100%;
        /* width: 110%; */
        background-color: white;
        transform: translateY(-100%);
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-top: 0.3px solid rgba(0,0,0,0.2);
        transition: 0.5s;
    }

    .shtora p:nth-child(2n+2)
    {
        font-size: 0.5vw;
        position: relative;
        top: 80%;
        transform: translateY(-50%);
        color: #8b8b8b;
        font-family: 'Roboto';
    }

    .shtora p:nth-child(2n+1)
    {
        font-size: 1.4vw;
        position: relative;
        top: 60%;
        transform: translateY(-50%);
        color: #ffcd33;
        text-align: right;
        padding-right: 15px;
        font-family: 'Roboto';
    }

    .naming
    {
        position: relative;
        width: 100%;
        height: 35%;
        background-color: white;
    }

    .rotate{
        height: 65%;
        overflow: hidden;
        background-size: 150%;
        background-position: center 70%;
    }

    .naming h3
    {
        margin-top: 7%;
        margin-left: 10%;
        font-family: "Kepler";
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
    }

    .naming h6
    {
        display: inline-block;
        margin-left: 10px;
        color: #cfcae9;
        font-weight: normal;
        font-family: "Roboto";
        font-size: 10px;
        border: 1px solid #cfcae9;
        padding: 1px 2px;
    }

    .naming p
    {
        margin-top: 2%;
        margin-left: 10%;
        color: #8b8b8b;
        font-weight: normal;
        font-family: "Roboto";
        font-size: 0.8vw;
        width: 80%;
    }

    .Cards
    {
        margin-left: 13.9%;
        padding-top: 2%;
        display: flex;
        width: 70.9%;
        flex-wrap: wrap;
    }

    .Card
    {
        width: 25%;
        height: 35vh;
        padding-left: 2%;
        margin-bottom: 2%;
        position: relative;
        cursor: pointer;
    }
    

    .current
    {
      color: black;
    }

    .fa 
    {
      padding: 0 10px;
    }

    .menu-goback
    {
      position: relative;
      padding-top: 7%;
      padding-left: 15.3%;
      font-family: 'Roboto';
      font-size: 10px;
      cursor: default;
    }

    .menu-goback .to-go
    {
      cursor: pointer;
      transition: 0.3s;
      color: #8b8b8b;
    }

    .menu-goback .to-go:hover
    {
      color: #6654cb;
    }

    .portflio
    {
      background-image: url('../assets/service_bg.png');
      background-size: 100vw;
      background-position: left;
      background-color: #fbfafe;
      /* height: 110vh; */
      width: 100vw; 
      overflow-x: hidden !important;
    } 

    .title
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      position: relative;
      padding-top: 1%;
      padding-left: 15.3%;
      font-weight: normal;
    }

    .pf
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 100px;
        text-transform: uppercase;
        line-height: 150px;
        color: #f2effc;
        position: absolute;
        left: 31%;
        top: 2%;
        pointer-events: none;
    }

    .white-line
    {
        background-color: #fbfafe;
        width: 17.4vw;
        height: 40vh;
        position: absolute;
        left: 15.7%;
    }

    @media only screen and (max-width: 778px) 
    {
      .title h1
      {
        font-size: 30px;
      }

      .filter
      {
        width: 69.5vw;
      }

      .filter-name
      {
        font-size: calc(0.8vw + 0.8vh + 0.8vmin);
        text-align: left;
        width: 200px;
      }

      .sub-menu
      {
        display: block;
        margin: 10px 0;
      }

      .sub-menu ul
      {
        width: 100%;
      }

      .pf
      {
        font-size: 20px;
      }

      .menu-goback
      {
        padding-top: 15%;
      }

      .Card
      {
          width: 100%;
          height: 50vh;
      }

      .angle-text
      {
        display: none;
      }

      .angle, .angle2
      {
        width: 69.5vw;
        font-size: 2.5vw;
        display: block;
        margin-top: 10px;
      }

      .angle2
      {
        left: 15.3vw;
        margin-top: 10px;
      }

      .modal-cover
      {
          width: 70vw;
          height: 7vh;
          background-color: #6654cb;
          position: absolute;
          top: 1.7vh;
          left: 15vw;
      }

  }

</style>
