<template>
  <div class="portflio">
        <h1 class="pf">Отзывы</h1>
        <div class="white-line"></div>

        <div class="menu-goback">
          <p><span class="to-go" @click="goHome()">Главная</span>      <i class="fa fa-chevron-right"></i>      <span class="current">Отзывы</span></p>
        </div>

        <div class="title">
          <h1>Отзывы</h1>
        </div>

        <div class="filter filter-us">
          <ul>
            <li class="active">Все</li>
            <li>Продвижение сайтов</li>
            <li>Контекстная реклама</li>
            <li>Создание сайтов</li>
            <li>SMM</li>
            <li>Таргетированная реклама</li>
          </ul>
        </div>

        <div class="Reviews" v-masonry origin-left="false" transition-duration="1s" item-selector=".item">
            <div v-masonry-tile class="Review item video" >
              <div class="blur blur1"></div>
              <i class="fas fa-play"></i>
              <div class="video-title">
                <h5 class="main-title">Андрей</h5>
                <h5 class="subtitle">Руководитель сети студий ресниц и бровей</h5>
              </div>
            </div>
             <div v-masonry-tile class="Review item" v-for="item in items.slice(0, number) " :key="item.name">
                <div class="bg"></div>
                <div class="naming">
                    <div class="person" :style="{'background-image':'url('+ item.img +')'}"></div>
                    <div class="text-wrap">
                        <h6>{{item.subject}}</h6>
                        <h3>{{item.name}}</h3>
                        <p>{{item.city}}</p>
                    </div>
                </div>
                <div class="descr">
                    <p>{{item.message}}</p>
                </div>
            </div>
        </div>


        <div class="angle" @click="increase">загрузить еще</div>
        <p class="angle-text">Ответы на Ваши вопросы абсолютно бесплатны</p>
                            <div class="button-cover">
                        <div class="angle2 get-cons2">получить консультацию</div>
                        <div class="modal-cover">
                            <div class="form">
                                <form-contact></form-contact>
                            </div>
                            <div class="form2">
                                <form-policy></form-policy>
                            </div>
                            <div class="form3">
                                <form-thanks></form-thanks>
                            </div>
                        </div>
                    </div>
                    

                    <div class="background-filter"></div>

      

        <BottomCallCard2/>

        <goUp/>

        <Footer/>

    <!-- <h1>{{ msg }}</h1> -->
  </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>

<script>
var $ = require('jquery');
window.jQuery = $;

import BottomCallCard2 from './other/bottom-callingCard2.vue';
import Footer from './other/footer.vue';
import goUp from './other/goUp.vue';
import formContact from './other/form-contact.vue'
import formPolicy from './other/form-policy.vue'
import formThanks from './other/form-thanks.vue'


export default {
  name: 'portfolio',
  components:{
    BottomCallCard2,
    Footer,
    goUp,
    formContact,
    formPolicy,
    formThanks
  },
  props: {
    // msg: String
  },
    data: function(){
        return{
            number: 7,
            items: [
                { 
                    name: 'Павел Евдокимов',
                    subject: 'SEO',
                    city: 'Россия, Москва',
                    img: require('../assets/person.png'), 
                    message: 'Мы выбрали We После общения понравились и условия, которые были предложены. В процессе сотрудничества мы также заказывали у партнера услуги по доработкам сайта. В своей работе партнер предоставляет детальный план по продвижению, и на каждом этапе мы вместе формируем обновленную структуру сайта и его контент под список продвигаемых запросов. Все супер! Продолжаем сотрудничество!',
                },
                { 
                    name: 'Павел Евдокимов',
                    subject: 'SMM',
                    city: 'Россия, Москва',
                    img: require('../assets/person.png'),  
                    message: 'Мы выбрали WestWebArt, такботкам сайта.туру сайта и его контент под список продвигаемых запросов. Все супер! Продолжаем сотрудничество!',
                
                },
                { 
                    name: 'Павел Евдокимов',
                    subject: 'PPC',
                    city: 'Россия, Москва',
                    img: require('../assets/person.png'),  
                    message: 'Мы выбрали WestW',
                
                },
                { 
                    name: 'Павел Евдокимов',
                    subject: 'SEO',
                    city: 'Россия, Москва',
                    img: require('../assets/person.png'),  
                    message: 'Мы выбрали WestWebArt, так как для нас важным бсловия, которые были предложены. В процессе сотрудничества мы также заказывали у партнера услуги по доработкам сайта. В своей работе партнер предоставляет детальный план по продвижению, и на каждом этапе мы вместе формируем обновленную структуру сайта и его контент под список продвигаемых запросов. Все супер! Продолжаем сотрудничество!',
                
                },
                { 
                    name: 'Павел Евдокимов',
                    subject: 'SEO',
                    city: 'Россия, Москва',
                    img: require('../assets/person.png'),  
                    message: 'Мы выбрали WestWebArt, так как длявились и условия, которые были предложены. В процессе сотрудничества мы также заказывали у партнера услуги по доработкам сайта. В своей работе партнер предоставляет детальный план по продвижению, и на каждом этапе мы вместе формируем обновленную структуру сайта и его контент под список продвигаемых запросов. Все супер! Продолжаем сотрудничество!',
                
                },
                { 
                    name: 'Павел Евдокимов',
                    subject: 'SEO',
                    city: 'Россия, Москва',
                    img: require('../assets/person.png'),  
                    message: 'тво!',
                
                },
                { 
                    name: 'Павел Евдокимов',
                    subject: 'SEO',
                    city: 'Россия, Москва',
                    img: require('../assets/person.png'),  
                    message: 'ывали у партнера услуги по доработкам сайта. В своей работе партнер предоставляет детальный план по продвижению, и на каждом этапе мы вместе формируем обновленную структуру сайта и его контент под список продвигаемых запросов. Все супер! Продолжаем сотрудничество!',
                
                },
                { 
                    name: 'Павел Евдокимов',
                    subject: 'SEO',
                    city: 'Россия, Москва',
                    img: require('../assets/person.png'),  
                    message: 'Мы выбрали WestWeзаказывали у партнера услуги по доработкам сайта. В своей работе партнер предоставляет детальный план по продвижению, и на каждом этапе мы вместе формируем обновленную структуру сайта и его контент под список продвигаемых запросов. Все супер! Продолжаем сотрудничество!',
                
                },
                { 
                    name: 'Павел Евдокимов',
                    subject: 'SEO',
                    city: 'Россия, Москва',
                    img: require('../assets/person.png'),  
                    message: 'Мы выбрали WestWeзаказывали у партнера услуги по доработкам сайта. В своей работе партнер предоставляет детальный план по продвижению, и на каждом этапе мы вместе формируем обновленную структуру сайта и его контент под список продвигаемых запросов. Все супер! Продолжаем сотрудничество!',
                
                },
                { 
                    name: 'Павел Евдокимов',
                    subject: 'SEO',
                    city: 'Россия, Москва',
                    img: require('../assets/person.png'),  
                    message: 'Мы выбрали WestWeзаказывали у партнера услуги по доработкам сайта. В своей работе партнер предоставляет детальный план по продвижению, и на каждом этапе мы вместе формируем обновленную структуру сайта и его контент под список продвигаемых запросов. Все супер! Продолжаем сотрудничество!',
                
                },
                { 
                    name: 'Павел Евдокимов',
                    subject: 'SEO',
                    city: 'Россия, Москва',
                    img: require('../assets/person.png'),  
                    message: 'Мы выбрали WestWeзаказывали у партнера услуги по доработкам сайта. В своей работе партнер предоставляет детальный план по продвижению, и на каждом этапе мы вместе формируем обновленную структуру сайта и его контент под список продвигаемых запросов. Все супер! Продолжаем сотрудничество!',
                
                }
            ]
        }
    },
  mounted: function(){
    window.scrollTo(0, 0)
    $('.header').css('transform', 'translateY(0)')
    
    new TypeIt('.pf', {
        cursor: false,
        waitUntilVisible: true
    })
    .go();
    if ($(window).width() < 767) 
    {
      $('.get-cons2').click(function(){

        var popup1 = new TimelineMax();
        var popup1_1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            // display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top: -200,
            left: "15vw" ,
            height: '60vh',
            width: '70vw',

        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })

        $('form .button').click(function(){
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                width: '70vw',
                left: "15vw" ,
            })
            popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.form2 .button').click(function(){
            popup1.to($(this).parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                width: '70vw',
                height: '20vh',
                // top: -300,
                left: "15vw",
            })
            popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.icon-close').click(function(){
            popup1.reverse(0.6)
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
        })
    })
    }
    else
    {
      $('.get-cons2').click(function(){

        var popup1 = new TimelineMax();
        var popup1_1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            // display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top: -300,
            left: -window.innerWidth / 3.5 ,
            height: '60vh',
            width: '30vw',

        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })

        $('form .button').click(function(){
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                width: '40vw',
                left: -window.innerWidth / 3 ,
            })
            popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.form2 .button').click(function(){
            popup1.to($(this).parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                width: '25vw',
                height: '20vh',
                // top: -300,
                left: -window.innerWidth / 3.5,
            })
            popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.icon-close').click(function(){
            popup1.reverse(0.6)
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
        })
    })
    }
    
         

    $(".filter-us ul li").click(function () {  
      $(".filter-us ul li").removeClass('active')
      $(this).addClass('active');
    });


        window.onwheel = function(e){
            if (e.deltaY > 0){
                $('.header').css('transform', 'translateY(-100%)')
            }
            else
            {
                 $('.header').css('transform', 'translateY(0)')
                    if ( $(window).scrollTop() <= 0 ) {
                      $('.header').css('background-color', 'transparent')
                    }
                    else
                    {
                      $('.header').css('background-color', 'white')
                    }
            }
        };
  },
  computed:{
    currentPage(){
      return this.$route.name
    },  
  },
    methods:{
        goHome() 
        {
            this.$router.push({path:'/'})
        },
        goPortfolio() 
        {
            this.$router.push({path:'/portfolio-open'})
        },
        increase() {
          return this.number += 5
        }
    },
}
</script>

<style scoped>
     .background-filter
    {
        backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: none;
        opacity: 0;
        z-index: 9;
    }

    .button-cover
    {
        display: inline;
        position: relative;
    }

    .modal-cover
    {
        width: 16vw;
        height: 0vh;
        background-color: #6654cb;
        position: absolute;
        top: -2.8vh;
        left: 3.1vw;
        display: none;
        opacity: 0;
    }

    .form, .form2, .form3
    {
        display: none;
        opacity: 0;
        background-color: #6654cb;
        background-image: url('../assets/popup-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .filter .active
    {
      color: #000;
      opacity: 1 !important;
      border-bottom: #ffcd33 2px solid;
      font-weight: 700;
    }

    .filter
    {
      position: relative;
      padding-left: 14.3%;
      padding-top: 1%;
      font-family: 'Roboto';
      font-size: 1vw;
    }

    .filter ul
    {
      list-style-type: none;
    }

    .filter ul li
    {
      display: inline-block;
      margin: 0 1%;
      padding-bottom: 3px;
      opacity: 0.6;
      cursor: pointer;
      transition: 0.3s;
    }

    .video
    {
      height: 200px;
      background-color: #6654cb !important;
      margin-bottom: 40px;
      cursor: pointer;
    }    
    .video-title
    {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .video-title .main-title
    {
      color: white;
      font-family: 'Roboto';
      font-weight: 700;
      text-align: center;
      font-size: 11px;
      padding-bottom: 2px;
    }

    .video-title .subtitle
    {
      color: white;
      font-size: 10px;
      font-family: 'Roboto';
      font-weight: normal;
      text-align: center;
      padding-bottom: 9px;
    }

    .video:hover .blur
    {
      filter: blur(2px);
    }

    .video:hover i
    {
      color: #efbc1d;
    }

    .blur
    {
      width: 100%;
      height: 100%;
      transition: 0.3s;     
      background-color: #efbc1d;
      background-position: center;
      background-size: cover;
    }

    .video i
    {
      color: white;
      font-size: 40px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;
    }

    .blur1
    {
      background-image: url('../assets/video-person.png');
    }

    .naming
    {
        position: relative;
    }

    .descr
    {
        position: relative;
        left: 7%;
        font-size: 0.8vw;
        font-family: 'Roboto';
        width: 80%;
    }

    .descr p
    {
        overflow: hidden;
        color: #8b8b8b;
    }

    .person
    {
        height: 4vw;
        width: 4vw;
        background-size: 110%;
        background-position: center;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top;
        position: relative;
        left: 3%;
        top: 20%;
        border: #f6f4fd 2px solid;
    }

    .text-wrap
    {
        display: inline-block;
        width: 65%;
        margin-left: 5%;
        /* padding-top: 6%; */
    }

    .naming h3
    {
        font-family: "Kepler";
        font-weight: normal;
        font-size: 12px;
        margin-top: -3px;
    }

    .naming h6
    {
        display: inline-block;
        color: #6654cb;
        font-weight: normal;
        font-family: "Roboto";
        font-size: 8px;
        border: 1px solid #cfcae9;
        padding: 1px 2px;
    }

    .naming p
    {
        color: #8b8b8b;
        font-weight: normal;
        font-family: "Roboto";
        font-size: 10.5px;
        margin-top: -8px;
    }

    .Reviews
    {
        margin-left: 15.3vw;
        padding-top: 2%;
        width: 69.5vw;
    }

    .Review
    {
        width: 33%;
        background-color: white;
        overflow: hidden;
    }


    .angle-text
    {
      margin-left: 18%;
      padding-top: 50px;
      font-size: 0.8vw;
      font-family: 'Roboto';
      opacity: 0.6;
    }

    .angle2
    {
      display: inline-block;
      margin: 0;
      position: absolute;
      margin-top: 40px;
      left: 3vw;
      width: 16.1vw;
      background-color: transparent;
      border: 1px solid rgba(102,84,203,0.2);
    }

    .angle
    {
      display: inline-block;
      margin-left: 15.2%;
      width: 14vw;
    }
    

    .current
    {
      color: black;
    }

    .fa 
    {
      padding: 0 10px;
    }

    .menu-goback
    {
      position: relative;
      padding-top: 7%;
      padding-left: 15.3%;
      font-family: 'Roboto';
      font-size: 10px;
      cursor: default;
    }

    .menu-goback .to-go
    {
      cursor: pointer;
      transition: 0.3s;
      color: #8b8b8b;
    }

    .menu-goback .to-go:hover
    {
      color: #6654cb;
    }

    .portflio
    {
      background-image: url('../assets/team_bg.png');
      background-size: 100vw;
      background-position: left;
      background-color: #fbfafe;
      /* height: 110vh; */
      width: 100vw; 
      overflow-x: hidden !important;
    } 

    .title
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      position: relative;
      padding-top: 1%;
      padding-left: 15.3%;
      font-weight: normal;
    }

    .pf
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 100px;
        text-transform: uppercase;
        line-height: 150px;
        color: #f2effc;
        position: absolute;
        left: 31%;
        top: 2%;
        pointer-events: none;
    }

    .white-line
    {
        background-color: #fff;
        width: 17.4vw;
        height: 40vh;
        position: absolute;
        left: 15.7%;
    }

      @media only screen and (max-width: 778px) 
      {
        .title h1
        {
          font-size: 30px;
        }

        .pf
        {
          font-size: 20px;
        }

        .menu-goback
        {
          padding-top: 15%;
        }

        .angle-text
        {
          display: none;
        }

        .angle, .angle2
        {
          width: 69.5vw;
          font-size: 2.5vw;
          display: block;
          margin-top: 10px;
        }

        .angle2
        {
          left: 15.3vw;
          margin-top: 10px;
        }

        .Review
        {
            width: 100%;
            background-color: white;
            overflow: hidden;
        }

        .person
        {
            height: 14vw;
            width: 14vw;
            left: 3%;
            top: 2vh;
        }

        .filter
        {
          font-size: 4vw;
        }

        .filter ul li
        {
          padding-top: 2%;
        }

        .modal-cover
        {
            width: 70vw;
            height: 7vh;
            background-color: #6654cb;
            position: absolute;
            top: 1.7vh;
            left: 15vw;
        }
    }

</style>
