<template>
  <div class="service-open">
        <h1 class="tm">услуги</h1>
        <div class="white-line"></div>

        <div class="menu-goback">
          <p>
            <span class="to-go" @click="goHome()">Главная</span>      
            <i class="fa fa-chevron-right"></i>      
            <span class="to-go" @click="goServices()">Услуги</span>  
            <i class="fa fa-chevron-right"></i>   
            <span class="current current-open"></span>  
          </p>
        </div>

        <div class="title menu-text">
          <h1>Продвижение в соц сетях</h1>
        </div>

        <div class="social-wrap">
          <div class="social-card">
                  <h4 class="number">01</h4>
                  <h4 class="name">FACEBOOK</h4>
                  <p>Канал для взаимодействия с наиболее платежеспособной и активной аудиторией.</p>
                  <div class="see-arrow">
                    <div class="line"></div>
                    <i class="fa fa-chevron-right"></i>
                  </div>
          </div>
          <div class="social-card">
                  <h4 class="number">02</h4>
                  <h4 class="name">INSTAGRAM</h4>
                  <p>Самый высокий уровень вовлеченности пользователей. Аудитория довольно молодая — основное ядро от 18 до 26 лет.</p>
                  <div class="see-arrow">
                    <div class="line"></div>
                    <i class="fa fa-chevron-right"></i>
                  </div>
          </div>
          <div class="social-card">
                  <h4 class="number">03</h4>
                  <h4 class="name">VKontakte</h4>
                  <p>Позволяет продвигать конкретные товары или услуги, повышать продажи и создавать привлекательный имидж фирмы в глазах ЦА.</p>
                  <div class="see-arrow">
                    <div class="line"></div>
                    <i class="fa fa-chevron-right"></i>
                  </div>
          </div>
          <div class="social-card">


                    <div class="button-cover for-video">
                        
                        <div class="corporate-video get-cons">
                            <div class="play-button">
                                <i class="fas fa-play"></i>
                            </div>
                            <p>Смотреть видео об услуге </p>
                        </div>
                        <div class="modal-cover modal-cover2">
                            <div class="form">
                                <form-video link="https://www.youtube.com/embed/BXh-i3ihfbo?version=3&enablejsapi=1"></form-video>
                            </div>
                        </div>
                    </div>
            <div class="angle">загрузить полный список</div>
          </div>
        </div>

        <div class="text-area">
          <p>Вы замечаете, сколько времени ежедневно проводите в социальных сетях? Какие Ваши цели посещения этих страниц? Согласитесь, что это не только общение с друзьями. Эти ресурсы перестали быть лишь средством развлечения для подростков. Они представляют нам актуальные новости, интересные коммерческие предложения и массу полезной информации в разных тематических направлениях. Поэтому уверенно становятся площадками для эффективного ведения бизнеса. В связи с этим и выделилось отдельное направление среди услуг интернет-маркетинга – SMM (social media marketing). Это одна из наших компетенций, и мы предлагаем Вам рассмотреть пользу такого продвижения для привлечения новых клиентов и большего количества трафика.</p>
          <h1>Что дает раскрутка в соцсетях</h1>
          <p>SMM и SMO-продвижение сайта определяют как дополнительное средство раскрутки бизнеса, но по эффективности результатов оно вполне может конкурировать с рекламой. Согласитесь, что соцсетями сейчас пользуются все – независимо от возрастной категории. Логично, что на этих ресурсах проводит время и Ваша целевая аудитория. Так почему бы не привлечь ее внимание к Вашим товарам или услугам таким способом? Грамотный СММ предполагает регулярное наполнение страниц продающим и полезным познавательным контентом. Яркая живая манера письма, стильные дизайны в одной концепции, конкурсы и интерактивы повысят доверие потенциальных клиентов к Вашему бренду и приведут новых покупателей. К тому же красивые страницы в соцсетях автоматически становятся подтверждением статуса компании.</p>
        </div>

        <div class="includes">
          <h1>СММ-продвижение в себя включает:</h1>
          <div class="includes-reason">
            <div class="reason">
              <p>01</p>
              <h5>Изучение бизнеса клиента и конкурентов, общей ситуации в отрасли</h5>
            </div>
            <div class="reason">
              <p>02</p>
              <h5>Изучение ЦА и ее классификация на основную и дополнительную</h5>
            </div>
            <div class="reason">
              <p>03</p>
              <h5>Разработка стратегии продвижения страниц и составление рубрикатора и контент-плана</h5>
            </div>
            <div class="reason">
              <p>04</p>
              <h5>Подготовка шаблонов для постов, шапок и аватаров в одном корпоративном стиле</h5>
            </div>
            <div class="reason">
              <p>05</p>
              <h5>Ежедневная публикация постов на страницах, привлечение новых подписчиков, проведение опросов, конкурсов</h5>
            </div>
            <div class="reason">
              <p>06</p>
              <h5>Отслеживание статистики и формирование отчетности по полученным результатам</h5>
            </div>
          </div>
        </div>

        <div class="showcase">
          <h1 class="title">МЫ РАБОТАЕМ НА РЕЗУЛЬТАТ</h1>
          <Showcase/>
          <div class="angle" @click="goPortfolio()">Смотреть портфолио</div>
                    <div class="button-cover">
                        <div class="angle2 get-cons2">получить консультацию</div>
                        <div class="modal-cover">
                            <div class="form">
                                <form-contact></form-contact>
                            </div>
                            <div class="form2">
                                <form-policy></form-policy>
                            </div>
                            <div class="form3">
                                <form-thanks></form-thanks>
                            </div>
                        </div>
                    </div>
          <p class="angle-text">Ответы на Ваши вопросы абсолютно бесплатны</p>
        </div>

        <div class="background-filter"></div>

        <BottomCallCard2/>

        <goUp/>

        <Footer/>
  </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>

<script>
var $ = require('jquery');
window.jQuery = $;

import BottomCallCard2 from './other/bottom-callingCard2.vue';
import Footer from './other/footer.vue';
import goUp from './other/goUp.vue';
import Showcase from './other/cards.vue'
import formContact from './other/form-contact.vue'
import formPolicy from './other/form-policy.vue'
import formThanks from './other/form-thanks.vue'
import formVideo from './other/form-video.vue'


export default {
  name: 'team',
  components:{
    BottomCallCard2,
    Footer,
    goUp,
    Showcase,
    formContact,
    formPolicy,
    formThanks,
    formVideo,
  },
  props: {
  },
  mounted: function(){
    window.scrollTo(0, 0)
    $('.header').css('transform', 'translateY(0)')
    
    new TypeIt('.tm', {
        cursor: false,
        waitUntilVisible: true
    })
    .go();

    if ($(window).width() < 767) 
    {
      $('.get-cons').click(function(){

        var popup1 = new TimelineMax();
        var popup1_1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top: -150,
            left: 0,
            height: '34vw',
            width: '69vw',
        });

        popup1.to($('#iframeid'), 0.3, {
            delay: 0.1,
            top: -150,
            left: 0,
            height: '34vw',
            width: '66vw',
        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })
        
        $('.for-video .icon-close').click(function(){
            popup1.reverse(0.6)
            var frame = document.getElementById("iframeid");
            frame.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
            var frame = document.getElementById("iframeid");
            frame.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
        })
     })

     $('.get-cons2').click(function(){

        var popup1 = new TimelineMax();
        var popup1_1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top: -200,
            left: 48,
            height: '60vh',
            width: '70vw',

        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })

        $('form .button').click(function(){
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                width: '70vw',
                left: 40,
            })
            popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.form2 .button').click(function(){
            popup1.to($(this).parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                width: '70vw',
                height: '20vh',
                top: -150,
                left: 40,
            })
            popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.icon-close').click(function(){
            popup1.reverse(0.6)
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
        })
    })
    }
    else{
      $('.get-cons').click(function(){

        var popup1 = new TimelineMax();
        var popup1_1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top: -50,
            left: -window.innerWidth / 2.3,
            height: '315px',
            width: '570px',

        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })
        
        $('.for-video .icon-close').click(function(){
            popup1.reverse(0.6)
            var frame = document.getElementById("iframeid");
            frame.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
            var frame = document.getElementById("iframeid");
            frame.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
        })
     })

     $('.get-cons2').click(function(){

        var popup1 = new TimelineMax();
        var popup1_1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top: -window.innerHeight / 1.7,
            left: window.innerWidth / 3 ,
            height: '60vh',
            width: '30vw',

        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })

        $('form .button').click(function(){
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                width: '40vw',
                left: window.innerWidth / 3.5,
            })
            popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.form2 .button').click(function(){
            popup1.to($(this).parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                width: '25vw',
                height: '20vh',
                top: -300,
                left: window.innerWidth / 2.7,
            })
            popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.icon-close').click(function(){
            popup1.reverse(0.6)
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
        })
    })
    }

     

    $('.current-open').text($('.menu-text').text())

        window.onwheel = function(e){
            if (e.deltaY > 0){
                $('.header').css('transform', 'translateY(-100%)')
            }
            else
            {
                 $('.header').css('transform', 'translateY(0)')
                    if ( $(window).scrollTop() <= 0 ) {
                      $('.header').css('background-color', 'transparent')
                    }
                    else
                    {
                      $('.header').css('background-color', 'white')
                    }
            }
        };
  },
  computed:{
    currentPage(){
      return this.$route.name
    },
  },
    methods:{
        goHome() 
        {
            this.$router.push({path:'/'})
        },
        goServices() 
        {
            this.$router.push({path:'/services'})
        },
        goPortfolio() 
        {
            this.$router.push({path:'/portfolio'})
        },
    },
}
</script>

<style scoped>

    .for-video
    {
      margin-left: 0 !important;
    }

    .background-filter
    {
        backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: none;
        opacity: 0;
        z-index: 9;
    }

    .button-cover
    {
        position: relative;
        display: inline-block;
        margin-left: 2vw;
    }

    .modal-cover
    {
        width: 14vw;
        height: 0vh;
        background-color: #6654cb;
        position: absolute;
        top: 3vh;
        left: 29vw;
        display: none;
        opacity: 0;
    }

    .modal-cover2
    {
        background-color: #ffcd33 !important;
        left: 0;
        top: 0;
        width: 16.6vw;
    }

    .form, .form2, .form3
    {
        display: none;
        opacity: 0;
        background-color: #6654cb;
        background-image: url('../assets/popup-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .modal-cover2 .form
    {
        background-color: #ffcd33 !important;
        border: #ffcd33 5px solid;
        background-image: unset;
        border-bottom:0;
    }

.angle-text
{
      margin-left: 35%;
      display: inline-block;
      vertical-align: top;
      padding-top: 32px;
      font-size: 0.8vw;
      font-family: 'Roboto';
      opacity: 0.6;
      padding-bottom: 60px;
}

.showcase .angle
{
  width: 14vw;
  left: 15.2%;
  margin-top: 20px;
  bottom: unset;
}

.showcase .angle2
{
  left: 29vw;
  margin-top: 20px;
  width: 14vw;
  border: 1px solid rgba(85, 73, 156, 0.2);
  background-color: transparent;
  display: inline-block;
}

.showcase
{
  position: relative;
  left: 2px;
  margin-top: 40px;
  background-color: #fbfafe;
}

.showcase h1
{
  padding-top: 30px;
}

.text-area
{
  width: 69.5vw;
  margin: 0 auto;
  margin-top: 40px;
}

.includes
{
  width: 69.5vw;
  margin: 0 auto;
  margin-top: 40px;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
  background-color: white;
  padding-bottom: 5%;
}

.includes h1
{
  padding-top: 40px;
  padding-left: 5%;
  text-transform: uppercase;
  font-family: 'Kepler';
  font-weight: normal;
  font-size: 25px;
}

.includes-reason
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.includes .reason
{
  height: 200px;
}

.includes .reason p
{
  color: #efbc1d;
  font-size: 100px;
  font-family: 'Kepler';
  text-align: center;
  text-shadow: 12px -12px 0px rgba(85, 73, 156, 0.07);
}

.includes .reason h5
{
  color: #8b8b8b;
  font-size: calc(0.5vw + 0.4vh + 0.3vmin);
  font-family: 'Roboto';
  text-align: center;
  font-weight: normal;
  padding: 0 30px;
}

.text-area p
{
  color: #8b8b8b;
  font-size: 13px;
  font-family: 'Roboto';
  padding-bottom: 20px;
}

.text-area h1
{
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Kepler';
  padding-bottom: 10px;
}

.angle
{
  width: 91%;
  position: absolute;
  bottom: 0;
}
    
.corporate-video
{
    width: 16.6vw;
    height: 40px;
    border: 2px solid #e0ddf5;
    position: absolute;
    cursor: pointer;
    transition: 0.3s;
}

.corporate-video:hover
{
    border: 2px solid #ffcd33;
}


.play-button
{
    border: 1px solid #e0ddf5;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
}

.play-button i
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
    color: #efbc1d;
}

.corporate-video p
{
    position: absolute;
    right: 0;
    top: 45%;
    width: 75%;
    font-size: 0.8vw !important;
    font-family: 'Roboto';
    transform: translateY(-50%);
    color: #55499c !important;
}
    
    .see-arrow
    {
      position: absolute;
      left: 0;
      bottom: 0%;
      width: 20%;
      text-align: right;
      transition: 0.3s;
    }

    .see-arrow i
    {
      color: black;
      padding-right: 20%;
    }

    .line
    {
      height: 2.5px;
      width: 72%;
      background-color: black;
      position: absolute;
      left: 0%;
      top: 50%;
      transition: 0.3s;
      transform: translateY(-50%);
    }

    .social-card:hover .name
    {
      color: #6654cb;
    }

    .social-card:hover .line
    {
      width: 78%;
      background-color: #6654cb;
    }

    .social-card:hover .see-arrow
    {
      width: 40%;
    }

    .social-card:hover .play-button i
    {
      color: #ffcd33 !important;
    }


    .social-card:hover i
    {
      color: #6654cb;
    }

    .social-wrap
    {
      width: 71vw;
      margin-top: 40px;
      position: relative;
      left: 15.3%;
    }

    .social-card
    {
      width: 25%;
      position: relative;
      height: 150px;
      cursor: pointer;
      display: inline-block;
      vertical-align: top;
    }
    
    .social-card h4
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 14px;
        text-transform: uppercase;
    }

    .number
    {
        font-family: 'Roboto' !important;
        color: #efbc1d;
        padding-bottom: 5px;
    }

    .name
    {
      transition: 0.3s;
    }

    .social-card p
    {
        padding-right: 9%;
        padding-top: 2%;
        font-family: 'Roboto';
        font-weight: normal;
        font-size: 11px;
        color: #8b8b8b;
    }

    .social-card:nth-child(2) p,.social-card:nth-child(3) p
    {
        font-size: 10px;
    }

    .current
    {
      color: black;
    }

    .fa 
    {
      padding: 0 10px;
    }

    .menu-goback
    {
      position: relative;
      padding-top: 7%;
      padding-left: 15.3%;
      font-family: 'Roboto';
      font-size: 10px;
      cursor: default;
    }

    .menu-goback .to-go
    {
      cursor: pointer;
      transition: 0.3s;
      color: #8b8b8b;
    }

    .menu-goback .to-go:hover
    {
      color: #6654cb;
    }

    .service-open
    {
      background-image: url('../assets/team_bg.png');
      background-size: 100vw;
      background-position: left;
      /* height: 110vh; */
      width: 100vw; 
      overflow-x: hidden !important;
    } 

    .title
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      position: relative;
      padding-top: 1%;
      padding-left: 15.3%;
      font-weight: normal;
    }

    .tm
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 150px;
        text-transform: uppercase;
        line-height: 150px;
        color: #fbfafe;
        position: absolute;
        left: 31%;
        top: 5%;
        pointer-events: none;
    }

    .white-line
    {
        background-color: #FFF;
        width: 17.4vw;
        height: 40vh;
        position: absolute;
        left: 15.7%;
    }

  @media only screen and (max-width: 778px) 
  {
    .tm
    {
        font-size: 20px;
        display: none;
    }

    .title h1
    {
        font-size: 1.5em;
    }

    .menu-goback
    {
      padding-top: 15%;
    }

    .social-card
    {
      width: 100%;
      margin: 20px 0;
    }

    .corporate-video
    {
        width: 69.5vw;
    }

    .corporate-video p
    {
        font-size: 2.8vw !important;
    }

    .angle
    {
      width: 69.5vw;
      font-size: 2.8vw;
      margin: 0;
    }

    .social-card:nth-child(4)
    {
      height: 120px;
    }

    .text-area h1
    {
      font-size: 25px;
    }
    
    .includes h1
    {
      padding-top: 5%;
      width: 90%;
      font-size: 20px;
    }

    .includes .reason p
    {
      height: 60%;
    }

    .includes .reason h5
    {
      font-size: calc(1vw + 1vh + 0.7vmin);
    }

    .includes-reason
    {
      grid-template-columns: 1fr;
    }

    .showcase h1
    {
      font-size: 20px;
    }

    .angle-text
    {
      display: none;
    }

      .showcase .angle, .showcase .angle2
        {
            width: 40vw !important;
            margin-top: 1vh;
            display:  block;
            margin-left: 1vw;
            font-size: 6px;
        }

        .showcase .angle2
        {
            margin-top: 40%;
            height: unset;
            margin-left: -37%;
        }

        .modal-cover2
        {
          width: 69.5vw;
          height: 0vh;
        }

        .modal-cover
        {
          width: 40vw;
          left: 14vw;
          top: 9vh;
          height: 0vh;
        }
  }

</style>
