<template>
  <div class="services">
        <h1 class="us">услуги</h1>
        <div class="white-line"></div>

        <div class="menu-goback">
          <p><span class="to-go" @click="goHome()">Главная</span>      <i class="fa fa-chevron-right"></i>      <span class="current">Услуги</span></p>
        </div>

        <div class="title">
          <h1>Услуги</h1>
        </div>
        
                    <div class="button-cover">
                        
                        <corporateVideo class="get-cons"/>
                        <div class="modal-cover">
                            <div class="form">
                                <form-video link="https://www.youtube.com/embed/BXh-i3ihfbo?version=3&enablejsapi=1"></form-video>
                            </div>
                        </div>
                    </div>

        <div class="service-block">
          <div class="item draw" @click="goServiceOpen()">
             <div class="icon icon1"></div>
                <h4>Продвижение сайтов</h4>
                <p>Мы занимаемся результативным продвижением сайтов в Яндекс и Google.</p>
                <div class="see-arrow">
                  <div class="line"></div>
                  <i class="fa fa-chevron-right"></i>
                </div>
                <div class="price">от 499 $</div>
          </div>
          <div class="item draw" @click="goServiceOpen()">
             <div class="icon icon2"></div>
                <h4>Продвижение в соц сетях</h4>
                <p>Мы умеем привлекать трафик или внимание к бренду/продукту через социальные платформы.</p>
                <div class="see-arrow">
                  <div class="line"></div>
                  <i class="fa fa-chevron-right"></i>
                </div>
                <div class="price">от 299 $</div>
          </div>
          <div class="item draw" @click="goServiceOpen()">
             <div class="icon icon3"></div>
                <h4>Контекстная реклама</h4>
                <p>Размещение объявлений сайта вашей компании в результатах поиска Google и Yandex.</p>
                <div class="see-arrow">
                  <div class="line"></div>
                  <i class="fa fa-chevron-right"></i>
                </div>
                <div class="price">от 100 $</div>
          </div>
          <div class="item draw" @click="goServiceOpen()">
             <div class="icon icon4"></div>
                <h4>Продвижение сайтов</h4>
                <p>Размещение объявлений сайта вашей компании в результатах поиска Google и Yandex.</p>
                <div class="see-arrow">
                  <div class="line"></div>
                  <i class="fa fa-chevron-right"></i>
                </div>
                <div class="price">от 249 $</div>
          </div>
          <div class="item draw" @click="goServiceOpen()">
             <div class="icon icon5"></div>
                 <h4>Таргетированная реклама</h4>
                <p>Привлекаем внимание покупателей методом продвижения компанией своих товаров или услуг через социальные сети.</p>
                <div class="see-arrow">
                  <div class="line"></div>
                  <i class="fa fa-chevron-right"></i>
                </div>
                <div class="price">от 249 $</div>
          </div>
          <div class="item draw" @click="goServiceOpen()">
             <div class="icon icon6"></div>
                <h4>Создание и разработка сайтов</h4>
                <p>Мы создаём работающие сайты, интернет-магазины и web-сервисы. Вам понравится и захочется еще!</p>
                <div class="see-arrow">
                  <div class="line"></div>
                  <i class="fa fa-chevron-right"></i>
                </div>
                <div class="price">от 1500 $</div>
          </div>
        </div>
        
        <div class="background-filter"></div>

        <BottomCallCard2/>

        <goUp/>

        <Footer/>

    <!-- <h1>{{ msg }}</h1> -->
  </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>

<script>
var $ = require('jquery');
window.jQuery = $;

import BottomCallCard2 from './other/bottom-callingCard2.vue';
import Footer from './other/footer.vue';
import goUp from './other/goUp.vue';
import corporateVideo from './other/corporateVideo.vue';
import formVideo from './other/form-video.vue'


export default {
  name: 'services',
  components:{
    BottomCallCard2,
    Footer,
    corporateVideo,
    goUp,
    formVideo,
  },
  props: {
    // msg: String
  },
  mounted: function(){
    window.scrollTo(0, 0)
    // $('.header').css('transform', 'translateY(0)') 
    
    new TypeIt('.us', {
        cursor: false,
        waitUntilVisible: true
    })
    .go();

    if ($(window).width() < 767) 
    {
       $('.get-cons').click(function(){

        var popup1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top: 200,
            left: "15vw",
            height: '34.5vw',
            width: '69vw',
        });

        popup1.to("#iframeid", 0.3, {
            delay: 0.1,
            top: 100,
            height: '34.5vw',
            width: '66vw',
        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })

        $('.icon-close').click(function(){
            popup1.reverse(0.6)
            var frame = document.getElementById("iframeid");
            frame.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
            var frame = document.getElementById("iframeid");
            frame.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
        })
    })
    }
    else{
      $('.get-cons').click(function(){

        var popup1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top: 100,
            left: window.innerWidth / 3.4,
            height: '315px',
            width: '570px',

        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })

        $('.icon-close').click(function(){
            popup1.reverse(0.6)
            var frame = document.getElementById("iframeid");
            frame.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
            var frame = document.getElementById("iframeid");
            frame.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
        })
    })
    }
  },
  computed:{
    currentPage(){
      return this.$route.name
    },
  },
    methods:{
        goServiceOpen()
        {
          this.$router.push({path:'/services-open'})
        },
        goHome() 
        {
            this.$router.push({path:'/'})
        }
    },
}
</script>

<style scoped>

    .background-filter
    {
        backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: none;
        opacity: 0;
        z-index: 10;
    }

    .modal-cover
    {
        width: 16.2vw;
        height: 5.7vh;
        background-color: #ffcd33;
        position: absolute;
        top: 10vw;
        left: 68.6vw;
        display: none;
        opacity: 0;
    }

    .form
    {
        display: none;
        opacity: 0;
        background-color: #ffcd33;
        border: 5px solid #ffcd33;
        border-bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .see-arrow
    {
      position: absolute;
      right: 0;
      bottom: 10%;
      width: 50%;
      text-align: right;
    }

    .see-arrow i
    {
      color: black;
      padding-right: 20%;
    }

    .line
    {
      height: 2.5px;
      width: 35px;
      background-color: black;
      position: absolute;
      right: 22%;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.3s;
    }

    .price
    {
      font-family: 'Kepler';
      font-weight: normal;
      font-size: 0.9vw;
      position: absolute;
      left: 10%;
      bottom: 10%;
      width: 50%;
      color: #6654cb;
    }

    .item .icon
    {
        width: 100%;
        height: 30%;
        background-position: 10% center;
        background-repeat: no-repeat;
        background-size: 15%;
    }

    .item h4
    {
        padding-left: 9%;
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 1vw;
        text-transform: uppercase;
    }

    .item p
    {
        padding-left: 9%;
        padding-right: 9%;
        padding-top: 2%;
        font-family: 'Roboto';
        font-weight: normal;
        font-size: calc(0.5vw + 0.5vh + 0.4vmin);
        color: #8b8b8b;
    }

    .item .icon1
    {
        background-image: url('../assets/prodizhenie.svg');
    }

    .item .icon2
    {
        background-image: url('../assets/prodvizhenie-social-media.svg');
    }

    .item .icon3
    {
        background-image: url('../assets/copyrighting.svg');
    }

    .item .icon4
    {
        background-image: url('../assets/advertising.svg');
    }

    .item .icon5
    {
        background-image: url('../assets/target.svg');
    }

    .item .icon6
    {
        background-image: url('../assets/paint.svg');
    }

    .item:hover .line
    {
      width: 55px;
      background-color: #6654cb;
    }

    .item:hover i
    {
      color: #6654cb;
    }
    
    .service-block
    {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      width: 69.5vw;
      margin:  0 auto;
      position: relative;
      margin-top: 40px;
      cursor: pointer;
    }

    .service-block .item
    {
      height: calc(69.5vw / 3);
      background-color: #FFF;
    }

    .current
    {
      color: black;
    }

    .fa 
    {
      padding: 0 10px;
    }

    .menu-goback
    {
      position: relative;
      padding-top: 7%;
      padding-left: 15.3%;
      font-family: 'Roboto';
      font-size: 10px;
      cursor: default;
    }

    .menu-goback .to-go
    {
      cursor: pointer;
      transition: 0.3s;
      color: #8b8b8b;
    }

    .menu-goback .to-go:hover
    {
      color: #6654cb;
    }

    .services
    {
      background-image: url('../assets/service_bg.png');
      background-size: 100vw;
      background-position: left;
      /* height: 110vh; */
      width: 100vw; 
      overflow-x: hidden !important;
    } 

    .title
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      position: relative;
      padding-top: 1%;
      padding-left: 15.3%;
      font-weight: normal;
    }

    .us
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 140px;
        text-transform: uppercase;
        line-height: 150px;
        color: #f6f4fd;
        position: absolute;
        left: 31%;
        top: 10%;
        pointer-events: none;
    }

    .white-line
    {
        background-color: #fbfafe;
        width: 17.4vw;
        height: 40vh;
        position: absolute;
        left: 15.7%;
    }

    @media only screen and (max-width: 778px) 
    {
        .menu-goback
        {
          padding-top: 15%;
        }

        .item h4
        {
            font-size: 2.5vw;
        }

        .us
        {
            font-size: 20px;
            display: none;
        }

        .service-block
        {
          padding-top: 7%;
          grid-template-columns: 1fr;
          grid-row-gap: 20px;
        }

        .service-block .item
        {
          height: calc(69.5vw);
        }

        .item p
        {
          font-size: calc(1vw + 0.8vh + 0.7vmin);
        }

        .get-cons
        {
          margin-top: -12%;
        }

        .modal-cover
        {
            width: 69.5vw;
            height: 0px;
            background-color: #ffcd33;
            position: absolute;
            top: 132px;
            left: 15.2vw;
            display: none;
            opacity: 0;
        }

    }

</style>
