@font-face {
    font-family: Kepler; 
    src: url("../assets/Fonts/Kepler296.otf"); 
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto; 
    src: url("../assets/Fonts/Roboto-Regular.ttf"); 
    font-display: swap;
}

body, html
{
    max-width: 100vw;
    overflow-x: hidden;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    outline: none;
}

#fp-nav
{
    z-index: 1 !important;
    top: 40% !important;
    right: 50px !important;
}

#fp-nav ul li a span
{
  background: #a792e6 !important;
  opacity: 0.2;
  width: 6px !important;
  height: 6px !important;
  border-radius: 0% !important;
}

#fp-nav ul li a.active span
{
    background: #ffcd33 !important;
    width: 6px !important;
    opacity: 1;
    height: 6px !important;
    margin: -2px 0 0 -2px !important;
}

.active
{
    font-weight: normal;
}

.draw {
    position: relative;
    transition: 0.25s;
}

.draw::before, .draw::after {        
    box-sizing: inherit;
    content: '';
    position: absolute;
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
.draw::before {
    top: 0;
    left: 0;
}
.draw::after {
    bottom: 0;
    right: 0;
}
.draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
}
.draw:hover::before {
    border-top-color: #ffcd33;
    border-right-color: #ffcd33;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
    border-bottom-color: #ffcd33;
    border-left-color: #ffcd33;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

    .angle, .angle2
    {
        text-align: center;
        padding: 1em;
        background-color: #ffcd33;
        width: 10vw;
        font-size: 0.7vw;
        text-transform: uppercase;
        margin-top: 40px;
        cursor: pointer;
        transition: 0.3s;
        z-index: 0;
        overflow: hidden;
        position:relative;
        font-family: 'Kepler';
    }

    .angle-text
    {
      margin-left: 2%;
      display: inline-block;
      vertical-align: top;
      padding-top: 32px;
      font-size: 0.8vw;
      font-family: 'Roboto';
      opacity: 0.6;
    }

    .angle::before
    {
        content: "";
        position: absolute;
        top: calc(100% - 38px);
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 38px;
        transition: all 0.3s cubic-bezier(0, .25, .5, 1);
        background-color: #efbc1d;
        transform: skewX(-35deg) translateX(-155%) scale(1.5);
    }

    .angle:hover::before,
    .angle:active::before
    {
        transform: skewX(-35deg) translateX(-0%) scale(1.5);
    }

    .fa-chevron-left, .fa-chevron-right
    {
      color: #ffcd33;
    }

    @media only screen and (max-width: 778px) 
    {
        #fp-nav
        {
            z-index: 1 !important;
            top: 50% !important;
            right: 20px !important;
        }

        .angle, .angle2
        {
            padding: 12px;
        }
        
    }

    
