<template>
  <div class="team">
        <h1 class="tm">команда</h1>
        <div class="white-line"></div>

        <div class="menu-goback">
          <p><span class="to-go" @click="goHome()">Главная</span>      <i class="fa fa-chevron-right"></i>      <span class="current">Команда</span></p>
        </div>

        <div class="title">
          <h1>наша команда</h1>
        </div>

                  <div class="button-cover">
                        
                        <corporateVideo class="get-cons"/>
                        <div class="modal-cover">
                            <div class="form">
                                <form-video link="https://www.youtube.com/embed/BXh-i3ihfbo?version=3&enablejsapi=1"></form-video>
                                <!--!!!!!!!!!!!!!!!!!!! need a ?version=3&enablejsapi=1 to stop a video on close!!!!!!!!!!!!!!!!!-->
                            </div>
                        </div>
                    </div>

        <div class="background-filter"></div>
        

        <Team></Team>

        <BottomCallCard/>

        <goUp/>

        <Footer/>

    <!-- <h1>{{ msg }}</h1> -->
  </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>

<script>
var $ = require('jquery');
window.jQuery = $;

import Team from './other/team.vue';
import BottomCallCard from './other/bottom-callingCard.vue';
import Footer from './other/footer.vue';
import goUp from './other/goUp.vue';
import corporateVideo from './other/corporateVideo.vue';
import formVideo from './other/form-video.vue'


export default {
  name: 'team',
  components:{
    Team,
    BottomCallCard,
    Footer,
    goUp,
    corporateVideo,
    formVideo,
  },
  props: {
    // msg: String
  },
  mounted: function(){
    window.scrollTo(0, 0)
    $('.header').css('transform', 'translateY(0)')
    
    new TypeIt('.tm', {
        cursor: false,
        waitUntilVisible: true
    })
    .go();

    if ($(window).width() < 767) 
    {
      $('.get-cons').click(function(){

        var popup1 = new TimelineMax();
        var popup1_1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top: 200,
            left: "15vw",
            height: '34.5vw',
            width: '69.5vw',
        });

        popup1.to("#iframeid", 0.3, {
            delay: 0.1,
            top: 100,
            height: '34.5vw',
            width: '66vw',
        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })

        $('.icon-close').click(function(){
            popup1.reverse(0.6)
            var frame = document.getElementById("iframeid");
            frame.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
            var frame = document.getElementById("iframeid");
            frame.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
        })
    })

    }
    else
    {
        window.onwheel = function(e){
            if (e.deltaY > 0){
                $('.header').css('transform', 'translateY(-100%)')
            }
            else
            {
                 $('.header').css('transform', 'translateY(0)')
                    if ( $(window).scrollTop() <= 0 ) {
                      $('.header').css('background-color', 'transparent')
                    }
                    else
                    {
                      $('.header').css('background-color', 'white')
                    }
            }
        };

      $('.get-cons').click(function(){

          var popup1 = new TimelineMax();
          var popup1_1 = new TimelineMax();
          popup1.to($(this).next(),0.1,{
              display: 'block',
              opacity: 1,
              zIndex: 100,
          })

          popup1.to($(this), 0.1,{
              display: 'block',
              opacity: 0,
          })

          popup1.to('.background-filter', 0.2,{
              display: 'block',
              opacity: 1,
          })

          popup1.to($(this).next(), 0.3, {
              delay: 0.1,
              top: 100,
              left: window.innerWidth / 3.4,
              height: '315px',
              width: '570px',

          });

          popup1.to($(this).next().find('.form'), 0.2,{
              display: 'block',
              opacity: 1,
          })

          $('.icon-close').click(function(){
              popup1.reverse(0.6)
              var frame = document.getElementById("iframeid");
              frame.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
          })
          $('.background-filter').click(function(){
              popup1.reverse(0.6)
              var frame = document.getElementById("iframeid");
              frame.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
          })
      })

    }
  },
  computed:{
    currentPage(){
      return this.$route.name
    },
  },
    methods:{
        goHome() 
        {
            this.$router.push({path:'/'})
        }
    },
}
</script>

<style scoped>
    
    .background-filter
    {
        backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: none;
        opacity: 0;
        z-index: 10;
    }

    .modal-cover
    {
        width: 16.2vw;
        height: 0vh;
        background-color: #ffcd33;
        position: absolute;
        top: 10vw;
        left: 68.6vw;
        display: none;
        opacity: 0;
    }

    .form
    {
        display: none;
        opacity: 0;
        background-color: #ffcd33;
        border: 5px solid #ffcd33;
        border-bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .current
    {
      color: black;
    }

    .fa 
    {
      padding: 0 10px;
    }

    .menu-goback
    {
      position: relative;
      padding-top: 7%;
      padding-left: 15.3%;
      font-family: 'Roboto';
      font-size: 10px;
      cursor: default;
    }

    .menu-goback .to-go
    {
      cursor: pointer;
      transition: 0.3s;
      color: #8b8b8b;
    }

    .menu-goback .to-go:hover
    {
      color: #6654cb;
    }

    .team
    {
      background-image: url('../assets/team_bg.png');
      background-size: 100vw;
      background-position: left;
      /* height: 110vh; */
      width: 100vw; 
      overflow-x: hidden !important;
    } 

    .title
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      position: relative;
      padding-top: 1%;
      padding-left: 15.3%;
      font-weight: normal;
    }

    .tm
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 110px;
        text-transform: uppercase;
        line-height: 150px;
        color: #fbfafe;
        position: absolute;
        left: 31%;
        top: 2%;
        pointer-events: none;
    }

    .white-line
    {
        background-color: #FFF;
        width: 17.4vw;
        height: 40vh;
        position: absolute;
        left: 15.7%;
    }

    @media only screen and (max-width: 778px) 
    {
        .menu-goback
        {
          padding-top: 15%;
        }

        .tm
        {
            font-size: 8px;
            display: none;
        }

        .modal-cover
        {
            height: 0px;
        }
    }

</style>
