<template>
  <div class="Work">
        <h1 class="pf">Вакансии</h1>
        <div class="white-line"></div>

        <div class="menu-goback">
          <p><span class="to-go" @click="goHome()">Главная</span>      <i class="fa fa-chevron-right"></i>      <span class="current">Вакансии</span></p>
        </div>

        <div class="title">
          <h1>открытые вакансии</h1>
        </div>

        <div class="service-block">
          <div class="item draw" @click="goWorkOpen()">
             <div class="icon icon1"></div>
                <h4>Интернет-маркетолог</h4>
                <p>— Выполнение работ по внутренней и внешней оптимизации сайтов;<br/>— Настройка, запуск и ведение контекстной рекламы в Яндекс Директ и GoogleAdwords.</p>
                <div class="see-arrow">
                  <div class="line"></div>
                  <i class="fa fa-chevron-right"></i>
                </div>
          </div>
          <div class="item draw" @click="goWorkOpen()">
             <div class="icon icon2"></div>
                <h4>Контент-менеджер, администратор сайтов, оператор ПК</h4>
                <p>— Перенос текстовых данных с XLS и DOC файлов на сайт</p>
                <div class="see-arrow">
                  <div class="line"></div>
                  <i class="fa fa-chevron-right"></i>
                </div>
          </div>
          <div class="item draw" @click="goWorkOpen()">
             <div class="icon icon3"></div>
                <h4>Менеджер, помощник <br/> руководителя, администратор</h4>
                <p>— Работа с сайтом компании;<br/>— Сортировка входящих обращений</p>
                <div class="see-arrow">
                  <div class="line"></div>
                  <i class="fa fa-chevron-right"></i>
                </div>
          </div>
          <div class="item draw" @click="goWorkOpen()">
             <div class="icon icon4"></div>
                <h4>Копирайтер, помощник редактора </h4>
                <p>— Написание уникальных текстов для сайтов разных тематик.</p>
                <div class="see-arrow">
                  <div class="line"></div>
                  <i class="fa fa-chevron-right"></i>
                </div>
          </div>
        </div>

        <goUp/>

        <Footer/>

    <!-- <h1>{{ msg }}</h1> -->
  </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>

<script>
var $ = require('jquery');
window.jQuery = $;

import Footer from './other/footer.vue';
import goUp from './other/goUp.vue';


export default {
  name: 'work',
  components:{
    Footer,
    goUp,
  },
  props: {
    // msg: String
  },
  mounted: function(){
    window.scrollTo(0, 0)
    $('.header').css('transform', 'translateY(0)')
    
    new TypeIt('.pf', {
        cursor: false,
        waitUntilVisible: true
    })
    .go();


        window.onwheel = function(e){
            if (e.deltaY > 0){
                $('.header').css('transform', 'translateY(-100%)')
            }
            else
            {
                 $('.header').css('transform', 'translateY(0)')
                    if ( $(window).scrollTop() <= 0 ) {
                      $('.header').css('background-color', 'transparent')
                    }
                    else
                    {
                      $('.header').css('background-color', 'white')
                    }
            }
        };
  },
  computed:{
    currentPage(){
      return this.$route.name
    },  
  },
    methods:{
        goHome() 
        {
            this.$router.push({path:'/'})
        },
        goWorkOpen() 
        {
            this.$router.push({path:'/work-open'})
        }
    },
}
</script>

<style scoped>
     .see-arrow
    {
      position: absolute;
      right: 0;
      bottom: 10%;
      width: 50%;
      text-align: right;
    }

    .see-arrow i
    {
      color: black;
      padding-right: 20%;
    }

    .line
    {
      height: 2.5px;
      width: 35px;
      background-color: black;
      position: absolute;
      right: 22%;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.3s;
    }

    .item .icon
    {
        width: 100%;
        height: 30%;
        background-position: 10% center;
        background-repeat: no-repeat;
        background-size: 15%;
    }

    .item h4
    {
        padding-left: 9%;
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 25px;
    }

    .item p
    {
        padding-left: 9%;
        padding-right: 9%;
        padding-top: 2%;
        line-height: 27px;
        font-family: 'Roboto';
        font-weight: normal;
        font-size: calc(0.9vw + 0.1vh);
        color: #8b8b8b;
    }

    .item .icon1
    {
        background-image: url('../assets/prodizhenie.svg');
    }

    .item .icon2
    {
        background-image: url('../assets/advertising.svg');
    }

    .item .icon3
    {
        background-image: url('../assets/management.svg');
    }

    .item .icon4
    {
        background-image: url('../assets/copyrighting.svg');
    }

    .item:hover .line
    {
      width: 55px;
      background-color: #6654cb;
    }

    .item:hover i
    {
      color: #6654cb;
    }
    
    .service-block
    {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      width: 69.5vw;
      margin:  0 auto;
      position: relative;
      margin-top: 40px;
      cursor: pointer;
      margin-bottom: 5%;
    }

    .service-block .item
    {
      height: calc(69.5vw / 3);
      background-color: #FFF;
    }

    .angle-text
    {
      margin-left: 18%;
      padding-top: 50px;
      font-size: 0.8vw;
      font-family: 'Roboto';
      opacity: 0.6;
    }

    .angle2
    {
      display: inline-block;
      margin: 0;
      position: absolute;
      margin-top: 40px;
      left: 68.6vw;
      width: 16.1vw;
      background-color: transparent;
      border: 1px solid rgba(102,84,203,0.2);
    }

    .angle
    {
      display: inline-block;
      margin-left: 15.2%;
      width: 14vw;
    }
    

    .current
    {
      color: black;
    }

    .fa 
    {
      padding: 0 10px;
    }

    .menu-goback
    {
      position: relative;
      padding-top: 7%;
      padding-left: 15.3%;
      font-family: 'Roboto';
      font-size: 10px;
      cursor: default;
    }

    .menu-goback .to-go
    {
      cursor: pointer;
      transition: 0.3s;
      color: #8b8b8b;
    }

    .menu-goback .to-go:hover
    {
      color: #6654cb;
    }

    .portflio
    {
      background-image: url('../assets/service_bg.png');
      background-size: 100vw;
      background-position: left;
      background-color: #fbfafe;
      /* height: 110vh; */
      width: 100vw; 
      overflow-x: hidden !important;
    } 

    .title
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      position: relative;
      padding-top: 1%;
      padding-left: 15.3%;
      font-weight: normal;
    }

    .pf
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 100px;
        text-transform: uppercase;
        line-height: 150px;
        color: #f2effc;
        position: absolute;
        left: 32%;
        top: 2%;
        pointer-events: none;
    }

    .white-line
    {
        background-color: #ffffff;
        width: 17.4vw;
        height: 40vh;
        position: absolute;
        left: 15.7%;
    }

    
    @media only screen and (max-width: 778px) 
    {
        .menu-goback
        {
          padding-top: 15%;
        }

        .pf
        {
            font-size: 20px;
        }

        .service-block
        {
          padding-top: 7%;
          grid-template-columns: 1fr;
          grid-row-gap: 20px;
        }

        .service-block .item
        {
          height: calc(69.5vw);
        }

        .item p
        {
          font-size: calc(1vw + 0.8vh + 0.7vmin);
          line-height: 15px;
          padding-top: 0;
        }

        .item h4
        {
          margin: 0;
        }


        .get-cons
        {
          margin-top: -14.5%;
        }

    }

</style>
