<template>
  <div class="work-open">
        <h1 class="tm">Вакансии</h1>
        <div class="white-line"></div>

        <div class="menu-goback">
          <p>
            <span class="to-go" @click="goHome()">Главная</span>      
            <i class="fa fa-chevron-right"></i>      
            <span class="to-go" @click="goWork()">Вакансии</span>  
            <i class="fa fa-chevron-right"></i>   
            <span class="current current-open"></span>  
          </p>
        </div>

        <div class="title menu-text">
          <h1>Контент-менеджер, администратор сайтов, оператор ПК</h1>
        </div>

        <div class="req">
          <div class="req-item">
            <div class="subtitle">
              <div class="rectangle"></div>
              <h2>Требования:</h2>
            </div>
            <ul>
              <li>Компьютерная грамотность (умение работать в Word, Excel)</li>
              <li>Базовые знания HTML/CSS — (Желательно)</li>
              <li>Базовые знания графических редакторов — (Желательно)</li>
              <li>Слепой набор — (Желательно)</li>
              <li>Умение работать с большими объемами информации</li>
              <li>Интернет на уровне продвинутого пользователя</li>
              <li>Быстрый поиск нужной информации</li>
            </ul>
          </div>
          <div class="req-item">
            <div class="subtitle">
              <div class="rectangle"></div>
              <h2>Обязанности:</h2>
            </div>
            <ul>
              <li>Перенос текстовых данных с XLS и DOC файлов на сайт</li>
              <li>Поиск и размещение соответствующих картинок на страницах сайта</li>
            </ul>
          </div>
          <div class="req-item">
            <div class="subtitle">
              <div class="rectangle"></div>
              <h2>Личные качества:</h2>
            </div>
            <ul>
              <li>Обучаемость и оперативность;</li>
              <li>Умение быть «частью команды»</li>
              <li>Логика, мышление, внимательность, усидчивость</li>
              <li>Отсутствие вредной привычки — курение — (Желательно)</li>
            </ul>
          </div>
          <div class="req-item">
            <div class="subtitle">
              <div class="rectangle"></div>
              <h2>Условия работы:</h2>
            </div>
            <ul>
              <li>Рабочий график: с 9:00 до 18:00, пятидневная рабочая неделя</li>
              <li>Работа в офисе в центре города</li>
              <li>Испытательный срок — 1 неделя (оплачиваемый, 50 грн / день)</li>
              <li>Зарплата: 5000 грн./мес. + бонусы за продуктивность</li>
            </ul>
          </div>
        </div>

        <hr>
        
        <div class="pre-footer">
          <h3>Даже если не уверены на 100% в том, что нам подходите, оставьте резюме — мы его рассмотрим и свяжемся в случае необходимости.</h3>
                    <div class="button-cover getconwork">
                        <div class="angle get-cons13">откликнуться</div>
                        <div class="modal-cover">
                            <div class="form">
                                <form-work></form-work>
                            </div>
                            <div class="form2">
                                <form-policy></form-policy>
                            </div>
                            <div class="form3">
                                <form-thanks></form-thanks>
                            </div>
                        </div>
                    </div>
        </div>

        <goUp/>

        <Footer/>
        <div class="background-filter"></div>
  </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.3/dist/typeit.min.js"></script>

<script>
var $ = require('jquery');
window.jQuery = $;

import BottomCallCard2 from './other/bottom-callingCard2.vue';
import Footer from './other/footer.vue';
import goUp from './other/goUp.vue';
import Showcase from './other/cards.vue'
import formWork from './other/form-work.vue'
import formPolicy from './other/form-policy.vue'
import formThanks from './other/form-thanks.vue'


export default {
  name: 'work-open',
  components:{
    BottomCallCard2,
    Footer,
    goUp,
    Showcase,
    formWork,
    formPolicy,
    formThanks
  },
  props: {
  },
  mounted: function(){
    window.scrollTo(0, 0)
    $('.header').css('transform', 'translateY(0)')
    
    new TypeIt('.tm', {
        cursor: false,
        waitUntilVisible: true
    })
    .go();

    if ($(window).width() < 767) 
    {
      $('.get-cons13').click(function(){

        var popup1 = new TimelineMax();
        var popup1_1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top: -200,
            left: 0,
            height: '60vh',
            width: '70vw',

        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })

        $('form .button').click(function(){
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                width: '70vw',
                left: -5,
            })
            popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.form2 .button').click(function(){
            popup1.to($(this).parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                width: '75vw',
                height: '20vh',
                top: -200,
                left: -5,
            })
            popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.getconwork .icon-close').click(function(){
            popup1.reverse(0.6)
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
        })
    })
    }
    else
    {
      $('.get-cons13').click(function(){

        var popup1 = new TimelineMax();
        var popup1_1 = new TimelineMax();
        popup1.to($(this).next(),0.1,{
            display: 'block',
            opacity: 1,
            zIndex: 100,
        })

        popup1.to($(this), 0.1,{
            display: 'block',
            opacity: 0,
        })

        popup1.to('.background-filter', 0.2,{
            display: 'block',
            opacity: 1,
        })

        popup1.to($(this).next(), 0.3, {
            delay: 0.1,
            top: -400,
            left: -window.innerWidth / 3,
            height: '60vh',
            width: '30vw',

        });

        popup1.to($(this).next().find('.form'), 0.2,{
            display: 'block',
            opacity: 1,
        })

        $('form .button').click(function(){
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent().parent(), 0.2,{
                width: '40vw',
                left: -window.innerWidth / 2.6,
            })
            popup1.to($(this).parent().parent().parent().parent().parent().find('.form2'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.form2 .button').click(function(){
            popup1.to($(this).parent().parent().parent(), 0.2,{
                display: 'none',
                opacity: 0,
            })
            popup1.to($(this).parent().parent().parent().parent(), 0.2,{
                width: '25vw',
                height: '20vh',
                top: -200,
                left: -window.innerWidth / 3.3,
            })
            popup1.to($(this).parent().parent().parent().parent().find('.form3'), 0.2,{
                display: 'block',
                opacity: 1,
            })
        })

        $('.getconwork .icon-close').click(function(){
            popup1.reverse(0.6)
        })
         $('.background-filter').click(function(){
            popup1.reverse(0.6)
        })
    })
    }

        

    $('.current-open').text($('.menu-text').text())

        window.onwheel = function(e){
            if (e.deltaY > 0){
                $('.header').css('transform', 'translateY(-100%)')
            }
            else
            {
                 $('.header').css('transform', 'translateY(0)')
                    if ( $(window).scrollTop() <= 0 ) {
                      $('.header').css('background-color', 'transparent')
                    }
                    else
                    {
                      $('.header').css('background-color', 'white')
                    }
            }
        };
  },
  computed:{
    currentPage(){
      return this.$route.name
    },
  },
    methods:{
        goHome() 
        {
            this.$router.push({path:'/'})
        },
        goWork() 
        {
            this.$router.push({path:'/work'})
        }
    },
}
</script>

<style scoped>
    .background-filter
    {
        backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: none;
        opacity: 0;
        z-index: 9;
    }

    .button-cover
    {
        position: relative;
        display: inline-block;
        /* left: 1.2vw; */
    }

    .button-cover .angle
    {
      width: 16.1vw;
    }

    .modal-cover
    {
        width: 16.1vw;
        height: 0vh;
        background-color: #6654cb;
        position: absolute;
        top: 4vh;
        left: 0;
        display: none;
        opacity: 0;
    }

    .form, .form2, .form3
    {
        display: none;
        opacity: 0;
        background-color: #6654cb;
        background-image: url('../assets/popup-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .pre-footer
    {
      width: 69.5vw;
      height: 100px;
      margin: 0 auto;
    }

    .pre-footer h3
    {
      font-size: 12px;
      display: inline-block;
      width: 70%;
      font-family: 'Kepler';
      padding: 0;
      margin-bottom: 0;
      line-height: unset;
      margin-left: 5%;
      padding-right: 5%;
      text-transform: uppercase;
    }

    .pre-footer .angle
    {
      display: inline-block;
      margin-top: 30px;
    }

    hr
    {
      width: 69.5vw;
      margin: 20px auto;

    }

    .req
    {
      width: 69.5vw;
      margin: 2% auto;
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 40px;
      grid-column-gap: 20px;
    }

    .req .rectangle
    {
      width: calc(0.7vw + 0.6vh + 0.5vmin);
      height: calc(0.7vw + 0.6vh + 0.5vmin);
      background-color: #ffcd33;
      display: inline-block;
      margin-right: 10px;
      transform: translateY(2px);
    }

    .req h2
    {
      font-size: calc(0.8vw + 0.7vh + 0.5vmin);
      font-family: 'Kepler';
      text-transform: uppercase;
      display: inline-block;
    }

    .req ul
    {
      padding-left: 8%;
      list-style: none;
      font-family: 'Roboto';
      font-size: calc(0.5vw + 0.5vh + 0.4vmin);
    }

    .req ul li
    {
      color: #8b8b8b;
    }

    .req ul li::before {
      content: " ";
      display: inline-block;
      width: 0.5em; 
      height: 0.5em;
      margin-left: -1em; 
      margin-right: 0.5em;
      background-color: #ffcd33;
    }

    .current
    {
      color: black;
    }

    .fa 
    {
      padding: 0 10px;
    }

    .menu-goback
    {
      position: relative;
      padding-top: 7%;
      padding-left: 15.3%;
      font-family: 'Roboto';
      font-size: 10px;
      cursor: default;
    }

    .menu-goback .to-go
    {
      cursor: pointer;
      transition: 0.3s;
      color: #8b8b8b;
    }

    .menu-goback .to-go:hover
    {
      color: #6654cb;
    }

    .work-open
    {
      background-image: url('../assets/team_bg.png');
      background-size: 100vw;
      background-position: left;
      /* height: 110vh; */
      width: 100vw; 
      overflow-x: hidden !important;
    } 

    .title
    {
      font-family: 'Kepler';
      text-transform: uppercase;
      position: relative;
      padding-top: 1%;
      padding-left: 15.3%;
      width: 80%;
      font-weight: normal;
    }

    .tm
    {
        font-family: 'Kepler';
        font-weight: normal;
        font-size: 150px;
        text-transform: uppercase;
        line-height: 150px;
        color: #fbfafe;
        position: absolute;
        left: 31%;
        top: 5%;
        pointer-events: none;
    }

    .white-line
    {
        background-color: #FFF;
        width: 17.4vw;
        height: 40vh;
        position: absolute;
        left: 15.7%;
    }

    @media only screen and (max-width: 778px) 
    {
        .menu-goback
        {
          padding-top: 15%;
        }

        .tm
        {
            font-size: 20px;
            display: none;
        }

        .title h1
        {
          font-size: 25px;
        }
        
        .req
        {
          grid-template-columns: 1fr;
        }

        .req ul li
        {
          font-size: 10px;
        }

        .req h2
        {
          font-size: 15px;
        }

        .pre-footer
        {
          height: 200px;
        }

        .pre-footer h3
        {
          width: 100%;
        }

        .pre-footer .angle
        {
          width: 69.5vw;
          font-size: 2.5vw;
          height: unset;
        }

        .modal-cover
        {
          top: 5vh;
          height: 0vh;
          width: 69.5vw;
        }
    }

</style>
