<template>
  <div id="app">
    <Navbar/>
    <router-view/>
  </div>
</template>

<script>
import Navbar from './components/header.vue'

export default {
  name: 'App',
  components: {
    Navbar,
  },

}
</script>

<style>
  @import './components/style.css';
</style>
